<div class="container-fluid sales">

    <!-- Page Breadcrumb -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-7">
                <div class="page-breadcrumb-wrap">
                    <div class="page-breadcrumb-info">
                        <h2 class="breadcrumb-titles">STP Details
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <a class="btn btn-primary btn-block btn-margin pull-right"
                   href="/assets/stp_excels/ghaziabad.xlsx" target="_blank">
                    Export to xlsx
                </a>
            </div>
        </div>
    </div>
    <!-- Page Breadcrumb -->

    <!-- Order Table -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box-widget widget-module">
                <div class="widget-head clearfix">
                    <span class="h-icon"><i class="fa fa-table"></i></span>
                    <h4>Ghaziabad Headquarter</h4>
                </div>
                <div class="widget-container sales-table" #loading_box>
                    <div class="widget-block">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tr style="padding:2px;font:12px Helvetica,Arial,sans-serif;
                                            border-collapse:collapse;width:100%;border-spacing:0px;font:14px Helvetica,Arial,sans-serif;
                                             background-color:#13547a;font-weight:bold;color: white;">
                                    <td style="min-width:50px;border:solid #7090a1;">CSE HQ</td>
                                    <td style="min-width:50px;border:solid #7090a1;">Place</td>
                                    <td style="min-width:50px;border:solid #7090a1;">HQ/ Ex/Out</td>
                                    <td style="min-width:50px;border:solid #7090a1;">Number of Semis</td>
                                    <td style="min-width:50px;border:solid #7090a1;">No of retailers</td>
                                    <td style="min-width:50px;border:solid #7090a1;">Interior Town
                                        covered
                                    </td>
                                    <td style="min-width:50px;border:solid #7090a1;">No of Field
                                        working days
                                    </td>
                                    <td style="min-width:50px;border:solid #7090a1;">Synergy Market</td>
                                    <td style="min-width:50px;border:solid #7090a1;">Esgipyrine Potential (in boxes)</td>
                                </tr>
                                <tr style="background-color:#f4cccc">
                                    <td style=min-width:50px>Ghaziabad</td>
                                    <td style=min-width:50px>Ghaziabad</td>
                                    <td style=min-width:50px>HQ</td>
                                    <td style=min-width:50px>5</td>
                                    <td style=min-width:50px>60</td>
                                    <td style=min-width:50px>Ghaziabad</td>
                                    <td style=min-width:50px>2</td>
                                    <td style=min-width:50px>No</td>
                                    <td style=min-width:50px>4591</td>
                                </tr>
                                <tr style="background-color:#f4cccc">
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>Ghaziabad</td>
                                    <td style=min-width:50px>Ex</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>22</td>
                                    <td style=min-width:50px>Shahibabad</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>No</td>
                                    <td style=min-width:50px>{{ (459.10).toFixed(0) }}</td>
                                </tr>
                                <tr>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>Ghaziabad</td>
                                    <td style=min-width:50px>Ex</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>25</td>
                                    <td style=min-width:50px>Loni</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>Yes</td>
                                    <td style=min-width:50px>{{ (459.10).toFixed(0) }}</td>
                                </tr>
                                <tr style="background-color:#f4cccc">
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>Ghaziabad</td>
                                    <td style=min-width:50px>Ex</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>20</td>
                                    <td style=min-width:50px>Sikandrabad</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>No</td>
                                    <td style=min-width:50px>{{ (187.50).toFixed(0) }}</td>
                                </tr>
                                <tr>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>Ghaziabad</td>
                                    <td style=min-width:50px>Ex</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>20</td>
                                    <td style=min-width:50px>Kasna/surajpur/Dankaur</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>Yes</td>
                                    <td style=min-width:50px>75</td>
                                </tr>
                                <tr>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>Ghaziabad</td>
                                    <td style=min-width:50px>Ex</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>20</td>
                                    <td style=min-width:50px>Dadri, Chaprauli/Lalkuan</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>Yes</td>
                                    <td style=min-width:50px>{{ (459.10).toFixed(0) }}</td>
                                </tr>
                                <tr style="background-color:#f4cccc">
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>Ghaziabad</td>
                                    <td style=min-width:50px>Ex</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>20</td>
                                    <td style=min-width:50px>Vaishali/indirapuram</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>No</td>
                                    <td style=min-width:50px>{{ (459.10).toFixed(0) }}</td>
                                </tr>
                                <tr style="background-color:#f4cccc">
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>Hapur</td>
                                    <td style=min-width:50px>EX</td>
                                    <td style=min-width:50px>4</td>
                                    <td style=min-width:50px>22</td>
                                    <td style=min-width:50px>Hapur</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>No</td>
                                    <td style=min-width:50px>{{ (786.09).toFixed(0) }}</td>
                                </tr>
                                <tr>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>Hapur</td>
                                    <td style=min-width:50px>EX</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>20</td>
                                    <td style=min-width:50px>Babugarh+Simbholi+ Buxar</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>Yes</td>
                                    <td style=min-width:50px>{{ (298.15).toFixed(0) }}</td>
                                </tr>
                                <tr>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>Hapur</td>
                                    <td style=min-width:50px>EX</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>25</td>
                                    <td style=min-width:50px>Garhmukteshwar</td>
                                    <td style=min-width:50px>2</td>
                                    <td style=min-width:50px>Yes</td>
                                    <td style=min-width:50px>{{ (471.60).toFixed(0) }}</td>
                                </tr>
                                <tr>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>Hapur</td>
                                    <td style=min-width:50px>EX</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>25</td>
                                    <td style=min-width:50px>Pilkhuwa +Masuri+Dasna</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>Yes</td>
                                    <td style=min-width:50px>{{ (459.10).toFixed(0) }}</td>
                                </tr>
                                <tr>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>Modinagar</td>
                                    <td style=min-width:50px>Ex</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>20</td>
                                    <td style=min-width:50px>Modinagar interiors</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>Yes</td>
                                    <td style=min-width:50px>{{ (1093.50).toFixed(0) }}</td>
                                </tr>
                                <tr>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>Modinagar</td>
                                    <td style=min-width:50px>Ex</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>50</td>
                                    <td style=min-width:50px>Modinagar interiors</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>Yes</td>
                                    <td style=min-width:50px>{{ (1093.50).toFixed(0) }}</td>
                                </tr>
                                <tr>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>Modinagar</td>
                                    <td style=min-width:50px>Ex</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>20</td>
                                    <td style=min-width:50px>Muradnagar</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>Yes</td>
                                    <td style=min-width:50px>{{ (459.10).toFixed(0) }}</td>
                                </tr>
                                <tr style="background-color:#f4cccc">
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>Bulandshahr</td>
                                    <td style=min-width:50px>Out</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>40</td>
                                    <td style=min-width:50px>Bulandshahr</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>No</td>
                                    <td style=min-width:50px>{{ (1230.59).toFixed(0) }}</td>
                                </tr>
                                <tr style="background-color:#f4cccc">
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>Bulandshahr</td>
                                    <td style=min-width:50px>Out</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>25</td>
                                    <td style=min-width:50px>Khurja</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>No</td>
                                    <td style=min-width:50px>440</td>
                                </tr>
                                <tr style="background-color:#f4cccc">
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>Bulandshahr</td>
                                    <td style=min-width:50px>Out</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>20</td>
                                    <td style=min-width:50px>Anoopshahr</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>No</td>
                                    <td style=min-width:50px>{{ (128.19).toFixed(0) }}</td>
                                </tr>
                                <tr>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>Bulandshahr</td>
                                    <td style=min-width:50px>Out</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>20</td>
                                    <td style=min-width:50px>Khanpur</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>Yes</td>
                                    <td style=min-width:50px>{{ (126.80).toFixed(0) }}</td>
                                </tr>
                                <tr>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>20</td>
                                    <td style=min-width:50px>Pahasu</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>Yes</td>
                                    <td style=min-width:50px>{{ (109.60).toFixed(0) }}</td>
                                </tr>
                                <tr>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>Bulandshahr</td>
                                    <td style=min-width:50px>Out</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>20</td>
                                    <td style=min-width:50px>Aurangabad</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>Yes</td>
                                    <td style=min-width:50px>{{ (175.80).toFixed(0) }}</td>
                                </tr>
                                <tr style="background-color:#f4cccc">
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>Bulandshahr</td>
                                    <td style=min-width:50px>Out</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>20</td>
                                    <td style=min-width:50px>JHANGIRABAD</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>No</td>
                                    <td style=min-width:50px>{{ (512.79).toFixed(0) }}</td>
                                </tr>
                                <tr style="background-color:#f4cccc">
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>Bulandshahr</td>
                                    <td style=min-width:50px>Out</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>20</td>
                                    <td style=min-width:50px>Shikarpur</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>No</td>
                                    <td style=min-width:50px>{{ (351.60).toFixed(0) }}</td>
                                </tr>
                                <tr>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>Bulandshahr</td>
                                    <td style=min-width:50px>Out</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>20</td>
                                    <td style=min-width:50px>Siana & Bugrasi</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>Yes</td>
                                    <td style=min-width:50px>317</td>
                                </tr>
                                <tr style="background-color: #ddd9c3">
                                    <td style=min-width:50px>TOTAL</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>9</td>
                                    <td style=min-width:50px>574</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>25</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Order Table -->
</div>