<div class="container-fluid tours">

    <!-- Page Breadcrumb -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-7">
                <div class="page-breadcrumb-wrap">
                    <div class="page-breadcrumb-info">
                        <h2 class="breadcrumb-titles">Monthly Tour Program
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-5 pull-right">
                <a class="btn btn-primary" (click)="excel_download()">Excel Download</a>
            </div>
        </div>
    </div>
    <!-- Page Breadcrumb -->

    <!-- Tour Monthly body -->
    <div class="row">

        <!-- Calendar view -->
        <div class="col-xs-12 col-md-6" #loading_box>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <month-picker [month]="month" [year]="year"
                                  (onMonthYearChanged)="monthYearChanged($event)"></month-picker>
                </div>
            </div>

            <tour-calendar-select [month]="month" [year]="year" [tours]="tours"
                                        [holidays]="holidays" (onTourSelected)="onTourSelected($event)">

            </tour-calendar-select>
        </div>
        <!-- Calendar view -->

        <!-- Create Tour View -->
        <div class="col-xs-12 col-md-6" *ngIf="tour">
            <div>
                <daily-tour [tour]="tour" (tourDeleted)="tourDeleted($event)"></daily-tour>
            </div>
            <add-tour [date]="tour.date" (tourCreated)="tourCreated($event)"></add-tour>
        </div>
        <div class="col-xs-12 col-md-6" *ngIf="!tour">
            <div class="box-widget widget-module no-border create_attendance">
                <!-- Type of attendance -->
                <div class="widget-container">
                    <div class="widget-block">
                        <div class="row">
                            <div class="col-xs-12">
                                Click On Any Date to View Tours
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Create Tour View -->
    </div>
    <!-- ./Tour Monthly body -->
</div>
