<div class="box-widget widget-module daily_tour">
    <div class="widget-head clearfix">
        <span class="h-icon"><i class="fa fa-table"></i></span>
        <h4>Tours of <span [innerHTML]="title"></span></h4>
    </div>
    <div class="widget-container" #loading_box>
        <div class="widget-block">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Territory</th>
                        <th>Brick</th>
                        <th>Actions</th>
                    </tr>
                    </thead>

                    <tfoot>
                    <tr>
                        <th>Territory</th>
                        <th>Brick</th>
                        <th>Actions</th>
                    </tr>
                    </tfoot>

                    <tbody>
                    <tr *ngFor="let t of tours">
                        <td>{{ t.hq_territory.name }}</td>
                        <td>{{ t.hq_brick?.name }}</td>
                        <td>
                            <button class="btn btn-danger btn-xs" (click)="deleteTour(t)">
                                Delete
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="tours.length <= 0">
                        <td colspan="3">No Tours Added</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>