<div class="left-aside desktop-view">
    <!-- Logo image -->
    <div class="aside-branding">
        <a href="index.html" class="large-logo">
            <img src="/assets/images/channelitix.png" alt="Matmix Logo">
        </a>
        <span class="aside-pin waves-effect"><i class="fa fa-thumb-tack"></i></span>
        <span class="aside-close waves-effect"><i class="fa fa-times"></i></span>
    </div>
    <!-- ./Logo image -->

    <!-- Navigation items -->
    <div class="left-navigation">
        <ul class="list-accordion">
            <li *ngIf="!_auth_service.user?.isAdmin">
                <a class="waves-effect" routerLink="/attendances/monthly">
                    <span class="nav-icon"><i class="fa fa-calendar"></i></span>
                    <span class="nav-label">Daily Work Report</span>
                </a>
            </li>
            <li *ngIf="_auth_service.user?.isArea">
                <a class="waves-effect" routerLink="/bricks">
                    <span class="nav-icon"><i class="fa fa-map"></i></span>
                    <span class="nav-label">Bricks Master</span>
                </a>
            </li>
            <li *roleCheck="4">
                <a>
                    <span class="nav-icon">
                        <i class="fa fa-pie-chart"></i>
                    </span>
                    <span class="nav-label">Reports</span>
                </a>
                <ul>
                    <li>
                        <a class="waves-effect" routerLink="/attendances">
                            <span class="nav-icon"><i class="fa fa-calendar"></i></span>
                            <span class="nav-label">Daily Work Reporting</span>
                        </a>
                    </li>
                    <li>
                        <a class="waves-effect" routerLink="/tours">
                            <span class="nav-icon"><i class="fa fa-map-marker"></i></span>
                            <span class="nav-label">Tour Program Report</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li *ngIf="_auth_service.user?.isAdmin">
                <a class="waves-effect" [routerLink]="['/stps', _auth_service.user.hq_country_id]">
                    <span class="nav-icon"><i class="fa fa-map-signs"></i></span>
                    <span class="nav-label">Standard Tour Program</span>
                </a>
            </li>
            <li *ngIf="_auth_service.user?.isRegion">
                <a class="waves-effect"
                   [routerLink]="['/stps', _auth_service.user.hq_country_id, 'regions', _auth_service.user.hq_region_id]">
                    <span class="nav-icon"><i class="fa fa-map-signs"></i></span>
                    <span class="nav-label">Standard Tour Program</span>
                </a>
            </li>
            <li *ngIf="_auth_service.user?.isArea">
                <a class="waves-effect"
                   [routerLink]="['/stps', _auth_service.user.hq_country_id, 'regions', _auth_service.user.hq_region_id, 'areas', _auth_service.user.hq_area_id]">
                    <span class="nav-icon"><i class="fa fa-map-signs"></i></span>
                    <span class="nav-label">Standard Tour Program</span>
                </a>
            </li>
            <li *ngIf="_auth_service.user?.isHeadquarter">
                <a class="waves-effect"
                   [routerLink]="['/stps', _auth_service.user.hq_country_id, 'regions', _auth_service.user.hq_region_id, 'areas', _auth_service.user.hq_area_id, 'headquarters', _auth_service.user.hq_headquarter_id]">
                    <span class="nav-icon"><i class="fa fa-map-signs"></i></span>
                    <span class="nav-label">Standard Tour Program</span>
                </a>
            </li>
            <li>
                <a class="waves-effect" routerLink="/customers">
                    <span class="nav-icon"><i class="fa fa-database"></i></span>
                    <span class="nav-label">Customer Database</span>
                </a>
            </li>
            <li>
                <a class="waves-effect" routerLink="/users" *roleCheck="4">
                    <span class="nav-icon"><i class="fa fa-address-book"></i></span>
                    <span class="nav-label">User Management</span>
                </a>
            </li>
            <li *ngIf="_auth_service.user?.isHeadquarter">
                <a class="waves-effect" routerLink="/tours/monthly">
                    <span class="nav-icon"><i class="fa fa-map-marker"></i></span>
                    <span class="nav-label">Tour Program</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- ./Navigation items -->
</div>
