<div class="container-fluid users">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-4">
                <div class="page-breadcrumb-wrap">
                    <div class="page-breadcrumb-info">
                        <h2 class="breadcrumb-titles">Create Brick
                            <small>Create Brick Form</small>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Breadcrumb -->

    <!-- Brick Form -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box-widget widget-module">
                <div class="widget-head clearfix">
                    <span class="h-icon"><i class="fa fa-bars"></i></span>
                    <h4>Create Brick Form</h4>
                </div>
                <div class="widget-container" #loading_box>
                    <div class=" widget-block">
                        <form class="cmxform" [formGroup]="form" (ngSubmit)="save($event)" novalidate>
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <div class="page-header">
                                        <h2>Brick Details</h2>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="row">
                                        <!-- Brick Name -->
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label">Brick Name (required)</label>
                                                <div class="">
                                                    <input formControlName="name" class="form-control" type="text">
                                                    <small *ngIf="errors?.name" class="text-danger text-center">
                                                        {{ errors.name}}
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Brick Name -->

                                        <!-- Station Name -->
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <station-select [value]="station"
                                                                (onValueChanged)="stationChanged($event)"></station-select>
                                                <small *ngIf="errors?.station" class="text-danger text-center">
                                                    {{ errors.station}}
                                                </small>
                                            </div>
                                        </div>
                                        <!-- Station Name -->

                                        <!-- Head quarter select -->
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <headquarter-select [value]="hq_headquarter_id"
                                                                    [title]="'Select Head Quarter(required)'"
                                                                    [first_value]="'Select Head Quarter'"
                                                                    (onValueChanged)="headquarterChanged($event)"></headquarter-select>

                                                <small *ngIf="errors?.hq_headquarter_id"
                                                       class="text-danger text-center">
                                                    {{ errors.hq_headquarter_id}}
                                                </small>
                                            </div>
                                        </div>
                                        <!-- ./Head quarter select -->

                                        <!-- Territory select -->
                                        <div class="col-xs-12" *ngIf="hq_headquarter_id > 0">
                                            <div class="form-group">
                                                <territory-select [value]="hq_territory_id"
                                                                  [headquarter_id]="hq_headquarter_id"
                                                                  [title]="'Select Territory'"
                                                                  [first_value]="'Select Territory'"
                                                                  (onValueChanged)="territoryChanged($event)"></territory-select>
                                                <small *ngIf="errors?.hq_territory_id"
                                                       class="text-danger text-center">
                                                    {{ errors.hq_territory_id}}
                                                </small>
                                            </div>
                                        </div>
                                        <!-- ./Territory select -->
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <!-- No Of Work Days -->
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label" for="nowdname">No Of Work Days
                                                (required)</label>
                                            <div class="">
                                                <input formControlName="no_of_work_days" class="form-control"
                                                       type="text">
                                                <small *ngIf="errors?.no_of_work_days"
                                                       class="text-danger text-center">
                                                    {{ errors.no_of_work_days}}
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- No Of Work Days -->

                                    <!-- Expected Business -->
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label" for="ebname">Expected Business
                                                (required)</label>
                                            <div class="">
                                                <input formControlName="expected_business" class="form-control"
                                                       type="text">
                                                <small *ngIf="errors?.expected_business"
                                                       class="text-danger text-center">
                                                    {{ errors.expected_business}}
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Expected Business -->

                                    <!-- Distance From HQ -->
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label" for="dfhname">Distance From HQ
                                                (required)</label>
                                            <div class="">
                                                <input formControlName="distance_from_hq" class="form-control"
                                                       type="text">
                                                <small *ngIf="errors?.distance_from_hq"
                                                       class="text-danger text-center">
                                                    {{ errors.distance_from_hq}}
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Distance From HQ -->
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-xs-12 form-group">
                                    <div class="form-actions text-center">
                                        <button type="submit" class="btn btn-primary">CREATE</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Brick Form -->
</div>
