<div class="box-widget widget-module daily_tour">
  <div class="widget-head clearfix">
    <span class="h-icon"><i class="fa fa-table"></i></span>
    <h4>Headquarters {{ _title }}</h4>
  </div>
  <div class="widget-container" #loading_box>
    <div class="widget-block">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Region</th>
            <th>Area</th>
            <th>Headquarter</th>
            <th>Territory</th>
            <th>Brick</th>
            <th>Norms</th>
          </tr>
          </thead>

          <tbody>
          <template ngFor let-brick [ngForOf]="bricks">
            <tr>
              <td>{{ brick.hq_territory?.hq_headquarter?.hq_area?.hq_region?.name }}</td>
              <td>{{ brick.hq_territory?.hq_headquarter?.hq_area?.name }}</td>
              <td>{{ brick.hq_territory?.hq_headquarter?.name }}</td>
              <td>{{ brick.hq_territory?.name }}</td>
              <td>{{ brick?.name }}</td>
              <td>{{ brick?.norm }}</td>
            </tr>
          </template>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
