<div class="container-fluid users">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <div class="page-breadcrumb-wrap">
                    <div class="page-breadcrumb-info">
                        <h2 class="breadcrumb-titles">
                            User Working Location Map
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Breadcrumb -->

    <!-- Reset Password Form -->
    <div class="row" style="height: 400px;">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div class="box-widget widget-module">
                <div class="widget-container" #loading_box>
                    <div class=" widget-block">
                        <div class="row">

                            <div class="col-xs-12">
                                <div id="user_location_maps" style="width: 100%; height: 300px;">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Reset Password Form -->
</div>
