.image-circle {
  border-radius: 50%;
  background-color: #0c4269;
  padding: 5%;
}

.task-completed {
  background-color: #ecf0f1;

  &:hover {
    background-color: #ecf0f1;
  }
}

.task-title{
  text-align: center;
}

.details-table {
  .widget-block {
    padding: 0;
  }
}