<div class="login-page">
  <div class="page-container">
    <div class="login-branding">
      <a href="index.html"><img src="/assets/images/logo-large.png" alt="logo"></a>
    </div>
    <div class="login-container">
      <img class="login-img-card" src="/assets/images/avatar/jaman-01.jpg" alt="login thumb"/>

      <form class="form-signin">
        <input type="text" id="inputEmail" class="form-control floatlabel" placeholder="Email Address" required
               autofocus>
        <input type="password" id="inputPassword" class="form-control floatlabel " placeholder="Password" required>
        <button class="btn btn-primary btn-block btn-signin" type="submit">Sign In</button>
      </form>

      <a href="#" class="forgot-password">Forgot the password?</a>
    </div>
    <div class="create-account">
      <a href="#">Create Account</a>
    </div>

    <div class="login-footer">
      Crafted with<i class="fa fa-heart"></i>by <a href="#">Goapptiv</a>
    </div>
  </div>
</div>
