<div class="login-page">
  <div class="page-container">
    <div class="login-branding">
      <a href="index.html"><img src="/assets/images/channelitix.png" alt="logo"></a>
    </div>
    <div class="login-container">

      <form class="form-signin">
        <input type="text" class="form-control floatlabel" placeholder="Username" required
               autofocus>
        <input type="password" class="form-control floatlabel " placeholder="Password" required>
        <button class="btn btn-primary btn-block btn-signin" type="submit">Sign In</button>
      </form>

      <a href="#" class="forgot-password">Forgot the password?</a>
    </div>
    <div class="create-account">
      <a href="#">Create Account</a>
    </div>

    <div class="login-footer">
      Crafted by <a href="#">GoApptiv</a>
    </div>
  </div>
</div>
