<div class="box-widget widget-module user_tour">
    <div class="widget-container" #loading_box>
        <div class="widget-block">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Code</th>
                        <th>Stockist</th>
                        <th>Qty</th>
                        <th>Total Amount</th>
                    </tr>
                    </thead>

                    <tfoot>
                    <tr>
                        <th></th>
                        <th>Code</th>
                        <th>Stockist</th>
                        <th>Qty</th>
                        <th>Total Amount</th>
                    </tr>
                    </tfoot>

                    <tbody>
                    <tr class="grey">
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="">Total</th>
                        <th class="align-right"><i class="fa fa-rupee"></i> {{ total_amount | number }}</th>
                    </tr>
                    <template ngFor let-item [ngForOf]="invoice_details" let-i="index">
                        <tr>
                            <td>{{ i+1 }}</td>
                            <td>
                                {{ item.customer?.code }}
                            </td>
                            <td>
                                {{ item.customer?.firm_name }}
                            </td>
                            <td>{{ item.total_qty }}</td>
                            <td><i class="fa fa-rupee"></i> {{ item.total_net_amount | number }}</td>
                        </tr>
                    </template>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>