<div class="box-widget widget-module user_tour">
    <div class="widget-head clearfix">
        <span class="h-icon"><i class="fa fa-table"></i></span>
        <h4>Stockist Wise Details for {{ invoice.customer.firm_name}}</h4>
    </div>
    <div class="widget-container" #loading_box>
        <div class="widget-block">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Stockist</th>
                        <th>Qty</th>
                        <th>Total Amount</th>
                    </tr>
                    </thead>

                    <tfoot>
                    <tr>
                        <th>Stockist</th>
                        <th>Qty</th>
                        <th>Total Amount</th>
                    </tr>
                    </tfoot>

                    <tbody>
                    <template ngFor let-item [ngForOf]="invoice_details">
                        <tr>
                            <td>
                                {{ item.customer?.name }}
                            </td>
                            <td>{{ item.total_qty }}</td>
                            <td>{{ item.total_net_amount }}</td>
                        </tr>
                    </template>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>