<div class="container-fluid bricks">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-4">
                <div class="page-breadcrumb-wrap">
                    <div class="page-breadcrumb-info">
                        <h2 class="breadcrumb-titles">Bricks
                            <small>List all Bricks</small>
                        </h2>
                        <ul class="list-page-breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active-page"> Bricks</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-2 pull-right" *roleCheck="ROLE_CSM">
                <div style="padding-top: 30px;">
                  <a class="btn btn-primary" (click)="createBrick()">Create Brick</a>
                </div>
            </div>
            <div class="col-md-2 pull-right">
                <div style="padding-top: 30px;">
                    <a class="btn btn-primary" (click)="excel_download()">Excel Download</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Breadcrumb -->

    <!-- Bricks Table -->
    <div class="row">
        <div class="col-xs-12">
          <a class="btn btn-default" [routerLink]="['/territories/zones', _zone_id, 'regions',_region_id, 'areas',
          _area_id, 'headquarters', _headquarter_id, 'territories']">
            <i class="fa fa-arrow-left"></i> Back
          </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box-widget widget-module">
                <div class="widget-head clearfix">
                    <span class="h-icon"><i class="fa fa-table"></i></span>
                    <h4>Bricks Table</h4>

                </div>
                <div class="widget-container brick-table" #loading_box>
                    <div class="widget-block">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Headquarter</th>
                                    <th>Territory</th>
                                    <th>Brick</th>
                                    <th>HQ/OS/EX</th>
                                    <th>No Of Work Days</th>
                                    <th>Expected Business</th>
                                    <th>Distance From HQ</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>

                                <tfoot>
                                <tr>
                                    <th>Headquarter</th>
                                    <th>Territory</th>
                                    <th>Brick</th>
                                    <th>HQ/OS/EX</th>
                                    <th>No Of Work Days</th>
                                    <th>Expected Business</th>
                                    <th>Distance From HQ</th>
                                    <th>Actions</th>
                                </tr>
                                </tfoot>

                                <tbody>
                                <tr *ngFor="let b of bricks">
                                    <td>{{ b.hq_territory.hq_headquarter.name}}</td>
                                    <td>{{ b.hq_territory.name }}</td>
                                    <td>{{ b.name }}</td>
                                    <td>{{ b.station }}</td>
                                    <td>{{ b.no_of_work_days }}</td>
                                    <td>{{ b.expected_business }}</td>
                                    <td>{{ b.distance_from_hq }}</td>
                                    <td>
                                        <a class="text-primary" style="cursor: pointer;" title="Update"
                                           (click)="updateBrick(b.id)">Edit</a>
                                        <button class="btn btn-xs btn-danger" (click)="deactivate(b.id)">Deactivate</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Bricks Table -->
</div>
