<div class="container-fluid users">
  <!-- Page Breadcrumb -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-md-4">
        <div class="page-breadcrumb-wrap">
          <div class="page-breadcrumb-info">
            <h2 class="breadcrumb-titles">Users
              <small>List all all Users</small>
            </h2>
            <ul class="list-page-breadcrumb">
              <li><a href="#">Home</a></li>
              <li class="active-page"> Users</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row" style="padding-top: 20px;">
          <div class="col-xs-12 col-md-4" *roleCheck="4">
            <role-select [value]="role_id" (onValueChanged)="roleChanged($event)"></role-select>
          </div>
          <div class="col-xs-12 col-md-4" *ngIf="manager_role_id > 0">
            <user-select [role_id]="manager_role_id" [value]="manager_id" [title]="'Select Manager'"
                        (onValueChanged)="managerChanged($event)"></user-select>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div style="padding-top: 30px;">
          <a class="btn btn-primary" routerLink="/users/create">Create User</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Breadcrumb -->

  <!-- Users Table -->
  <div class="row">
    <div class="col-xs-12">
      <div class="box-widget widget-module">
        <div class="widget-head clearfix">
          <span class="h-icon"><i class="fa fa-table"></i></span>
          <h4>Users Table</h4>

        </div>
        <div class="widget-container user-table" #loading_box>
          <div class="widget-block">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>Full Name</th>
                  <th>Username</th>
                  <th>Mobile</th>
                  <th>Joining Date</th>
                  <th>Leaving Date</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
                </thead>

                <tfoot>
                <tr>
                  <th>Full Name</th>
                  <th>Username</th>
                  <th>Mobile</th>
                  <th>Joining Date</th>
                  <th>Leaving Date</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
                </tfoot>

                <tbody>
                <tr *ngFor="let u of users">
                  <td>{{ u.full_name }}</td>
                  <td>{{ u.username }}</td>
                  <td>{{ u.mobile }}</td>
                  <td>{{ u.joining_date | date:'d MMMM, y' }}</td>
                  <td>{{ u.leaving_date }}</td>
                  <td class="text-center">
                    <i status [field]="u.status"></i>
                  </td>
                  <td>
                    <a class="text-primary" style="cursor: pointer;" title="Update" (click)="updateUser(u.id)"><i class="fa fa-edit"></i></a>
                    <button class="btn btn-danger btn-xs" (click)="deactivateUser(u)" *ngIf="u.status == 'active'">
                      Deactivate
                    </button>
                    <button class="btn btn-primary btn-xs" (click)="passwordReset(u)">
                      Reset Password
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ./Users Table -->

  <div class="row">
    <div class="col-xs-12">
      <deactivate-user [user]="deactivating_user" (userDeactivated)="onUserDeactivation($event)"></deactivate-user>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <password-reset [user]="reset_password" (passwordReset)="onPasswordReset($event)"></password-reset>
    </div>
  </div>
</div>
