<div class="container-fluid users" #loading_box>
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-4">
                <div class="page-breadcrumb-wrap">
                    <div class="page-breadcrumb-info">
                        <h2 class="breadcrumb-titles"> Stockist Wise
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Breadcrumb -->

    <div class="row">
        <div class="col-xs-12 col-md-2">
            <month-picker [month]="month" [year]="year" (onMonthYearChanged)="monthYearChanged($event)"></month-picker>
        </div>
        <div class="col-md-10">
            <div class="col-xs-12 col-md-2" *roleCheck="ROLE_ADMIN">
                <region-select [value]="region_id" [title]="'Select Region'"
                               (onValueChanged)="regionChanged($event)"></region-select>
            </div>
            <div class="col-xs-12 col-md-2" *roleCheck="ROLE_ZSM">
                <div *ngIf="region_id > 0">
                    <area-select [value]="area_id" [region_id]="region_id" [title]="'Select Area'"
                                 (onValueChanged)="areaChanged($event)"></area-select>
                </div>
            </div>
            <div class="col-xs-12 col-md-3" *roleCheck="ROLE_CSM">
                <div *ngIf="area_id > 0">
                    <headquarter-select [value]="headquarter_id" [area_id]="area_id"
                                        [title]="'Select Head Quarter'"
                                        (onValueChanged)="headquarterChanged($event)"></headquarter-select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12" *roleCheck="ROLE_ZSM">
            <div>
                <div class="col-xs-12">
                    <div class="box-widget widget-module">
                        <div>
                            <div class="widget-container report-table">
                                <div class="widget-block">
                                    <div class="table-responsive">
                                        <table class="table table-bordered visit_table">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th colspan="2"> 2016 Average </th>
                                                <th colspan="2"> Jun-17</th>
                                                <th colspan="2"> Shortfall June</th>
                                                <th colspan="2" class="green">July Expected sales</th>
                                                <th colspan="2" class="green">Tracking</th>
                                            </tr>
                                            <tr>
                                                <th>Region</th>
                                                <th>Area</th>
                                                <th>Headquarters</th>
                                                <th>Stockist Code</th>
                                                <th>Name of the Stickst</th>
                                                <th>Segment</th>
                                                <th>Total</th>
                                                <th>Dexona</th>
                                                <th>Total</th>
                                                <th>Dexona</th>
                                                <th>Total</th>
                                                <th>Dexona</th>
                                                <th>Total</th>
                                                <th>Dexona</th>
                                                <th>Visit</th>
                                                <th>Primary Sales</th>
                                            </tr>
                                            </thead>

                                            <tfoot>
                                            <tr>
                                                <th>Region</th>
                                                <th>Area</th>
                                                <th>Headquarters</th>
                                                <th>Stockist Code</th>
                                                <th>Name of the Stickst</th>
                                                <th>Segment</th>
                                                <th>Total</th>
                                                <th>Dexona</th>
                                                <th>Total</th>
                                                <th>Dexona</th>
                                                <th>Total</th>
                                                <th>Dexona</th>
                                                <th>Total</th>
                                                <th>Dexona</th>
                                                <th>Visit</th>
                                                <th>Primary Sales</th>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th colspan="2"> 2016 Average </th>
                                                <th colspan="2"> Jun-17</th>
                                                <th colspan="2"> Shortfall June</th>
                                                <th colspan="2" class="green">July Expected sales</th>
                                                <th colspan="2" class="green">Tracking</th>
                                            </tr>
                                            </tfoot>

                                            <tbody>
                                            <tr *ngFor="let customer of customers">
                                                <th>{{customer.hq_region.name}}</th>
                                                <th>{{customer.hq_area.name}}</th>
                                                <th>{{customer.hq_headquarter.name}}</th>
                                                <th>{{customer.code}}</th>
                                                <th>{{customer.firm_name}}</th>
                                                <th>{{customer.customer_type.name}}</th>
                                                <th>{{customer.last_year_sale}}</th>
                                                <th>{{customer.last_year_dexona_sale}}</th>
                                                <th>{{customer.last_month_sale}}</th>
                                                <th>{{customer.last_month_dexona_sale}}</th>
                                                <th>Total</th>
                                                <th>Dexona</th>
                                                <th>Total</th>
                                                <th>Dexona</th>
                                                <th>Visit</th>
                                                <th>Primary Sales</th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Users Table -->
</div>
