<div class="topics-list" #loading_box>
  <div class="topic-container new-ticket">
    <div class="row summary">
      <div class="col-xs-12">
        <div class="box-widget widget-module">
          <div class="widget-head clearfix">
            <span class="h-icon"><i class="fa fa-table"></i></span>
            <h4> Months Summary Report</h4>
          </div>
          <div class="widget-container details-table">
            <div class="widget-block">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th colspan="1">Customer type</th>
                    <th colspan="1">Call average</th>
                    <th colspan="1">Total customers met</th>
                    <th style="background-color: #ecf0f1;"></th>
                    <th colspan="2">Additional info</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th>Stockist</th>
                    <td>{{ field_work_days > 0 ? (total_stockist_met/field_work_days).toFixed(2) : 0 }}
                    <td>{{ total_stockist_meet > 0 ? total_stockist_meet : 0 }}</td>
                    <td style="background-color: #ecf0f1;"></td>
                    <th>Total Fieldwork days</th>
                    <td>{{ field_work_days }}</td>
                  </tr>
                  <tr>
                    <th>Semi stockist</th>
                    <td>{{ field_work_days > 0 ? (total_semi_met/field_work_days).toFixed(2) : 0 }}
                    <td>{{ total_semi_meet > 0 ? total_semi_meet : 0 }}</td>
                    <td style="background-color: #ecf0f1;"></td>
                    <th>Total visits</th>
                    <td>{{ total_visits }}</td>
                  </tr>
                  <tr>
                    <th>Retailer</th>
                    <td>{{ field_work_days > 0 ? (total_retailer_met/field_work_days).toFixed(2) : 0 }}
                    <td>{{ total_retailer_meet > 0 ? total_retailer_meet : 0 }}</td>
                    <td style="background-color: #ecf0f1;"></td>
                    <th>Total POB (self)</th>
                    <td>{{ total_pob_self.toFixed(0) }}</td>
                  </tr>
                  <tr>
                    <th *ngIf="environment.projectName != 'TX'">Control chemist</th>
                    <th *ngIf="environment.projectName == 'TX'"></th>
                    <td *ngIf="environment.projectName != 'TX'">{{ field_work_days > 0 ? (total_chemist_met/field_work_days).toFixed(2) : 0 }}</td>
                    <td *ngIf="environment.projectName == 'TX'"></td>
                    <td *ngIf="environment.projectName != 'TX'" >{{ total_chemist_meet > 0 ? total_chemist_meet : 0 }}</td>
                    <td *ngIf="environment.projectName == 'TX'" ></td>
                    <td style="background-color: #ecf0f1;"></td>
                    <th>Total POB (Jointwork)</th>
                    <td>{{ total_pob_with.toFixed(0) }}</td>
                  </tr>
                  <tr>
                    <th *ngIf="environment.projectName != 'TX'">Healthcare provider</th>
                    <th *ngIf="environment.projectName == 'TX'"></th>
                    <td *ngIf="environment.projectName != 'TX'">{{ field_work_days > 0 ? (total_dr_met/field_work_days).toFixed(2) : 0 }}
                    <td *ngIf="environment.projectName == 'TX'"></td>
                    <td *ngIf="environment.projectName != 'TX'">{{ total_dr_meet > 0 ? total_dr_meet : 0 }}</td>
                    <td *ngIf="environment.projectName == 'TX'"></td>
                    <td style="background-color: #ecf0f1;"></td>
                    <th>Total leaves</th>
                    <td>{{ leave }}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
