<div class="box-widget widget-module daily_tour">
  <div class="widget-head clearfix">
    <span class="h-icon"><i class="fa fa-table"></i></span>
    <h4>Areas {{ _title }}</h4>
  </div>
  <div class="widget-container" #loading_box>
    <div class="widget-block">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Region</th>
            <th>Norms</th>
          </tr>
          </thead>

          <tbody>
          <template ngFor let-region [ngForOf]="regions">
            <tr>
              <td>{{ region?.name }}</td>
              <td>{{ region?.norm }}</td>
            </tr>
          </template>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
