<div class="container-fluid users" #loading_box>
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-4">
                <div class="page-breadcrumb-wrap">
                    <div class="page-breadcrumb-info">
                        <h2 class="breadcrumb-titles">Executive Summary Report
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Breadcrumb -->

    <div class="row">
        <div class="col-xs-12 col-md-3">
            <month-picker [month]="month" [year]="year" (onMonthYearChanged)="monthYearChanged($event)"></month-picker>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12" *roleCheck="ROLE_ZSM">
            <div class="row" *ngFor="let region of regions">
                <div class="col-xs-12">
                    <div class="box-widget widget-module">
                        <div class="widget-head clearfix">
                            <span class="h-icon"><i class="fa fa-table"></i></span>
                            <h4><strong>{{ region.name }}</strong></h4>
                        </div>
                        <div>
                            <div class="widget-container report-table">
                                <div class="widget-block">
                                    <div class="table-responsive">
                                        <table class="table table-bordered visit_table">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <template [ngIf]="environment.envName != 'sk_group'">
                                                    <th colspan="3" class="grey">
                                                        Primary Sale
                                                    </th>
                                                </template>
                                                <th colspan="3">POB</th>
                                                <th class="grey">Call Avg</th>
                                                <th colspan="3">Total</th>
                                                <th colspan="4">Stockist</th>
                                                <th colspan="3" class="grey">Semi</th>
                                                <th colspan="3">Retailer</th>
                                                <th colspan="3" class="grey">Hub</th>
                                                <th colspan="3">Physician</th>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th>Headquarters</th>
                                                <template [ngIf]="environment.envName != 'sk_group'">
                                                    <th class="grey">Tgt</th>
                                                    <th class="grey">Ach</th>
                                                    <th class="grey">% Ach</th>
                                                </template>
                                                <th>Tgt</th>
                                                <th>Ach</th>
                                                <th>% Ach</th>
                                                <th class="grey"></th>
                                                <th>Customer</th>
                                                <th>Met</th>
                                                <th>% Cov</th>
                                                <th>A/B</th>
                                                <th>V1</th>
                                                <th>V2</th>
                                                <th>V3</th>
                                                <th class="grey">Total</th>
                                                <th class="grey">Met</th>
                                                <th class="grey">% Cov</th>
                                                <th>Total</th>
                                                <th>Met</th>
                                                <th>% Cov</th>
                                                <th class="grey">Total</th>
                                                <th class="grey">Met</th>
                                                <th class="grey">% Cov</th>
                                                <th>Total</th>
                                                <th>Met</th>
                                                <th>% Cov</th>
                                            </tr>
                                            </thead>

                                            <tfoot>
                                            <tr>
                                                <th></th>
                                                <th>Headquarters</th>
                                                <template [ngIf]="environment.envName != 'sk_group'">
                                                    <th class="grey">Tgt</th>
                                                    <th class="grey">Ach</th>
                                                    <th class="grey">% Ach</th>
                                                </template>
                                                <th>Tgt</th>
                                                <th>Ach</th>
                                                <th>% Ach</th>
                                                <th class="grey"></th>
                                                <th>Customer</th>
                                                <th>Met</th>
                                                <th>% Cov</th>
                                                <th>A/B</th>
                                                <th>V1</th>
                                                <th>V2</th>
                                                <th>V3</th>
                                                <th class="grey">Total</th>
                                                <th class="grey">Met</th>
                                                <th class="grey">% Cov</th>
                                                <th>Total</th>
                                                <th>Met</th>
                                                <th>% Cov</th>
                                                <th class="grey">Total</th>
                                                <th class="grey">Met</th>
                                                <th class="grey">% Cov</th>
                                                <th>Total</th>
                                                <th>Met</th>
                                                <th>% Cov</th>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <template [ngIf]="environment.envName != 'sk_group'">
                                                    <th colspan="3" class="grey">
                                                        Primary Sale
                                                    </th>
                                                </template>
                                                <th colspan="3">POB</th>
                                                <th class="grey">Call Avg</th>
                                                <th colspan="3">Total</th>
                                                <th colspan="4">Stockist</th>
                                                <th colspan="3" class="grey">Semi</th>
                                                <th colspan="3">Retailer</th>
                                                <th colspan="3" class="grey">Hub</th>
                                                <th colspan="3">Physician</th>
                                            </tr>
                                            </tfoot>

                                            <tbody>
                                            <tr class="dark_grey">
                                                <th>Total</th>
                                                <th></th>
                                                <template [ngIf]="environment.envName != 'sk_group'">
                                                    <td class="grey">{{
                                                        region.target | number : fractionSize}}
                                                    </td>
                                                    <td class="grey">{{
                                                        region.primary.toFixed(0) | number : fractionSize }}
                                                    </td>
                                                    <td class="grey">
                                                        {{ region.target > 0 ? ((region.primary * 100 /
                                                        region.target).toFixed(0)) :
                                                        0 }} %
                                                    </td>
                                                    <td>{{ (region.target * 0.3).toFixed(1) | number : fractionSize }}
                                                    </td>
                                                    <td>{{ region.total_pob.toFixed(0) | number : fractionSize }}</td>
                                                    <td>
                                                        {{ region.target > 0 ?((region.total_pob * 100 /(region.target *
                                                        0.3)).toFixed(0)) : 0 }} %
                                                    </td>
                                                </template>

                                                <template [ngIf]="environment.envName == 'sk_group'">
                                                    <td>{{ (region.target).toFixed(0) | number : fractionSize }}</td>
                                                    <td>{{ region.total_pob.toFixed(0) | number : fractionSize }}</td>
                                                    <td>
                                                        {{ region.target > 0 ?((region.total_pob * 100
                                                        /(region.target)).toFixed(0)) : 0 }} %
                                                    </td>
                                                </template>

                                                <td class="grey">{{ (region.total_visit / region.total_att).toFixed(1)
                                                    }}
                                                </td>

                                                <td>
                                                    {{ region.customer_types[0].customerCount
                                                    +region.customer_types[1].customerCount
                                                    +region.customer_types[2].customerCount
                                                    +region.customer_types[3].customerCount
                                                    +region.customer_types[4].customerCount}}
                                                </td>
                                                <td>
                                                    {{ region.customer_types[0].visitCount
                                                    +region.customer_types[1].visitCount
                                                    +region.customer_types[2].visitCount
                                                    +region.customer_types[3].visitCount
                                                    +region.customer_types[4].visitCount}}
                                                </td>
                                                <td>
                                                    {{
                                                    (((region.customer_types[0].visitCount
                                                    +region.customer_types[1].visitCount
                                                    +region.customer_types[2].visitCount
                                                    +region.customer_types[3].visitCount
                                                    +region.customer_types[4].visitCount)
                                                    /(region.customer_types[0].customerCount
                                                    +region.customer_types[1].customerCount
                                                    +region.customer_types[2].customerCount
                                                    +region.customer_types[3].customerCount
                                                    +region.customer_types[4].customerCount)) * 100).toFixed(0)
                                                    }} %
                                                </td>
                                                <td>{{ region.customer_types[0].customerCount }}</td>
                                                <td>{{ region.customer_types[0].visitCount }}</td>
                                                <td>{{ region.customer_types[0].v2_count }}</td>
                                                <td>{{ region.customer_types[0].v3_count }}</td>

                                                <td class="grey">{{ region.customer_types[1].customerCount }}</td>
                                                <td class="grey">{{ region.customer_types[1].visitCount }}</td>
                                                <td class="grey">{{
                                                    region.customer_types[1].percentageCount.toFixed(0)}} %
                                                </td>

                                                <td>{{ region.customer_types[2].customerCount }}</td>
                                                <td>{{ region.customer_types[2].visitCount }}</td>
                                                <td>{{ region.customer_types[2].percentageCount.toFixed(0)}} %</td>

                                                <td class="grey">{{ region.customer_types[3].customerCount }}</td>
                                                <td class="grey">{{ region.customer_types[3].visitCount }}</td>
                                                <td class="grey">{{
                                                    region.customer_types[3].percentageCount.toFixed(0)}} %
                                                </td>

                                                <td>{{ region.customer_types[4].customerCount }}</td>
                                                <td>{{ region.customer_types[4].visitCount }}</td>
                                                <td>{{ region.customer_types[4].percentageCount.toFixed(0)}} %</td>
                                            </tr>
                                            <template ngFor let-area [ngForOf]="region.areas">
                                                <tr class="grey">
                                                    <th>{{ area.name }}</th>
                                                    <th></th>

                                                    <template [ngIf]="environment.envName != 'sk_group'">
                                                        <td class="grey">{{ area.target | number : fractionSize}}</td>
                                                        <td class="grey">{{ area.primary.toFixed(0) | number :
                                                            fractionSize }}
                                                        </td>
                                                        <td class="grey">
                                                            {{ area.target > 0 ? ((area.primary * 100 /
                                                            area.target).toFixed(0)) :
                                                            0 }} %
                                                        </td>
                                                        <td>{{ (area.target * 0.3).toFixed(0) | number : fractionSize }}
                                                        </td>
                                                        <td>{{ area.total_pob.toFixed(0) | number : fractionSize }}</td>
                                                        <td>
                                                            {{ area.target > 0 ?((area.total_pob * 100 /(area.target *
                                                            0.3)).toFixed(0)) : 0 }} %
                                                        </td>
                                                    </template>

                                                    <template [ngIf]="environment.envName == 'sk_group'">
                                                        <td>{{ (area.target).toFixed(0) | number : fractionSize }}</td>
                                                        <td>{{ area.total_pob.toFixed(0) | number : fractionSize }}</td>
                                                        <td>
                                                            {{ area.target > 0 ?((area.total_pob * 100
                                                            /(area.target)).toFixed(0)) : 0 }} %
                                                        </td>
                                                    </template>


                                                    <td class="grey">
                                                        {{ (area.total_visit / area.total_att).toFixed(0)}}
                                                    </td>
                                                    <td>
                                                        {{
                                                        area.customer_types[0].customerCount
                                                        +area.customer_types[1].customerCount
                                                        +area.customer_types[2].customerCount
                                                        +area.customer_types[3].customerCount
                                                        +area.customer_types[4].customerCount
                                                        }}
                                                    </td>
                                                    <td>
                                                        {{
                                                        area.customer_types[0].visitCount
                                                        +area.customer_types[1].visitCount
                                                        +area.customer_types[2].visitCount
                                                        +area.customer_types[3].visitCount
                                                        +area.customer_types[4].visitCount
                                                        }}
                                                    </td>
                                                    <td>
                                                        {{
                                                        (((area.customer_types[0].visitCount
                                                        +area.customer_types[1].visitCount
                                                        +area.customer_types[2].visitCount
                                                        +area.customer_types[3].visitCount
                                                        +area.customer_types[4].visitCount)
                                                        /(area.customer_types[0].customerCount
                                                        +area.customer_types[1].customerCount
                                                        +area.customer_types[2].customerCount
                                                        +area.customer_types[3].customerCount
                                                        +area.customer_types[4].customerCount)) * 100).toFixed(0)
                                                        }} %
                                                    </td>
                                                    <td>{{ area.customer_types[0].customerCount }}</td>
                                                    <td>{{ area.customer_types[0].visitCount}}</td>
                                                    <td>{{ area.customer_types[0].v2_count }}</td>
                                                    <td>{{ area.customer_types[0].v3_count}}</td>

                                                    <td class="grey">{{ area.customer_types[1].customerCount }}</td>
                                                    <td class="grey">{{ area.customer_types[1].visitCount }}</td>
                                                    <td class="grey">{{
                                                        area.customer_types[1].percentageCount.toFixed(0)}} %
                                                    </td>

                                                    <td>{{ area.customer_types[2].customerCount }}</td>
                                                    <td>{{ area.customer_types[2].visitCount }}</td>
                                                    <td>{{ area.customer_types[2].percentageCount.toFixed(0)}} %</td>

                                                    <td class="grey">{{ area.customer_types[3].customerCount }}</td>
                                                    <td class="grey">{{ area.customer_types[3].visitCount }}</td>
                                                    <td class="grey">{{
                                                        area.customer_types[3].percentageCount.toFixed(0)}} %
                                                    </td>

                                                    <td>{{ area.customer_types[4].customerCount }}</td>
                                                    <td>{{ area.customer_types[4].visitCount }}</td>
                                                    <td>{{ area.customer_types[4].percentageCount.toFixed(0)}} %</td>
                                                </tr>
                                                <tr *ngFor="let hq of area.headquarters">
                                                    <th></th>
                                                    <th>{{ hq.name }}</th>

                                                    <template [ngIf]="environment.envName != 'sk_group'">
                                                        <td class="grey">{{ hq.target | number : fractionSize}}</td>
                                                        <td class="grey">{{ hq.primary.toFixed(0) | number :
                                                            fractionSize
                                                            }}
                                                        </td>
                                                        <td class="grey">
                                                            {{ hq.target > 0 ? ((hq.primary * 100 /
                                                            hq.target).toFixed(0)) :
                                                            0 }} %
                                                        </td>
                                                        <td>{{ (hq.target * 0.3).toFixed(0) | number : fractionSize }}
                                                        </td>
                                                        <td>{{ hq.total_pob.toFixed(0) | number : fractionSize }}</td>
                                                        <td>
                                                            {{ hq.target > 0 ?((hq.total_pob * 100 /(hq.target *
                                                            0.3)).toFixed(0)) : 0 }} %
                                                        </td>
                                                    </template>

                                                    <template [ngIf]="environment.envName == 'sk_group'">
                                                        <td>{{ (hq.target).toFixed(0) | number : fractionSize }}</td>
                                                        <td>{{ hq.total_pob.toFixed(0) | number : fractionSize }}</td>
                                                        <td>
                                                            {{ hq.target > 0 ?((hq.total_pob * 100
                                                            /(hq.target)).toFixed(0)) : 0 }} %
                                                        </td>
                                                    </template>

                                                    <td class="grey">
                                                        {{ hq.total_att > 0 ? ((hq.total_visit /
                                                        hq.total_att).toFixed(0)): 0 }}
                                                    </td>
                                                    <td>
                                                        {{
                                                        hq.customer_types[0].customerCount
                                                        +hq.customer_types[1].customerCount
                                                        +hq.customer_types[2].customerCount
                                                        +hq.customer_types[3].customerCount
                                                        +hq.customer_types[4].customerCount
                                                        }}
                                                    </td>
                                                    <td>
                                                        {{
                                                        hq.customer_types[0].visitCount
                                                        +hq.customer_types[1].visitCount
                                                        +hq.customer_types[2].visitCount
                                                        +hq.customer_types[3].visitCount
                                                        +hq.customer_types[4].visitCount
                                                        }}
                                                    </td>
                                                    <td>
                                                        {{
                                                        (((hq.customer_types[0].visitCount
                                                        +hq.customer_types[1].visitCount
                                                        +hq.customer_types[2].visitCount
                                                        +hq.customer_types[3].visitCount
                                                        +hq.customer_types[4].visitCount)/
                                                        (hq.customer_types[0].customerCount
                                                        +hq.customer_types[1].customerCount
                                                        +hq.customer_types[2].customerCount
                                                        +hq.customer_types[3].customerCount
                                                        +hq.customer_types[4].customerCount))*100).toFixed(0)
                                                        }} %
                                                    </td>

                                                    <td>{{ hq.customer_types[0].customerCount }}</td>
                                                    <td>{{ hq.customer_types[0].visitCount}}</td>
                                                    <td>{{ hq.customer_types[0].v2_count}}</td>
                                                    <td>{{ hq.customer_types[0].v3_count}}</td>

                                                    <td class="grey">{{ hq.customer_types[1].customerCount }}</td>
                                                    <td class="grey">{{ hq.customer_types[1].visitCount }}</td>
                                                    <td class="grey">{{
                                                        hq.customer_types[1].percentageCount.toFixed(0)}} %
                                                    </td>

                                                    <td>{{ hq.customer_types[2].customerCount }}</td>
                                                    <td>{{ hq.customer_types[2].visitCount }}</td>
                                                    <td>{{ hq.customer_types[2].percentageCount.toFixed(0)}} %</td>

                                                    <td class="grey">{{ hq.customer_types[3].customerCount }}</td>
                                                    <td class="grey">{{ hq.customer_types[3].visitCount }}</td>
                                                    <td class="grey">{{
                                                        hq.customer_types[3].percentageCount.toFixed(0)}} %
                                                    </td>

                                                    <td>{{ hq.customer_types[4].customerCount }}</td>
                                                    <td>{{ hq.customer_types[4].visitCount }}</td>
                                                    <td>{{ hq.customer_types[4].percentageCount.toFixed(0)}} %</td>
                                                </tr>
                                            </template>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Users Table -->
</div>
