<div class="container-fluid users" #loading_box>
  <!-- Page Breadcrumb -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-md-4">
        <div class="page-breadcrumb-wrap">
          <div class="page-breadcrumb-info">
            <h2 class="breadcrumb-titles">Executive Summary Report
            </h2>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-3" *ngIf="_service.user.download_access == 1">
        <a class="btn btn-primary btn-block btn-margin" style="margin-top: 25px;"
           (click)="download()">
          Export to xlsx
        </a>
      </div>
    </div>
  </div>
  <!-- Page Breadcrumb -->

  <div class="row">
    <div class="col-xs-12 col-md-3">
      <month-picker [month]="month" [year]="year" (onMonthYearChanged)="monthYearChanged($event)"></month-picker>
    </div>
    <div class="col-xs-12 col-md-2" *ngIf="environment.envName == 'geo' && this._service.user.departments.length > 1">
      <department-select [value]="department_id" [title]="'Select Department'" [first_value]="'Select Department'"
                         (onValueChanged)="departmentChanged($event)"></department-select>
    </div>
    <div class="col-xs-12 col-md-3" *roleCheck="ROLE_ADMIN">
      <zone-select [value]="zone_id"
                   (onValueChanged)="zoneChanged($event)"></zone-select>
    </div>
    <div class="col-xs-12 col-md-2" *roleCheck="ROLE_RSM">
      <div class="form-group">
        <label>&nbsp;</label>
        <button class="btn btn-primary btn-block" (click)="toggleCoverageView()">{{ coverage_view == true ? 'View Call Avg' : 'View Coverage' }}</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12" *roleCheck="ROLE_CSM">
      <div class="row" *ngFor="let region of regions">
        <div class="col-xs-12">
          <div class="box-widget widget-module">
            <div class="widget-head clearfix">
              <span class="h-icon"><i class="fa fa-table"></i></span>
              <h4><strong>{{ region.name }}</strong></h4>
            </div>
            <div>
              <div class="widget-container report-table">
                <div class="widget-block">
                  <div class="table-responsive">
                    <table class="table table-bordered visit_table">
                      <thead>
                      <tr>
                        <th></th>
                        <th></th>
                        <template [ngIf]="environment.envName != 'sk_group' && environment.projectName == 'GOVAXX'">
                          <th colspan="4" class="grey">
                            Total Primary Sale ('000s)
                          </th>
                        </template>
                        <template [ngIf]="environment.envName != 'sk_group' && environment.projectName != 'GOVAXX'">
                          <th colspan="3" class="grey">
                            Total Primary Sale ('000s)
                          </th>
                        </template>
                        <th colspan="3">Total POB ('000s)</th>

                        <template [ngIf]="environment.envName != 'sk_group' && environment.projectName == 'ICONCX'">
                          <th colspan="3" class="pink">
                            Total Primary Sale ('000s) Gelusil
                          </th>
                          <th colspan="3" class="light_pink">Total POB ('000s) Gelusil</th>
                        </template>

                        <template [ngIf]="environment.envName != 'sk_group' && environment.projectName == 'ICONCX'">
                          <th colspan="3" class="orange">
                            Total Primary Sale ('000s) Becosules
                          </th>
                          <th colspan="3" class="light_orange">Total POB ('000s) Becosules</th>
                        </template>

                        <th class="grey">FW Days</th>
                        <th class="grey">Call Avg</th>
                        <th colspan="3">Total</th>
                        <th *ngIf="coverage_view" colspan="4">Stockist</th>
                        <th *ngIf="!coverage_view" colspan="3">Stockist</th>
                        <th colspan="3" class="grey">Semi</th>
                        <template [ngIf]="environment.envName != 'sk_group' && environment.projectName != 'IKON'">
                          <th colspan="3">Retailer</th>
                        </template>
                        <template [ngIf]="environment.envName != 'sk_group' && environment.projectName == 'IKON'">
                          <th colspan="3">Other Retailer</th>
                        </template>
                        <template [ngIf]="environment.envName != 'sk_group' && environment.projectName != 'IKON' && environment.projectName != 'TX'">
                          <th colspan="3" class="grey">Hub</th>
                        </template>
                        <template [ngIf]="environment.envName != 'sk_group' && environment.projectName == 'IKON'">
                          <th colspan="3" class="grey">Control Chemist</th>
                        </template>
                        <!-- <th colspan="3">Retailer</th>
                        <th colspan="3" class="grey">Hub</th> -->
                        <th *ngIf="environment.projectName != 'TX'" colspan="3">Physician</th>
                        <template [ngIf]="environment.envName != 'sk_group' && environment.projectName == 'GOVAXX'">
                          <th colspan="3" class="grey">Hospital</th>
                        </template>
                      </tr>
                      <tr>
                        <th></th>
                        <th>Headquarters</th>
                        <template [ngIf]="environment.envName != 'sk_group'">
                          <th class="grey">Tgt</th>
                          <th class="grey">Ach</th>
                          <th class="grey">% Ach</th>
                        </template>
                        <th *ngIf="environment.projectName == 'GOVAXX'" class="grey">qty</th>
                        <th>Tgt</th>
                        <th>Ach</th>
                        <th>% Ach</th>


                        <template [ngIf]="environment.envName != 'sk_group' && environment.projectName == 'ICONCX'">
                          <th class="pink">Tgt</th>
                          <th class="pink">Ach</th>
                          <th class="pink">% Ach</th>
                          <th class="light_pink">Tgt</th>
                          <th class="light_pink">Ach</th>
                          <th class="light_pink">% Ach</th>
                        </template>
                        <template [ngIf]="environment.envName != 'sk_group' && environment.projectName == 'ICONCX'">
                          <th class="orange">Tgt</th>
                          <th class="orange">Ach</th>
                          <th class="orange">% Ach</th>
                          <th class="light_orange">Tgt</th>
                          <th class="light_orange">Ach</th>
                          <th class="light_orange">% Ach</th>
                        </template>

                        <th class="grey"></th>
                        <th class="grey"></th>
                        <th>Customer</th>
                        <th>Met</th>
                        <th *ngIf="coverage_view">% Cov</th>
                        <th *ngIf="!coverage_view">Call Avg</th>

                        <th *ngIf="coverage_view">A/B</th>
                        <th *ngIf="coverage_view">V1</th>
                        <th *ngIf="coverage_view">V2</th>
                        <th *ngIf="coverage_view">V3</th>
                        <th *ngIf="!coverage_view">Total</th>
                        <th *ngIf="!coverage_view">Met</th>
                        <th *ngIf="!coverage_view">Call Avg</th>

                        <th class="grey">Total</th>
                        <th class="grey">Met</th>
                        <th *ngIf="coverage_view" class="grey">% Cov</th>
                        <th *ngIf="!coverage_view" class="grey">Call Avg</th>
                        <th>Total</th>
                        <th>Met</th>
                        <th *ngIf="coverage_view">% Cov</th>
                        <th *ngIf="!coverage_view">Call Avg</th>
                        <th *ngIf="environment.projectName != 'TX'" class="grey">Total</th>
                        <th  *ngIf="environment.projectName != 'TX'" class="grey">Met</th>
                        <th *ngIf="coverage_view && environment.projectName != 'TX'" class="grey">% Cov</th>
                        <th *ngIf="!coverage_view && environment.projectName != 'TX'" class="grey">Call Avg</th>
                        <th *ngIf="environment.projectName != 'TX'">Total</th>
                        <th *ngIf="environment.projectName != 'TX'">Met</th>
                        <th *ngIf="coverage_view && environment.projectName != 'TX'">% Cov</th>
                        <th *ngIf="!coverage_view && environment.projectName != 'TX'">Call Avg</th>
                        <th  *ngIf="environment.envName != 'sk_group' && environment.projectName == 'GOVAXX'" class="grey">Total</th>
                        <th *ngIf="environment.envName != 'sk_group' && environment.projectName == 'GOVAXX'" class="grey">Met</th>
                        <th *ngIf="coverage_view && environment.projectName == 'GOVAXX'" class="grey">% Cov</th>
                        <th *ngIf="!coverage_view && environment.projectName == 'GOVAXX'" class="grey">Call Avg</th>
                      </tr>
                      </thead>

                      <tfoot>
                      <tr>
                        <th></th>
                        <th>Headquarters</th>
                        <template [ngIf]="environment.envName != 'sk_group'">
                          <th class="grey">Tgt</th>
                          <th class="grey">Ach</th>
                          <th class="grey">% Ach</th>
                        </template>
                        <th *ngIf="environment.projectName == 'GOVAXX'" class="grey">qty</th>
                        <th>Tgt</th>
                        <th>Ach</th>
                        <th>% Ach</th>

                        <template [ngIf]="environment.envName != 'sk_group' && environment.projectName == 'ICONCX'">
                          <th class="pink">Tgt</th>
                          <th class="pink">Ach</th>
                          <th class="pink">% Ach</th>
                          <th class="light_pink">Tgt</th>
                          <th class="light_pink">Ach</th>
                          <th class="light_pink">% Ach</th>
                        </template>
                        <template [ngIf]="environment.envName != 'sk_group' && environment.projectName == 'ICONCX'">
                          <th class="orange">Tgt</th>
                          <th class="orange">Ach</th>
                          <th class="orange">% Ach</th>
                          <th class="light_orange">Tgt</th>
                          <th class="light_orange">Ach</th>
                          <th class="light_orange">% Ach</th>
                        </template>

                        <th class="grey"></th>
                        <th class="grey"></th>
                        <th>Customer</th>
                        <th>Met</th>
                        <th *ngIf="coverage_view">% Cov</th>
                        <th *ngIf="!coverage_view">Call Avg</th>

                        <th *ngIf="coverage_view">A/B</th>
                        <th *ngIf="coverage_view">V1</th>
                        <th *ngIf="coverage_view">V2</th>
                        <th *ngIf="coverage_view">V3</th>
                        <th *ngIf="!coverage_view">Total</th>
                        <th *ngIf="!coverage_view">Met</th>
                        <th *ngIf="!coverage_view">Call Avg</th>

                        <th class="grey">Total</th>
                        <th class="grey">Met</th>
                        <th *ngIf="coverage_view" class="grey">% Cov</th>
                        <th *ngIf="!coverage_view" class="grey">Call Avg</th>
                        <th>Total</th>
                        <th>Met</th>
                        <th *ngIf="coverage_view">% Cov</th>
                        <th *ngIf="!coverage_view">Call Avg</th>
                        <th *ngIf="environment.projectName != 'TX'" class="grey">Total</th>
                        <th *ngIf="environment.projectName != 'TX'" class="grey">Met</th>
                        <th *ngIf="coverage_view && environment.projectName != 'TX'" class="grey">% Cov</th>
                        <th *ngIf="!coverage_view && environment.projectName != 'TX'" class="grey">Call Avg</th>
                        <th *ngIf="environment.projectName != 'TX'">Total</th>
                        <th *ngIf="environment.projectName != 'TX'">Met</th>
                        <th *ngIf="coverage_view && environment.projectName != 'TX'">% Cov</th>
                        <th *ngIf="!coverage_view && environment.projectName != 'TX'">Call Avg</th>
                        <th *ngIf="environment.envName != 'sk_group' && environment.projectName == 'GOVAXX'" class="grey">Total</th>
                        <th *ngIf="environment.envName != 'sk_group' && environment.projectName == 'GOVAXX'" class="grey">Met</th>
                        <th *ngIf="coverage_view && environment.projectName == 'GOVAXX'" class="grey">% Cov</th>
                        <th *ngIf="!coverage_view && environment.projectName == 'GOVAXX'" class="grey">Call Avg</th>
                      </tr>
                      <tr>
                        <th></th>
                        <th></th>
                        <template [ngIf]="environment.envName != 'sk_group' && environment.projectName == 'GOVAXX'">
                          <th colspan="4" class="grey">
                            Total Primary Sale ('000s)
                          </th>
                        </template>
                        <template [ngIf]="environment.envName != 'sk_group' && environment.projectName != 'GOVAXX'">
                          <th colspan="3" class="grey">
                            Total Primary Sale ('000s)
                          </th>
                        </template>
                        <th colspan="3">Total POB ('000s)</th>

                        <template [ngIf]="environment.envName != 'sk_group' && environment.projectName == 'ICONCX'">
                          <th colspan="3" class="pink">
                            Total Primary Sale ('000s) Gelusil
                          </th>
                          <th colspan="3" class="light_pink">Total POB ('000s) Gelusil</th>
                        </template>

                        <template [ngIf]="environment.envName != 'sk_group' && environment.projectName == 'ICONCX'">
                          <th colspan="3" class="orange">
                            Total Primary Sale ('000s) Becosules
                          </th>
                          <th colspan="3" class="light_orange">Total POB ('000s) Becosules</th>
                        </template>
                        <th class="grey">FW Days</th>
                        <th class="grey">Call Avg</th>
                        <th colspan="3">Total</th>
                        <th *ngIf="coverage_view" colspan="4">Stockist</th>
                        <th *ngIf="!coverage_view" colspan="3">Stockist</th>
                        <th colspan="3" class="grey">Semi</th>
                        <th colspan="3">Retailer</th>
                        <th *ngIf="environment.projectName != 'TX'" colspan="3" class="grey">Hub</th>
                        <th *ngIf="environment.projectName != 'TX'" colspan="3">Physician</th>
                        <th *ngIf="environment.envName != 'sk_group' && environment.projectName == 'GOVAXX'" colspan="3" class="grey">Hospital</th>
                      </tr>
                      </tfoot>

                      <tbody>
                      <tr class="dark_grey">
                        <th>Total</th>
                        <th></th>
                        <template [ngIf]="environment.envName != 'sk_group'">
                          <td class="grey">{{
                            (region.target/1000).toFixed(0) | number : fractionSize}}
                          </td>
                          <td class="grey">{{
                            (region.primary/1000).toFixed(0) | number : fractionSize }}
                          </td>
                          <td class="grey">
                            {{ region.target > 0 ? ((region.primary * 100 /
                              region.target).toFixed(0)) :
                            0 }} %
                          </td>
                          <td *ngIf="environment.projectName == 'GOVAXX'" class="grey">{{ region.quantity }}</td>
                          <td>{{ ((region.target/1000) * 0.5).toFixed(0) | number : fractionSize }}
                          </td>
                          <td>{{ (region.total_pob/1000).toFixed(0) | number : fractionSize }}</td>
                          <td>
                            {{ region.target > 0 ?((region.total_pob * 100 /(region.target *
                            0.5)).toFixed(0)) : 0 }} %
                          </td>
                        </template>

                        <template [ngIf]="environment.envName == 'sk_group'">
                          <td>{{ (region.target/1000).toFixed(0) | number : fractionSize }}</td>
                          <td>{{ (region.total_pob/1000).toFixed(0) | number : fractionSize }}</td>
                          <td>
                            {{ region.target > 0 ?((region.total_pob * 100
                            /(region.target)).toFixed(0)) : 0 }} %
                          </td>
                        </template>

                        <template [ngIf]="environment.envName != 'sk_group' && environment.projectName == 'ICONCX'">
                          <td class="pink">{{
                            (region.gelusil_target/1000).toFixed(0) | number : fractionSize}}
                          </td>
                          <td class="pink">{{
                            (region.gelusil_primary/1000).toFixed(0) | number : fractionSize }}
                          </td>
                          <td class="pink">
                            {{ region.gelusil_target > 0 ? ((region.gelusil_primary * 100 /
                              region.gelusil_target).toFixed(0)) :
                            0 }} %
                          </td>
                          <td class="light_pink">{{ ((region.gelusil_target/1000) * 0.5).toFixed(0) | number : fractionSize }}
                          </td>
                          <td class="light_pink">{{ (region.gelusil_total_pob/1000).toFixed(0) | number : fractionSize }}</td>
                          <td class="light_pink">
                            {{ region.gelusil_target > 0 ?((region.gelusil_total_pob * 100 /(region.gelusil_target *
                            0.5)).toFixed(0)) : 0 }} %
                          </td>
                        </template>
                        <template [ngIf]="environment.envName != 'sk_group' && environment.projectName == 'ICONCX'">
                          <td class="orange">{{
                            (region.becosules_target/1000).toFixed(0) | number : fractionSize}}
                          </td>
                          <td class="orange">{{
                            (region.becosules_primary/1000).toFixed(0) | number : fractionSize }}
                          </td>
                          <td class="orange">
                            {{ region.becosules_target > 0 ? ((region.becosules_primary * 100 /
                              region.becosules_target).toFixed(0)) :
                            0 }} %
                          </td>
                          <td class="light_orange">{{ ((region.becosules_target/1000) * 0.5).toFixed(0) | number : fractionSize }}
                          </td>
                          <td class="light_orange">{{ (region.becosules_total_pob/1000).toFixed(0) | number : fractionSize }}</td>
                          <td class="light_orange">
                            {{ region.becosules_target > 0 ?((region.becosules_total_pob * 100 /(region.becosules_target *
                            0.5)).toFixed(0)) : 0 }} %
                          </td>
                        </template>


                        <td class="grey">{{ region.total_att }}</td>
                        <td class="grey">{{ region.total_att > 0 ? (region.all_total_visit / region.total_att).toFixed(1) : 0 }}</td>

                        <td>
                          {{ region.customer_types[0].customerCount
                        +region.customer_types[1].customerCount
                        +region.customer_types[2].customerCount
                        +region.customer_types[3].customerCount
                        +region.customer_types[4].customerCount
                        +region.customer_types[5].customerCount
                        +region.customer_types[6].customerCount
                        +region.customer_types[7].customerCount}}
                        </td>
                        <td *ngIf="coverage_view">
                          {{ region.customer_types[0].visitCount
                        +region.customer_types[1].visitCount
                        +region.customer_types[2].visitCount
                        +region.customer_types[3].visitCount
                        +region.customer_types[4].visitCount
                        +region.customer_types[5].visitCount
                        +region.customer_types[6].visitCount
                        +region.customer_types[7].visitCount}}
                        </td>
                        <td *ngIf="!coverage_view">
                          {{ region.customer_types[0].allVisitCount
                        +region.customer_types[1].allVisitCount
                        +region.customer_types[2].allVisitCount
                        +region.customer_types[3].allVisitCount
                        +region.customer_types[4].allVisitCount
                        +region.customer_types[5].allVisitCount
                        +region.customer_types[6].allVisitCount
                        +region.customer_types[7].allVisitCount }}
                        </td>

                        <td *ngIf="coverage_view">
                          {{
                          (((region.customer_types[0].visitCount
                              +region.customer_types[1].visitCount
                              +region.customer_types[2].visitCount
                              +region.customer_types[3].visitCount
                              +region.customer_types[4].visitCount
                              +region.customer_types[5].visitCount
                              +region.customer_types[6].visitCount
                              +region.customer_types[7].visitCount)
                            /(region.customer_types[0].customerCount
                              +region.customer_types[1].customerCount
                              +region.customer_types[2].customerCount
                              +region.customer_types[3].customerCount
                              +region.customer_types[4].customerCount
                              +region.customer_types[5].customerCount
                              +region.customer_types[6].customerCount
                              +region.customer_types[7].customerCount)) * 100).toFixed(0)
                          }} %
                        </td>
                        <td *ngIf="!coverage_view">
                          {{ region.total_att > 0 ?
                          ((region.customer_types[0].allVisitCount
                              +region.customer_types[1].allVisitCount
                              +region.customer_types[2].allVisitCount
                              +region.customer_types[3].allVisitCount
                              +region.customer_types[4].allVisitCount
                              +region.customer_types[5].allVisitCount
                              +region.customer_types[6].allVisitCount
                              +region.customer_types[7].allVisitCount)
                            /region.total_att).toFixed(1) : 0.0 }}
                        </td>

                        <td>{{ region.customer_types[0].aCustomerCount
                        + region.customer_types[0].bCustomerCount }}
                        </td>
                        <td *ngIf="coverage_view">{{ region.customer_types[0].aVisitCount
                        + region.customer_types[0].bVisitCount }}
                        </td>
                        <td *ngIf="coverage_view">{{ region.customer_types[0].v2_count }}</td>
                        <td *ngIf="coverage_view">{{ region.customer_types[0].v3_count }}</td>
                        <td *ngIf="!coverage_view">{{ region.customer_types[0].aAllVisitCount
                        + region.customer_types[0].bAllVisitCount }}
                        </td>
                        <td *ngIf="!coverage_view">
                          {{ region.total_att>0? ((region.customer_types[0].aAllVisitCount
                          + region.customer_types[0].bAllVisitCount)/region.total_att).toFixed(1) : 0}}
                        </td>

                        <td class="grey">{{ region.customer_types[1].customerCount }}</td>
                        <td *ngIf="coverage_view" class="grey">{{ region.customer_types[1].visitCount }}</td>
                        <td *ngIf="!coverage_view" class="grey">{{ region.customer_types[1].allVisitCount }}</td>

                        <td *ngIf="coverage_view" class="grey">{{
                          region.customer_types[1].percentageCount.toFixed(0)}} %
                        </td>
                        <td *ngIf="!coverage_view" class="grey">
                          {{ region.total_att > 0? (region.customer_types[1].allVisitCount/region.total_att).toFixed(1) : 0}}
                        </td>

                        <td>{{ region.customer_types[2].customerCount }}</td>
                        <td *ngIf="coverage_view">{{ region.customer_types[2].visitCount }}</td>
                        <td *ngIf="!coverage_view">{{ region.customer_types[2].allVisitCount }}</td>

                        <td *ngIf="coverage_view" class="grey">{{
                          region.customer_types[2].percentageCount.toFixed(0)}} %
                        </td>
                        <td *ngIf="!coverage_view" class="grey">
                          {{ region.total_att >0? (region.customer_types[2].allVisitCount/region.total_att).toFixed(1) : 0 }}
                        </td>

                        <td *ngIf="environment.projectName != 'TX'" class="grey">{{ region.customer_types[3].customerCount }}</td>
                        <td *ngIf="coverage_view && environment.projectName != 'TX'" class="grey">{{ region.customer_types[3].visitCount }}</td>
                        <td *ngIf="!coverage_view && environment.projectName != 'TX'" class="grey">{{ region.customer_types[3].allVisitCount }}</td>

                        <td *ngIf="coverage_view && environment.projectName != 'TX'" class="grey">{{
                          region.customer_types[3].percentageCount.toFixed(0)}} %
                        </td>
                        <td *ngIf="!coverage_view && environment.projectName != 'TX'" class="grey">
                          {{ region.total_att> 0?(region.customer_types[3].allVisitCount/region.total_att).toFixed(1) : 0 }}
                        </td>

                        <td *ngIf="environment.projectName != 'TX'" >{{ region.customer_types[4].customerCount }}</td>
                        <td *ngIf="coverage_view && environment.projectName != 'TX'">{{ region.customer_types[4].visitCount }}</td>
                        <td *ngIf="!coverage_view && environment.projectName != 'TX'">{{ region.customer_types[4].allVisitCount }}</td>

                        <td *ngIf="coverage_view && environment.projectName != 'TX'" class="grey">{{
                          region.customer_types[4].percentageCount.toFixed(0)}} %
                        </td>
                        <td *ngIf="!coverage_view && environment.projectName != 'TX'" class="grey">
                          {{region.total_att > 0? (region.customer_types[4].allVisitCount/region.total_att).toFixed(1) : 0}}
                        </td>

                        <td *ngIf="environment.envName != 'sk_group' && environment.projectName == 'GOVAXX' && environment.projectName != 'TX'" class="grey">{{ region.customer_types[7].customerCount }}</td>
                        <td *ngIf="coverage_view && environment.projectName == 'GOVAXX' && environment.projectName != 'TX' " class="grey">{{ region.customer_types[7].visitCount }}</td>
                        <td *ngIf="!coverage_view && environment.projectName == 'GOVAXX' && environment.projectName != 'TX' " class="grey">{{ region.customer_types[7].allVisitCount }}</td>

                        <td *ngIf="coverage_view && environment.projectName == 'GOVAXX' && environment.projectName != 'TX'" class="grey">{{
                          region.customer_types[7].percentageCount.toFixed(0)}} %
                        </td>
                        <td *ngIf="!coverage_view && environment.projectName == 'GOVAXX' && environment.projectName != 'TX'" class="grey">
                          {{ region.total_att> 0?(region.customer_types[7].allVisitCount/region.total_att).toFixed(1) : 0 }}
                        </td>

                      </tr>
                      <template ngFor let-area [ngForOf]="region.areas">
                        <tr class="grey" *ngIf="area.status == 'active'">
                          <th>{{ area.name }}</th>
                          <th></th>

                          <template [ngIf]="environment.envName != 'sk_group'">
                            <td class="grey">{{ (area.target/1000).toFixed(0) | number : fractionSize}}</td>
                            <td class="grey">{{ (area.primary/1000).toFixed(0) | number :
                              fractionSize }}
                            </td>
                            <td class="grey">
                              {{ area.target > 0 ? ((area.primary * 100 /
                                area.target).toFixed(0)) :
                              0 }} %
                            </td>
                            <td *ngIf="environment.projectName == 'GOVAXX'" class="grey">{{ area.quantity }}</td>
                            <td>{{ ((area.target/1000) * 0.5).toFixed(0) | number : fractionSize }}
                            </td>
                            <td>{{ (area.total_pob/1000).toFixed(0) | number : fractionSize }}</td>
                            <td>
                              {{ area.target > 0 ?((area.total_pob * 100 /(area.target *
                              0.5)).toFixed(0)) : 0 }} %
                            </td>
                          </template>
                          <template [ngIf]="environment.envName == 'sk_group'">
                            <td>{{ (area.target/1000).toFixed(0) | number : fractionSize }}</td>
                            <td>{{ (area.total_pob/1000).toFixed(0) | number : fractionSize }}</td>
                            <td>
                              {{ area.target > 0 ?((area.total_pob * 100
                              /(area.target)).toFixed(0)) : 0 }} %
                            </td>
                          </template>

                          <template [ngIf]="environment.envName != 'sk_group' && environment.projectName == 'ICONCX'">
                            <td class="grey">{{ (area.gelusil_target/1000).toFixed(0) | number : fractionSize}}</td>
                            <td class="grey">{{ (area.gelusil_primary/1000).toFixed(0) | number :
                              fractionSize }}
                            </td>
                            <td class="grey">
                              {{ area.gelusil_target > 0 ? ((area.gelusil_primary * 100 /
                                area.gelusil_target).toFixed(0)) :
                              0 }} %
                            </td>
                            <td class="grey">{{ ((area.gelusil_target/1000) * 0.5).toFixed(0) | number : fractionSize }}
                            </td>
                            <td class="grey">{{ (area.gelusil_total_pob/1000).toFixed(0) | number : fractionSize }}</td>
                            <td class="grey">
                              {{ area.gelusil_target > 0 ?((area.gelusil_total_pob * 100 /(area.gelusil_target *
                              0.5)).toFixed(0)) : 0 }} %
                            </td>
                          </template>
                          <template [ngIf]="environment.envName != 'sk_group' && environment.projectName == 'ICONCX'">
                            <td class="grey">{{ (area.becosules_target/1000).toFixed(0) | number : fractionSize}}</td>
                            <td class="grey">{{ (area.becosules_primary/1000).toFixed(0) | number :
                              fractionSize }}
                            </td>
                            <td class="grey">
                              {{ area.becosules_target > 0 ? ((area.becosules_primary * 100 /
                                area.becosules_target).toFixed(0)) :
                              0 }} %
                            </td>
                            <td class="grey">{{ ((area.becosules_target/1000) * 0.5).toFixed(0) | number : fractionSize }}
                            </td>
                            <td class="grey">{{ (area.becosules_total_pob/1000).toFixed(0) | number : fractionSize }}</td>
                            <td class="grey">
                              {{ area.becosules_target > 0 ?((area.becosules_total_pob * 100 /(area.becosules_target *
                              0.5)).toFixed(0)) : 0 }} %
                            </td>
                          </template>

                          <td class="grey">{{ (area.total_att).toFixed(0) }}</td>
                          <td class="grey">
                            {{ area.total_att >0 ? (area.all_total_visit / area.total_att).toFixed(0) : 0}}
                          </td>
                          <td>
                            {{
                            area.customer_types[0].customerCount
                            +area.customer_types[1].customerCount
                            +area.customer_types[2].customerCount
                            +area.customer_types[3].customerCount
                            +area.customer_types[4].customerCount
                            +area.customer_types[5].customerCount
                            +area.customer_types[6].customerCount
                            +area.customer_types[7].customerCount
                            }}
                          </td>
                          <td *ngIf="coverage_view">
                            {{ area.customer_types[0].visitCount
                          +area.customer_types[1].visitCount
                          +area.customer_types[2].visitCount
                          +area.customer_types[3].visitCount
                          +area.customer_types[4].visitCount
                          +area.customer_types[5].visitCount
                          +area.customer_types[6].visitCount
                          +area.customer_types[7].visitCount}}
                          </td>
                          <td *ngIf="!coverage_view">
                            {{ area.customer_types[0].allVisitCount
                          +area.customer_types[1].allVisitCount
                          +area.customer_types[2].allVisitCount
                          +area.customer_types[3].allVisitCount
                          +area.customer_types[4].allVisitCount
                          +area.customer_types[5].allVisitCount
                          +area.customer_types[6].allVisitCount
                          +area.customer_types[7].allVisitCount }}
                          </td>
                          <td *ngIf="coverage_view">
                            {{
                            (((area.customer_types[0].visitCount
                                +area.customer_types[1].visitCount
                                +area.customer_types[2].visitCount
                                +area.customer_types[3].visitCount
                                +area.customer_types[4].visitCount
                                +area.customer_types[5].visitCount
                                +area.customer_types[6].visitCount
                                +area.customer_types[7].visitCount)
                              /(area.customer_types[0].customerCount
                                +area.customer_types[1].customerCount
                                +area.customer_types[2].customerCount
                                +area.customer_types[3].customerCount
                                +area.customer_types[4].customerCount
                                +area.customer_types[5].customerCount
                                +area.customer_types[6].customerCount
                                +area.customer_types[7].customerCount)) * 100).toFixed(0)
                            }} %
                          </td>
                          <td *ngIf="!coverage_view">
                            {{ area.total_att > 0?
                            ((area.customer_types[0].allVisitCount
                                +area.customer_types[1].allVisitCount
                                +area.customer_types[2].allVisitCount
                                +area.customer_types[3].allVisitCount
                                +area.customer_types[4].allVisitCount
                                +area.customer_types[5].allVisitCount
                                +area.customer_types[6].allVisitCount
                                +area.customer_types[7].allVisitCount)
                              /area.total_att).toFixed(1) : 0.0 }}
                          </td>
                          <td>{{ area.customer_types[0].aCustomerCount
                          + area.customer_types[0].bCustomerCount }}
                          </td>
                          <td *ngIf="coverage_view">{{ area.customer_types[0].aVisitCount
                          + area.customer_types[0].bVisitCount }}
                          </td>
                          <td *ngIf="coverage_view">{{ area.customer_types[0].v2_count }}</td>
                          <td *ngIf="coverage_view">{{ area.customer_types[0].v3_count }}</td>
                          <td *ngIf="!coverage_view">{{ area.customer_types[0].aAllVisitCount
                          + area.customer_types[0].bAllVisitCount }}
                          </td>
                          <td *ngIf="!coverage_view">
                            {{ area.total_att>0 ? ((area.customer_types[0].aAllVisitCount
                            + area.customer_types[0].bAllVisitCount)/area.total_att).toFixed(1) : 0}}
                          </td>

                          <td class="grey">{{ area.customer_types[1].customerCount }}</td>
                          <td *ngIf="coverage_view" class="grey">{{ area.customer_types[1].visitCount }}</td>
                          <td *ngIf="!coverage_view" class="grey">{{ area.customer_types[1].allVisitCount }}</td>

                          <td *ngIf="coverage_view" class="grey">{{
                            area.customer_types[1].percentageCount.toFixed(0)}} %
                          </td>
                          <td *ngIf="!coverage_view" class="grey">
                            {{ area.total_att>0? (area.customer_types[1].allVisitCount/area.total_att).toFixed(1) : 0 }}
                          </td>

                          <td>{{ area.customer_types[2].customerCount }}</td>
                          <td *ngIf="coverage_view">{{ area.customer_types[2].visitCount }}</td>
                          <td *ngIf="!coverage_view">{{ area.customer_types[2].allVisitCount }}</td>

                          <td *ngIf="coverage_view" class="grey">{{
                            area.customer_types[2].percentageCount.toFixed(0)}} %
                          </td>
                          <td *ngIf="!coverage_view" class="grey">
                            {{ area.total_att>0 ? (area.customer_types[2].allVisitCount/area.total_att).toFixed(1): 0 }}
                          </td>

                          <td *ngIf="environment.projectName != 'TX'" class="grey">{{ area.customer_types[3].customerCount }}</td>
                          <td *ngIf="coverage_view && environment.projectName != 'TX'" class="grey">{{ area.customer_types[3].visitCount }}</td>
                          <td *ngIf="!coverage_view && environment.projectName != 'TX'" class="grey">{{ area.customer_types[3].allVisitCount }}</td>

                          <td *ngIf="coverage_view && environment.projectName != 'TX'" class="grey">{{
                            area.customer_types[3].percentageCount.toFixed(0)}} %
                          </td>
                          <td *ngIf="!coverage_view && environment.projectName != 'TX'" class="grey">
                            {{ area.total_att > 0? (area.customer_types[3].allVisitCount/area.total_att).toFixed(1) : 0 }}
                          </td>

                          <td *ngIf="environment.projectName != 'TX'" >{{ area.customer_types[4].customerCount }}</td>
                          <td *ngIf="coverage_view && environment.projectName != 'TX' ">{{ area.customer_types[4].visitCount }}</td>
                          <td *ngIf="!coverage_view && environment.projectName != 'TX'">{{ area.customer_types[4].allVisitCount }}</td>

                          <td *ngIf="coverage_view && environment.projectName != 'TX'" class="grey">{{
                            area.customer_types[4].percentageCount.toFixed(0)}} %
                          </td>
                          <td *ngIf="!coverage_view && environment.projectName != 'TX'" class="grey">
                            {{ area.total_att > 0? (area.customer_types[4].allVisitCount/area.total_att).toFixed(1) : 0 }}
                          </td>
                          <td *ngIf="environment.envName != 'sk_group' && environment.projectName == 'GOVAXX' && environment.projectName != 'TX'" class="grey">{{ area.customer_types[7].customerCount }}</td>
                          <td *ngIf="coverage_view && environment.projectName == 'GOVAXX' && environment.projectName != 'TX' " class="grey">{{ area.customer_types[7].visitCount }}</td>
                          <td *ngIf="!coverage_view && environment.projectName == 'GOVAXX' && environment.projectName != 'TX'" class="grey">{{ area.customer_types[7].allVisitCount }}</td>

                          <td *ngIf="coverage_view && environment.projectName == 'GOVAXX' && environment.projectName != 'TX'" class="grey">{{
                            area.customer_types[7].percentageCount.toFixed(0)}} %
                          </td>
                          <td *ngIf="!coverage_view && environment.projectName != 'TX'" class="grey">
                            {{ area.total_att > 0? (area.customer_types[7].allVisitCount/area.total_att).toFixed(1) : 0 }}
                          </td>
                        </tr>
                        <template ngFor let-hq [ngForOf]="area.headquarters">
                          <tr *ngIf="hq.status == 'active'">
                            <th></th>
                            <th>{{ hq.name }}</th>

                            <template [ngIf]="environment.envName != 'sk_group'">
                              <td class="grey">{{ (hq.target/1000).toFixed(0) | number : fractionSize}}</td>
                              <td class="grey">{{ (hq.primary/1000).toFixed(0) | number :
                                fractionSize
                                }}
                              </td>
                              <td class="grey">
                                {{ hq.target > 0 ? ((hq.primary * 100 /
                                  hq.target).toFixed(0)) :
                                0 }} %
                              </td>
                              <td *ngIf="environment.projectName == 'GOVAXX'" class="grey">{{ hq.quantity }}</td>
                              <td>{{ ((hq.target/1000) * 0.5).toFixed(0) | number : fractionSize }}
                              </td>
                              <td>{{ (hq.total_pob/1000).toFixed(0) | number : fractionSize }}</td>
                              <td>
                                {{ hq.target > 0 ?((hq.total_pob * 100 /(hq.target *
                                0.5)).toFixed(0)) : 0 }} %
                              </td>
                            </template>

                            <template [ngIf]="environment.envName == 'sk_group'">
                              <td>{{ (hq.target).toFixed(0) | number : fractionSize }}</td>
                              <td>{{ hq.total_pob.toFixed(0) | number : fractionSize }}</td>
                              <td>
                                {{ hq.target > 0 ?((hq.total_pob * 100
                                /(hq.target)).toFixed(0)) : 0 }} %
                              </td>
                            </template>

                            <template [ngIf]="environment.envName != 'sk_group' && environment.projectName == 'ICONCX'">
                              <td class="pink">{{ (hq.gelusil_target/1000).toFixed(0) | number : fractionSize}}</td>
                              <td class="pink">{{ (hq.gelusil_primary/1000).toFixed(0) | number :
                                fractionSize
                                }}
                              </td>
                              <td class="pink">
                                {{ hq.gelusil_target > 0 ? ((hq.gelusil_primary * 100 /
                                  hq.gelusil_target).toFixed(0)) :
                                0 }} %
                              </td>
                              <td class="light_pink">{{ ((hq.gelusil_target/1000) * 0.5).toFixed(0) | number : fractionSize }}
                              </td>
                              <td class="light_pink">{{ (hq.gelusil_total_pob/1000).toFixed(0) | number : fractionSize }}</td>
                              <td class="light_pink">
                                {{ hq.gelusil_target > 0 ?((hq.gelusil_total_pob * 100 /(hq.gelusil_target *
                                0.5)).toFixed(0)) : 0 }} %
                              </td>
                            </template>
                            <template [ngIf]="environment.envName != 'sk_group' && environment.projectName == 'ICONCX'">
                              <td class="orange">{{ (hq.becosules_target/1000).toFixed(0) | number : fractionSize}}</td>
                              <td class="orange">{{ (hq.becosules_primary/1000).toFixed(0) | number :
                                fractionSize
                                }}
                              </td>
                              <td class="orange">
                                {{ hq.becosules_target > 0 ? ((hq.becosules_primary * 100 /
                                  hq.becosules_target).toFixed(0)) :
                                0 }} %
                              </td>
                              <td class="light_orange">{{ ((hq.becosules_target/1000) * 0.5).toFixed(0) | number : fractionSize }}
                              </td>
                              <td class="light_orange">{{ (hq.becosules_total_pob/1000).toFixed(0) | number : fractionSize }}</td>
                              <td class="light_orange">
                                {{ hq.becosules_target > 0 ?((hq.becosules_total_pob * 100 /(hq.becosules_target *
                                0.5)).toFixed(0)) : 0 }} %
                              </td>
                            </template>

                            <td class="grey">{{ hq.total_att }}</td>
                            <td class="grey">
                              {{ hq.total_att > 0 ? ((hq.all_total_visit /
                              hq.total_att).toFixed(0)): 0 }}
                            </td>
                            <td>
                              {{
                              hq.customer_types[0].customerCount
                              +hq.customer_types[1].customerCount
                              +hq.customer_types[2].customerCount
                              +hq.customer_types[3].customerCount
                              +hq.customer_types[4].customerCount
                              +hq.customer_types[5].customerCount
                              +hq.customer_types[6].customerCount
                              +hq.customer_types[7].customerCount
                              }}
                            </td>
                            <td *ngIf="coverage_view">
                              {{ hq.customer_types[0].visitCount
                            +hq.customer_types[1].visitCount
                            +hq.customer_types[2].visitCount
                            +hq.customer_types[3].visitCount
                            +hq.customer_types[4].visitCount
                            +hq.customer_types[5].visitCount
                            +hq.customer_types[6].visitCount
                            +hq.customer_types[7].visitCount}}
                            </td>
                            <td *ngIf="!coverage_view">
                              {{ hq.customer_types[0].allVisitCount
                            +hq.customer_types[1].allVisitCount
                            +hq.customer_types[2].allVisitCount
                            +hq.customer_types[3].allVisitCount
                            +hq.customer_types[4].allVisitCount
                            +hq.customer_types[5].allVisitCount
                            +hq.customer_types[6].allVisitCount
                            +hq.customer_types[7].allVisitCount }}
                            </td>
                            <td *ngIf="coverage_view">
                              {{
                              (((hq.customer_types[0].visitCount
                                  +hq.customer_types[1].visitCount
                                  +hq.customer_types[2].visitCount
                                  +hq.customer_types[3].visitCount
                                  +hq.customer_types[4].visitCount
                                  +hq.customer_types[5].visitCount
                                  +hq.customer_types[6].visitCount
                                  +hq.customer_types[7].visitCount)
                                /(hq.customer_types[0].customerCount
                                  +hq.customer_types[1].customerCount
                                  +hq.customer_types[2].customerCount
                                  +hq.customer_types[3].customerCount
                                  +hq.customer_types[4].customerCount
                                  +hq.customer_types[5].customerCount
                                  +hq.customer_types[6].customerCount
                                  +hq.customer_types[7].customerCount)) * 100).toFixed(0)
                              }} %
                            </td>
                            <td *ngIf="!coverage_view">
                              {{ hq.total_att > 0?
                              ((hq.customer_types[0].allVisitCount
                                  +hq.customer_types[1].allVisitCount
                                  +hq.customer_types[2].allVisitCount
                                  +hq.customer_types[3].allVisitCount
                                  +hq.customer_types[4].allVisitCount
                                  +hq.customer_types[5].allVisitCount
                                  +hq.customer_types[6].allVisitCount
                                  +hq.customer_types[7].allVisitCount)
                                /hq.total_att).toFixed(1) : 0.0 }}
                            </td>

                            <td>{{ hq.customer_types[0].aCustomerCount
                            + hq.customer_types[0].bCustomerCount }}
                            </td>
                            <td *ngIf="coverage_view">{{ hq.customer_types[0].aVisitCount
                            + hq.customer_types[0].bVisitCount }}
                            </td>
                            <td *ngIf="coverage_view">{{ hq.customer_types[0].v2_count }}</td>
                            <td *ngIf="coverage_view">{{ hq.customer_types[0].v3_count }}</td>
                            <td *ngIf="!coverage_view">{{ hq.customer_types[0].aAllVisitCount
                            + hq.customer_types[0].bAllVisitCount }}
                            </td>
                            <td *ngIf="!coverage_view">
                              {{ hq.total_att > 0? ((hq.customer_types[0].aAllVisitCount
                              + hq.customer_types[0].bAllVisitCount)/hq.total_att).toFixed(1) : 0 }}
                            </td>

                            <td class="grey">{{ hq.customer_types[1].customerCount }}</td>
                            <td *ngIf="coverage_view" class="grey">{{ hq.customer_types[1].visitCount }}</td>
                            <td *ngIf="!coverage_view" class="grey">{{ hq.customer_types[1].allVisitCount }}</td>

                            <td *ngIf="coverage_view" class="grey">{{
                              hq.customer_types[1].percentageCount.toFixed(0)}} %
                            </td>
                            <td *ngIf="!coverage_view" class="grey">
                              {{ hq.total_att>0? (hq.customer_types[1].allVisitCount/hq.total_att).toFixed(1) : 0 }}
                            </td>

                            <td>{{ hq.customer_types[2].customerCount }}</td>
                            <td *ngIf="coverage_view">{{ hq.customer_types[2].visitCount }}</td>
                            <td *ngIf="!coverage_view">{{ hq.customer_types[2].allVisitCount }}</td>

                            <td *ngIf="coverage_view">{{
                              hq.customer_types[2].percentageCount.toFixed(0)}} %
                            </td>
                            <td *ngIf="!coverage_view">
                              {{ hq.total_att > 0 ? (hq.customer_types[2].allVisitCount/hq.total_att).toFixed(1) : 0}}
                            </td>

                            <td *ngIf="environment.projectName != 'TX'" class="grey">{{ hq.customer_types[3].customerCount }}</td>
                            <td *ngIf="coverage_view && environment.projectName != 'TX'" class="grey">{{ hq.customer_types[3].visitCount }}</td>
                            <td *ngIf="!coverage_view && environment.projectName != 'TX'" class="grey">{{ hq.customer_types[3].allVisitCount }}</td>

                            <td *ngIf="coverage_view && environment.projectName != 'TX'" class="grey">{{
                              hq.customer_types[3].percentageCount.toFixed(0)}} %
                            </td>
                            <td *ngIf="!coverage_view && environment.projectName != 'TX'" class="grey">
                              {{ hq.total_att > 0? (hq.customer_types[3].allVisitCount/hq.total_att).toFixed(1) : 0 }}
                            </td>

                            <td *ngIf="environment.projectName != 'TX'">{{ hq.customer_types[4].customerCount }}</td>
                            <td *ngIf="coverage_view && environment.projectName != 'TX'">{{ hq.customer_types[4].visitCount }}</td>
                            <td *ngIf="!coverage_view && environment.projectName != 'TX'" >{{ hq.customer_types[4].allVisitCount }}</td>

                            <td *ngIf="coverage_view && environment.projectName != 'TX'">{{
                              hq.customer_types[4].percentageCount.toFixed(0)}} %
                            </td>
                            <td *ngIf="!coverage_view && environment.projectName != 'TX'">
                              {{ hq.total_att > 0? (hq.customer_types[4].allVisitCount/hq.total_att).toFixed(1) : 0 }}
                            </td>
                            <td *ngIf="environment.envName != 'sk_group' && environment.projectName == 'GOVAXX' && environment.projectName != 'TX'" class="grey">{{ hq.customer_types[7].customerCount }}</td>
                            <td *ngIf="coverage_view && environment.projectName == 'GOVAXX' && environment.projectName != 'TX'" class="grey">{{ hq.customer_types[7].visitCount }}</td>
                            <td *ngIf="!coverage_view && environment.projectName == 'GOVAXX' && environment.projectName != 'TX'" class="grey">{{ hq.customer_types[7].allVisitCount }}</td>

                            <td *ngIf="coverage_view && environment.projectName == 'GOVAXX' && environment.projectName != 'TX'" class="grey">{{
                              hq.customer_types[7].percentageCount.toFixed(0)}} %
                            </td>
                            <td *ngIf="!coverage_view && environment.projectName == 'GOVAXX' && environment.projectName != 'TX'" class="grey">
                              {{ hq.total_att > 0? (hq.customer_types[7].allVisitCount/hq.total_att).toFixed(1) : 0 }}
                            </td>
                          </tr>
                        </template>
                      </template>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ./Users Table -->
</div>
