<div class="container-fluid users" #loading_box>
  <!-- Page Breadcrumb -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-md-4">
        <div class="page-breadcrumb-wrap">
          <div class="page-breadcrumb-info">
            <h2 class="breadcrumb-titles">Field Efforts Audit Scorecard Report
            </h2>
          </div>
        </div>
      </div>


    </div>
  </div>
  <!-- Page Breadcrumb -->

  <div class="row">
    <div class="col-xs-12 col-md-3">
      <month-picker [month]="month" [year]="year" (onMonthYearChanged)="monthYearChanged($event)"></month-picker>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12">
          <div class="box-widget widget-module">
            <div>
              <div class="widget-container report-table">
                <div class="widget-block">
                  <div class="table-responsive">
                    <table class="table table-bordered visit_table">
                      <thead>
                      <tr>
                        <th>Parameters</th>
                        <th>Norms</th>
                        <th>>=95%</th>
                        <th>85-95%</th>
                        <th><=85%</th>
                      </tr>
                      </thead>
                      <tbody cse-field-efforts-audit-scorecard
                             [year]="year"
                             [month]="month"
                             (viewHeadquarter)="openUserListModal($event)">
                      </tbody>

                      <tbody csm-field-efforts-audit-scorecard
                             [year]="year"
                             [month]="month"
                             (viewArea)="openUserListModal($event)">
                      </tbody>

                      <tbody zsm-field-efforts-audit-scorecard
                             [year]="year"
                             [month]="month"
                             (viewRegion)="openUserListModal($event)">
                      </tbody>
                      <tfoot>
                      <tr>
                        <th>Parameters</th>
                        <th>Norms</th>
                        <th>>=95%</th>
                        <th>85-95%</th>
                        <th><=85%</th>
                      </tr>
                      </tfoot>

                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ./Users Table -->
</div>

<div class="modal fade" tabindex="-1" role="dialog" #user_list>
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <div *ngIf="headquarter_ids.length > 0">
              <headquarter-list [title]="title" [headquarter_ids]="headquarter_ids"></headquarter-list>
            </div>
            <div *ngIf="brick_ids.length > 0">
              <brick-list [title]="title" [brick_ids]="brick_ids"></brick-list>
            </div>
            <div *ngIf="area_ids.length > 0">
              <area-list [title]="title" [area_ids]="area_ids"></area-list>
            </div>
            <div *ngIf="region_ids.length > 0">
              <region-list [title]="title" [region_ids]="region_ids"></region-list>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
