<div class="container-fluid bricks" #loading_box>
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-4">
                <div class="page-breadcrumb-wrap">
                    <div class="page-breadcrumb-info">
                        <h2 class="breadcrumb-titles">
                            Stockist wise POB report
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Breadcrumb -->

    <!-- Filters for Visit report-->
    <div class="row">
        <div class="col-xs-12 col-md-2">
            <month-picker [month]="month" [year]="year" (onMonthYearChanged)="monthYearChanged($event)"></month-picker>
        </div>
        <div class="col-md-10">
            <div class="col-xs-12 col-md-2" *roleCheck="ROLE_ADMIN">
                <region-select [value]="region_id" [title]="'Select Region'"
                               (onValueChanged)="regionChanged($event)"></region-select>
            </div>
            <div class="col-xs-12 col-md-2" *roleCheck="ROLE_ZSM">
                <div *ngIf="region_id > 0">
                    <area-select [value]="area_id" [region_id]="region_id" [title]="'Select Area'"
                                 (onValueChanged)="areaChanged($event)"></area-select>
                </div>
            </div>
            <div class="col-xs-12 col-md-3" *roleCheck="ROLE_CSM">
                <div *ngIf="area_id > 0">
                    <headquarter-select [value]="headquarter_id" [area_id]="area_id"
                                        [title]="'Select Head Quarter'"
                                        (onValueChanged)="headquarterChanged($event)"></headquarter-select>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Filters for Visit report-->

    <!-- Attendance Table -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box-widget widget-module">
                <div class="widget-head clearfix">
                    <span class="h-icon"><i class="fa fa-table"></i></span>
                    <h4><strong>Stockist wise POB report (in Rupee)</strong></h4>
                </div>
                <div *ngIf="region_id > 0 && customers.length > 0">
                    <div class="widget-container report-table">
                        <div class="widget-block">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th class="grey">Customer</th>
                                        <th class="grey"></th>
                                        <th class="grey">Total</th>
                                        <th *ngFor="let pro of products">
                                            {{ pro.name }}
                                        </th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr>
                                        <th class="grey" [rowSpan]="2">Total</th>
                                        <th class="grey">Primary Sale</th>
                                        <th class="grey">{{ primary_sale_total.toFixed(2) }}</th>
                                        <th *ngFor="let pro of products">
                                            {{ pro.primary_sale_amount.toFixed(2) | number : fractionSize }}
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="grey">POB</th>
                                        <th class="grey">{{ all_total.toFixed(2) }}</th>
                                        <th *ngFor="let pro of products">
                                            {{ pro.amount.toFixed(2) | number : fractionSize }}
                                        </th>
                                    </tr>
                                    <template ngFor let-cus [ngForOf]="customers">
                                        <tr>
                                            <th class="grey" [rowSpan]="2">{{ cus.firm_name }}</th>
                                            <th class="grey">Primary Sale</th>
                                            <th class="grey">{{ cus.total_primary_sale.toFixed(2) }}</th>
                                            <td *ngFor="let pro of cus.products">
                                                {{ pro.primary_sale.toFixed(2) | number : fractionSize }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="grey">POB</th>
                                            <th class="grey">{{ cus.total_pob.toFixed(2) }}</th>
                                            <td *ngFor="let pro of cus.products">
                                                {{ pro.amount.toFixed(2) | number : fractionSize }}
                                            </td>
                                        </tr>
                                    </template>
                                    <template *ngIf="customers.length == 0">
                                        <tr>
                                            <th [colSpan]="products.length + 2">No Entries</th>
                                        </tr>
                                    </template>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="region_id == 0">
                    <p class="margin-left">Please Select Headquarter</p>
                </div>
            </div>
        </div>
    </div>
</div>
