<div class="container-fluid attendances">

    <!-- Page Breadcrumb -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-7">
                <div class="page-breadcrumb-wrap">
                    <div class="page-breadcrumb-info">
                        <h2 class="breadcrumb-titles">Attendance Reports
                            <small>Attendance Report for all Users</small>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
            </div>
        </div>
    </div>
    <!-- Page Breadcrumb -->

    <!-- Filters for Attendance report-->
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <month-picker [month]="month" [year]="year" (onMonthYearChanged)="monthYearChanged($event)"></month-picker>
        </div>
        <div class="col-xs-12 col-md-3" *roleCheck="4">
            <role-select [value]="role_id" (onValueChanged)="roleChanged($event)"></role-select>
        </div>
        <div class="col-xs-12 col-md-3" *ngIf="manager_role_id > 0 && manager_role_id < _service.user.role_id">
            <user-select [role_id]="manager_role_id" [value]="manager_id" [title]="'Select Manager'"
                         (onValueChanged)="managerChanged($event)"></user-select>
        </div>
        <div class="col-xs-12 col-md-2">
            <div class="form-group">
                <label>&nbsp;</label>
                <button class="btn btn-primary btn-block" (click)="toggleCompactView()">View Summary Report</button>
            </div>
        </div>
    </div>
    <!-- ./Filters for Attendance report-->

    <!-- Attendance Table -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box-widget widget-module">
                <div class="widget-head clearfix">
                    <span class="h-icon"><i class="fa fa-table"></i></span>
                    <h4>Attendance Report for ({{ title }})</h4>
                </div>
                <div #loading_box>
                    <div class="widget-container report-table" *ngIf="!compact_view">
                        <div class="widget-block">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th style="min-width: 200px;">
                                            Users
                                        </th>
                                        <th></th>
                                        <th *ngFor="let d of dates">
                                            {{ d }}
                                        </th>
                                    </tr>
                                    </thead>

                                    <tfoot>
                                    <tr>
                                        <th>
                                            Users
                                        </th>
                                        <th></th>
                                        <th *ngFor="let d of dates">
                                            {{ d }}
                                        </th>
                                    </tr>
                                    </tfoot>

                                    <tbody>
                                    <tr *ngFor="let user of users">
                                        <td>{{ user.full_name }}</td>
                                        <td>
                                            <i status [field]="user.status"></i>
                                        </td>
                                        <td *ngFor="let att of user.attendances" attendanceStatus
                                            [attendance]="att"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="widget-container attendance-blocks" *ngIf="compact_view">
                        <div class="widget-block">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th style="min-width: 200px;">
                                            Users
                                        </th>
                                        <th></th>
                                        <th>Field Work</th>
                                        <th>Meeting</th>
                                        <th>Total Leaves</th>
                                        <th>Total Holidays</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let user of users">
                                        <td>{{ user.full_name }}</td>
                                        <td>
                                            <i status [field]="user.status"></i>
                                        </td>
                                        <td>
                                            {{ user.field_work_count }}
                                        </td>
                                        <td>
                                            {{ user.meeting_count }}
                                        </td>
                                        <td>
                                            {{ user.leave_count }}
                                        </td>
                                        <td>
                                            {{ user.holiday_count }}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Attendance Table -->
</div>
