<div class="topics-list">
    <div class="topic-container new-ticket">
        <div class="box-widget widget-module" style="margin-bottom: 0;">
            <div class="widget-head clearfix">
                <span class="h-icon"><i class="fa fa-table"></i></span>
                <h4>Visit POB Trend </h4>

            </div>
            <div class="widget-container details-table" #loading_box>
                <div class="widget-block" style="padding: 0">
                    <div class="line-chart-container">
                        <div id="chart_divEvolution" style="width: 100%;height: 200px;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>