<table class="table table-bordered">
  <thead>
  <tr>
    <th>Products</th>
    <th>Month %Ach</th>
    <th>Month Target</th>
    <th>Primary Plan</th>
    <th>Secondary Plan</th>
    <th>System Pri Plan</th>
    <th>Variance to Target</th>
    <th> POB Target</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let brand of brands">
    <th>{{ brand.name }}</th>
    <td>{{ ((brand.primary_sale/brand.month_target)*100).toFixed(0) }}</td>
    <td>{{ brand.month_target.toFixed(0) }}</td>
    <td>{{ brand.primary_sale.toFixed(0) }}</td>
    <td>{{ brand.secondary_sale.toFixed(0) }}</td>
    <td>{{ brand.system_primary_plan.toFixed(0) }}</td>
    <td>{{ brand.variance_to_target.toFixed(0) }}</td>
    <td>{{ brand.pob_target.toFixed(0) }}</td>
  </tr>
  <tr>
    <th>Total</th>
    <th>{{month_ach.toFixed(0)}}</th>
    <th>{{month_target.toFixed(0)}}</th>
    <th>{{primary_paln.toFixed(0)}}</th>
    <th>{{secondary_paln.toFixed(0)}}</th>
    <th>{{system_pri_paln.toFixed(0)}}</th>
    <th>{{variance_target.toFixed(0)}}</th>
    <th>{{pob_target.toFixed(0)}}</th>
  </tr>
  </tbody>
</table>