<div class="container-fluid zsms" #loading_box>

    <!-- Page Breadcrumb -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-7">
                <div class="page-breadcrumb-wrap">
                    <div class="page-breadcrumb-info">
                        <h2 class="breadcrumb-titles">Secondary Statement Report
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
            </div>
        </div>
    </div>
    <!-- Page Breadcrumb -->

    <!-- Filters for Order report-->
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <month-picker [month]="month" [year]="year" (onMonthYearChanged)="monthYearChanged($event)"></month-picker>
        </div>
    </div>
    <!-- ./Filters for Order report-->

    <!-- ZSM Table -->
    <div class="row">
        <div class="row">
            <div class="col-xs-12 col-md-4" *ngFor="let region of regions">
                <div class="box-widget widget-module">
                    <div class="widget-head clearfix">
                        <span class="h-icon"><i class="fa fa-table"></i></span>
                        <h4><strong>{{ region.name }}</strong></h4>
                    </div>
                    <div>
                        <div class="widget-container report-table">
                            <div class="widget-block">
                                <div class="table-responsive">
                                    <table class="table table-bordered zsm-table">
                                        <thead>
                                        <tr style="background-color: #3498db;color: white">
                                            <th>Headquarter</th>
                                            <th>Total Stockist</th>
                                            <th>Secondary Statement Updated</th>
                                            <th>Remaining</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr style="background-color: #3498db;color: white">
                                            <th>Total</th>
                                            <td>{{ region.total_customers }}</td>
                                            <td>{{ region.customer_count }}</td>
                                            <td>{{ region.total_customers - region.customer_count }}</td>
                                        </tr>
                                        <template ngFor let-area [ngForOf]="region.areas">
                                            <tr class="th_middle">
                                                <th>{{ area.name }}</th>
                                                <td>{{ area.total_customers }}</td>
                                                <td>{{ area.customer_count }}</td>
                                                <td>{{ area.total_customers - area.customer_count }}</td>
                                            </tr>
                                            <tr *ngFor="let hq of area.headquarters">
                                                <th class="middle">{{ hq.name }}</th>
                                                <td>{{ hq.total_customers }}</td>
                                                <td>{{ hq.customer_count }}</td>
                                                <td>
                                                    <a class="user_click"
                                                       (click)="selectHeadquarter(hq.id,area.id,region.id)">
                                                        {{ hq.total_customers - hq.customer_count }}
                                                    </a>
                                                </td>
                                            </tr>
                                        </template>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./ZSM Table -->
</div>

<div class="modal fade" tabindex="-1" role="dialog" #missing_customer_table>
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <!-- Visit View -->
                <div class="row" *ngIf="headquarter_id">
                    <!-- Visit Table -->
                    <div class="col-xs-12">
                        <div>
                            <missing-customer-list [headquarter_id]="headquarter_id"
                                                   [area_id]="area_id"
                                                   [region_id]="region_id"
                                                   [month]="month"
                                                   [year]="year"></missing-customer-list>
                        </div>
                    </div>
                    <!-- ./Tour Table -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
