<div class="container-fluid sales">

  <!-- Page Breadcrumb -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-md-4">
        <div class="page-breadcrumb-wrap">
          <div class="page-breadcrumb-info">
            <h2 class="breadcrumb-titles">Secondary Sales
            </h2>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-2" *ngIf="environment.envName == 'geo' && this._service.user.departments.length > 1 && _service.user.isHeadquarter">
        <department-select [value]="_department_id" [title]="'Select Department'" [first_value]="'Select Department'"
                           (onValueChanged)="departmentChanged($event)"></department-select>
      </div>
      <div class="col-md-4">
        <product-select [value]="product_id" [title]="'Select Product'"  [department_id]="_department_id"
                        (onValueChanged)="onProductChanged($event)"></product-select>
      </div>
      <div class="col-xs-12 col-md-2">
        <a class="btn btn-primary btn-block btn-margin" style="margin-top: 25px;" *ngIf="!btn_loading"
           (click)="download()">
          Export to xlsx
        </a>
        <a class="btn btn-primary btn-block btn-margin" style="margin-top: 25px;" *ngIf="btn_loading">
          <i class="fa fa-spinner"></i>Export to xlsx
        </a>
      </div>
    </div>
  </div>
  <!-- Page Breadcrumb -->

  <!-- Stockist Wise Table -->
  <div class="row" style="margin-bottom: 10px;">
    <div class="col-xs-12" *ngIf="!_service.user.isHeadquarter">
      <a [routerLink]="['/sales/secondary/hq_wise']" class="btn btn-xs btn-primary">
        <i class="fa fa-arrow-left"></i> Back
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="box-widget widget-module">
        <div class="widget-head clearfix">
          <span class="h-icon"><i class="fa fa-table"></i></span>
          <h4>Secondary Sales Report ({{ title }})</h4>
        </div>
        <div class="widget-container sales-table" #loading_box>
          <div class="widget-block">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>Customer Name</th>
                  <th>Type</th>
                  <th>POB <br>(<i class="fa fa-rupee"></i> )</th>
                  <th>Primary Sale <br>(Qty)</th>
                  <th class="grey">Primary Sale <br>(<i class="fa fa-rupee"></i>)</th>
                  <th>Opening <br>(Qty)</th>
                  <th class="grey">Opening <br>(<i class="fa fa-rupee"></i>)</th>
                  <th>Inventory Adjustment <br>(Qty)</th>
                  <th class="grey">Inventory Adjustment <br>(<i class="fa fa-rupee"></i>)</th>
                  <th>Secondary Sale <br>(Qty)</th>
                  <th>Closing <br>(Qty)</th>
                  <th class="grey">Secondary Value <br>(<i class="fa fa-rupee"></i>)</th>
                  <th class="grey">Closing Value <br>(<i class="fa fa-rupee"></i>)</th>
                  <th>Action</th>
                </tr>
                </thead>

                <tbody>
                <template ngFor let-sale [ngForOf]="customers">
                  <tr [ngClass]="{'dark_red': PToSRatio(sale.primary_sale,sale.secondary_amount)}">
                    <th>{{ sale?.customer?.firm_name }}</th>
                    <td>{{ sale.customer?.customer_type?.name }}({{ sale.customer?.grade?.name }})
                    </td>
                    <td>{{ sale.pob.toFixed(0)| number : fractionSize }}</td>
                    <td>{{ sale.primary_qty.toFixed(0)| number : fractionSize }}</td>
                    <td>{{ sale.primary_sale.toFixed(0)| number : fractionSize }}</td>
                    <td>{{ (sale.opening).toFixed(0)| number : fractionSize }}</td>
                    <td>{{ (sale.opening_value).toFixed(0)| number : fractionSize }}
                    </td>
                    <td>{{ (sale.adjustment).toFixed(0)| number : fractionSize }}</td>
                    <td>{{ (sale.adjustment_amount).toFixed(0)| number : fractionSize
                      }}
                    </td>
                    <td>{{ (sale.secondary_sale).toFixed(0)| number : fractionSize }}</td>
                    <td>{{ (sale.closing).toFixed(0)| number : fractionSize }}</td>
                    <td>{{ (sale.secondary_amount).toFixed(0)| number :
                      fractionSize }}
                    </td>
                    <td>{{ (sale.closing_value).toFixed(0)| number : fractionSize }}
                    </td>

                    <td>
                      <span *ngIf="!product_id || product_id == 0">
                      <a [routerLink]="['/sales/secondary/stockist_product_wise', month, year, sale.customer.hq_region_id,
                      sale.customer.hq_area_id,sale.customer.hq_headquarter_id,sale.customer.id, _department_id]"
                         class="btn btn-xs btn-primary">Product</a>
                        </span>
                    </td>
                  </tr>
                </template>
                <tr>
                  <th>Total</th>
                  <th></th>
                  <td class="text-right">{{ pob.toFixed(0)| number : fractionSize }}</td>
                  <td class="text-right">{{ primary_qty.toFixed(0)| number : fractionSize }}</td>
                  <td class="grey text-right">{{ primary_sale.toFixed(0)| number : fractionSize }}
                  </td>
                  <td class="text-right">{{ opening.toFixed(0) | number : fractionSize }}</td>
                  <td class="grey text-right">{{ opening_value.toFixed(0) | number : fractionSize }}
                  </td>
                  <td class="text-right">{{ adjustment.toFixed(0) | number : fractionSize }}</td>
                  <td class="grey text-right">{{ adjustment_amount.toFixed(0) | number : fractionSize
                    }}
                  </td>
                  <td class="text-right">{{ secondary_sale.toFixed(0)| number : fractionSize }}</td>
                  <td class="text-right">{{ closing.toFixed(0) | number : fractionSize }}</td>
                  <td class="grey text-right">{{ (secondary_value).toFixed(0)| number : fractionSize
                    }}
                  </td>
                  <td class="grey text-right">
                    {{ (closing_value).toFixed(0)| number : fractionSize}}
                  </td>
                  <td></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ./Stockist Wise Table -->
</div>
