<div class="container-fluid sales">

  <!-- Page Breadcrumb -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-md-7">
        <div class="page-breadcrumb-wrap">
          <div class="page-breadcrumb-info">
            <h2 class="breadcrumb-titles">Sales Planning</h2>
          </div>
        </div>
      </div>
      <div class="col-md-5">
      </div>
    </div>
  </div>
  <!-- Page Breadcrumb -->

  <!-- Filters for Order report-->
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <month-picker [month]="month" [year]="year" (onMonthYearChanged)="monthYearChanged($event)"></month-picker>
    </div>
    <div class="col-xs-12 col-md-3 col-md-offset-6" *ngIf="!editing">
      <button class="btn btn-primary pull-right" (click)="toggleEditing()">EDIT</button>
      <button class="btn btn-primary pull-right" (click)="showSummary()">Summary</button>
    </div>
    <div class="col-xs-12 col-md-3 col-md-offset-6" *ngIf="editing">
      <button class="btn btn-primary pull-right" (click)="save('active')">Save</button>
      <button class="btn btn-primary pull-right" (click)="save('done')">Submit</button>
    </div>
  </div>
  <!-- ./Filters for Order report-->

  <div class="row">
    <div class="col-xs-12">
      <div class="topics-list" #loading_box>
        <div class="topic-container new-ticket">
          <div class="box-widget widget-module" style="margin-bottom: 0;">
            <div class="widget-head clearfix">
              <span class="h-icon"><i class="fa fa-table"></i></span>
              <h4>
                Sales Planning
              </h4>
            </div>
            <div class="widget-container details-table" #loading_box>
              <div class="widget-block">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th style="text-align: center; min-width: 150px;">All Stockist Name</th>
                      <th style="text-align: center" colspan="5">Dexona</th>
                      <th style="text-align: center" colspan="5">Ciprobid</th>
                      <th style="text-align: center" colspan="5">Mifegist</th>
                      <th style="text-align: center" colspan="5">Others</th>
                      <th style="text-align: center" colspan="6">Total</th>
                    </tr>
                    <tr>
                      <th>Stockist</th>

                      <th> Avg Primary (2016)</th>
                      <th>Previous month sec</th>
                      <th>Opening Stock</th>
                      <th>Primary Plan</th>
                      <th>Secondary Plan</th>

                      <th> Avg Primary (2016)</th>
                      <th>Previous month sec</th>
                      <th>Opening Stock</th>
                      <th>Primary Plan</th>
                      <th>Secondary Plan</th>

                      <th> Avg Primary (2016)</th>
                      <th>Previous month sec</th>
                      <th>Opening Stock</th>
                      <th>Primary Plan</th>
                      <th>Secondary Plan</th>

                      <th> Avg Primary (2016)</th>
                      <th>Previous month sec</th>
                      <th>Opening Stock</th>
                      <th>Primary Plan</th>
                      <th>Secondary Plan</th>

                      <th> Avg Primary (2016)</th>
                      <th>Previous month sec</th>
                      <th>Opening Stock</th>
                      <th>Primary Plan</th>
                      <th>Secondary Plan</th>
                      <th>Next Month Opening Inventory (No. of Days)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr sale-plan="" *ngFor="let customer of customers" [customer]="customer" [editing]="editing"
                        (customerUpdated)="total_updated($event)">
                    </tr>
                    <tr sale-plan="" [customer]="total_customer"
                        style="background-color: grey !important; color: white !important;">
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" #summary_component>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body" style="padding: 0px;">
        <div class="row">
          <div class="col-xs-12" #loading_box>
            <div class="topics-list" style="padding: 0px;">
              <div class="topic-container new-ticket">
                <div class="box-widget widget-module">
                  <div class="widget-head clearfix">
                    <span class="h-icon"><i class="fa fa-table"></i></span>
                    <h4>
                      Summary Planning
                    </h4>
                  </div>
                  <div class="widget-container details-table">
                    <div class="widget-block">
                      <div class="table-responsive">
                        <product-sale-plan [customer]="total_customer" [targets]="targets"
                                           [brands]="brands"></product-sale-plan>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12" #loading_box>
            <div class="topics-list" style="padding: 0px;">
              <div class="topic-container new-ticket">
                <div class="box-widget widget-module">
                  <div class="widget-head clearfix">
                    <span class="h-icon"><i class="fa fa-table"></i></span>
                    <h4>
                      Stockist Level POB Target
                    </h4>
                  </div>
                  <div class="widget-container details-table">
                    <div class="widget-block">
                      <div class="table-responsive">
                        <primary-sale-above [customers]="customers" [total_customer]="total_customer" [year]="year"
                                            [targets]="targets" [brands]="brands"></primary-sale-above>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
