<div class="container-fluid bricks" #loading_box>
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-4">
                <div class="page-breadcrumb-wrap">
                    <div class="page-breadcrumb-info">
                        <h2 class="breadcrumb-titles">
                            Report
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Breadcrumb -->

    <!-- Filters for report-->
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <month-picker [month]="month" [year]="year" (onMonthYearChanged)="monthYearChanged($event)"></month-picker>
        </div>
        <div class="col-xs-12 col-md-3">
            <region-select [value]="region_id" [title]="'Select Region'"
                           (onValueChanged)="regionChanged($event)"></region-select>
        </div>
        <div class="col-xs-12 col-md-3">
            <div *ngIf="region_id > 0">
                <area-select [value]="area_id" [region_id]="region_id" [title]="'Select Area'"
                             (onValueChanged)="areaChanged($event)"></area-select>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div *ngIf="area_id > 0">
                <headquarter-select [value]="headquarter_id" [area_id]="area_id"
                                    [title]="'Select Head Quarter'"
                                    (onValueChanged)="headquarterChanged($event)"></headquarter-select>
            </div>
        </div>
    </div>
    <!-- ./Filters for report-->

    <!-- Report Table -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box-widget widget-module">
                <div class="widget-head clearfix">
                    <span class="h-icon"><i class="fa fa-table"></i></span>
                    <h4><strong>Dashboard</strong></h4>
                </div>
                <div>
                    <div class="widget-container report-table">
                        <div class="widget-block">
                            <div class="table-responsive">
                                <table class="table table-bordered visit_table">
                                    <thead>
                                    <tr>
                                        <th colspan="2">Name Of Brick</th>
                                        <th>Potential</th>
                                        <th>Distance From HQ</th>
                                        <th>Visits</th>
                                        <th>POB</th>
                                        <th>Target</th>
                                    </tr>
                                    </thead>

                                    <tfoot>
                                    <tr>
                                        <th colspan="2">Name Of Brick</th>
                                        <th>Potential</th>
                                        <th>Distance From HQ</th>
                                        <th>Visits</th>
                                        <th>POB</th>
                                        <th>Target</th>
                                    </tr>
                                    </tfoot>

                                    <tbody>
                                    <tr>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Report Table -->
</div>
