<div class="container-fluid bricks">
    <div class="inbox-container clearfix" style="height: 328px;">
        <div class="inbox-content" style="height: 328px;">
            <div class="email-list" style="height: 328px;">
                <div class="email-list-item m-unread m-stared">
                    <div class="email-list-action">
                        <div class="icheckbox_minimal" style="position: relative;">
                            <input type="checkbox" name="mail-select" class="mail-select" style="position: absolute; top: -30%; left: -30%; display: block; width: 160%; height: 160%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -30%; left: -30%; display: block; width: 160%; height: 160%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                    </div>
                    <span class="mark-stared"><i class="ico-star-rate"></i></span>
                    <div class="email-list-details">
                        <div class="email-list-top clearfix">
                            <ul class="clearfix">
                                <li class="pull-left email-from">Envato <span class="label label-success">Envato</span>
                                </li>
                                <li class="pull-right email-date">3:00PM</li>
                            </ul>
                        </div>
                        <div class="email-intro">
                            <h4>Payment Received For Transaction ID ... <i class="ico-attachment"></i></h4>
                            <p>
                                We have just received your payment for 50.00-Taka-Airtime-Payment-For-Pre-Paid-Number...
                            </p>
                        </div>
                    </div>
                </div>
                <div class="email-list-item m-unread">
                    <div class="email-list-action">
                        <div class="icheckbox_minimal" style="position: relative;"><input type="checkbox" name="mail-select" class="mail-select" style="position: absolute; top: -30%; left: -30%; display: block; width: 160%; height: 160%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -30%; left: -30%; display: block; width: 160%; height: 160%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                    </div>
                    <div class="email-list-details">
                        <div class="email-list-top clearfix">
                            <ul class="clearfix">
                                <li class="pull-left email-from">Sharma</li>
                                <li class="pull-right email-date">3:00PM</li>
                            </ul>
                        </div>
                        <div class="email-intro">
                            <h4>New AVR is arrived <i class="ico-attachment"></i></h4>
                            <p>
                                including Jump Start MySQL, AngularJS: Novice to Ninja and HTML5 &amp; CSS3 for the Real World...
                            </p>
                        </div>
                    </div>
                </div>
                <div class="email-list-item m-unread">
                    <div class="email-list-action">
                        <div class="icheckbox_minimal" style="position: relative;"><input type="checkbox" name="mail-select" class="mail-select" style="position: absolute; top: -30%; left: -30%; display: block; width: 160%; height: 160%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -30%; left: -30%; display: block; width: 160%; height: 160%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                    </div>
                    <div class="email-list-details">
                        <div class="email-list-top clearfix">
                            <ul class="clearfix">
                                <li class="pull-left email-from">Envato</li>
                                <li class="pull-right email-date">3:00PM</li>
                            </ul>
                        </div>
                        <div class="email-intro">
                            <h4>Payment Received For Transaction ID ... <i class="ico-attachment"></i></h4>
                            <p>
                                including Jump Start MySQL, AngularJS: Novice to Ninja and HTML5 &amp; CSS3 for the Real World...
                            </p>
                        </div>
                    </div>
                </div>
                <div class="email-list-item m-read m-stared">
                    <div class="email-list-action">
                        <div class="icheckbox_minimal" style="position: relative;"><input type="checkbox" name="mail-select" class="mail-select" style="position: absolute; top: -30%; left: -30%; display: block; width: 160%; height: 160%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -30%; left: -30%; display: block; width: 160%; height: 160%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                    </div>
                    <span class="mark-stared"><i class="ico-star-rate"></i></span>
                    <div class="email-list-details">
                        <div class="email-list-top clearfix">
                            <ul class="clearfix">
                                <li class="pull-left email-from">Envato <span class="label label-success">Envato</span>
                                </li>
                                <li class="pull-right email-date">3:00PM</li>
                            </ul>
                        </div>
                        <div class="email-intro">
                            <h4>Payment Received For Transaction ID ... <i class="ico-attachment"></i></h4>
                            <p>
                                including Jump Start MySQL, AngularJS: Novice to Ninja and HTML5 &amp; CSS3 for the Real World...
                            </p>
                        </div>
                    </div>
                </div>
                <div class="email-list-item m-important">
                    <div class="email-list-action">
                        <div class="icheckbox_minimal" style="position: relative;"><input type="checkbox" name="mail-select" class="mail-select" style="position: absolute; top: -30%; left: -30%; display: block; width: 160%; height: 160%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -30%; left: -30%; display: block; width: 160%; height: 160%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                    </div>
                    <span class="mark-important"><i class="fa fa-bookmark"></i></span>
                    <div class="email-list-details">
                        <div class="email-list-top clearfix">
                            <ul class="clearfix">
                                <li class="pull-left email-from">Envato</li>
                                <li class="pull-right email-date">3:00PM</li>
                            </ul>
                        </div>
                        <div class="email-intro">
                            <h4>Payment Received For Transaction ID ... <i class="ico-attachment"></i></h4>
                            <p>
                                including Jump Start MySQL, AngularJS: Novice to Ninja and HTML5 &amp; CSS3 for the Real World...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>