.task-info {
  overflow-y: auto;
  margin-bottom: 85px;
}

.message-form {
  position: relative;
  bottom: 85px;
  background-color: white;
}

.task-completed {
  background-color: #ecf0f1;

  &:hover {
    background-color: #ecf0f1;
  }
}

.img-circle{
  border-radius: 50%;
  background-color: #0c4269;
  padding: 5%;
}