.task-info {
  overflow-y: auto;
  margin-bottom: 85px;
}

.message-form {
  position: relative;
  bottom: 85px;
  background-color: white;
}

.task-completed {
  background-color: #ecf0f1;

  &:hover {
    background-color: #ecf0f1;
  }
}

.img-circle{
  border-radius: 50%;
  background-color: #0c4269;
  padding: 5%;
}

.message-circle{
  color: #ffffff;
  width: 15px;
  height: 15px;
  font-size: 2px;
  background-color: #25d366;
  border-radius: 60%;
  line-height: 16px;
  text-align: center;
}

.circle{
  padding: 0px 0px 0px 20px;
}

.size-font{
  font-size: 10px;
}