<!-- ./title of page -->
<div class="inbox-toolbar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="btn-toolbar inbox-mail-toolbar">
                    <h2>Chat Room</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ./title of page -->

<!-- container of page -->
<div class="inbox-container clearfix">
    <div class="inbox-content">

        <!-- user list -->
        <div class="email-list">
            <div class="email-list-item" *ngFor="let u of users"
                 [ngClass]="{'m-selected': u.id == user?.id}">
                <div class="email-meta clearfix" (click)="onUserSelected(u)">
                    <div class="emial-from pull-left">
                        <div>
                            <div class="email-thumb">
                                <img src="/assets/images/avatar/manager.png" alt="sprout">
                            </div>
                            <div class="email-recipient">
                                <span><span></span>{{ u.full_name }}</span>
                                <span><span></span>{{ u.role.name }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="emial-date pull-right">
                    </div>
                </div>
            </div>
        </div>
        <!-- ./user list -->

        <!-- chat box -->
        <div class="mail-body multi-page" #loading_box style="width: 52%">
            <div class="email-content">
                <div [hidden]="!user.id">
                    <message-view [user]="user"></message-view>
                </div>
                <div [hidden]="!user.id">
                    <message-create [user]="user" (messageCreated)="messageCreated($event)"></message-create>
                </div>
            </div>
        </div>
        <!-- ./chat box -->
    </div>
</div>
<!-- ./container of page -->