<div class="task-top-toolbar clearfix">
    <h2>Chat Room</h2>
</div>
<div class="task-container clearfix apps-container">
    <div class="task-content apps-panel-scroll">

        <!-- User list -->
        <div class="task-list apps-panel-scroll" #loading_box>
            <div class="task-list-item" *ngFor="let u of users" [ngClass]="{'task-completed': u.id == user.id}">
                <div class="task-list-action">
                    <div _ngcontent-fxv-34="" class="task-thumb">
                        <img _ngcontent-fxv-34="" alt="user" src="assets/images/avatar/manager.png">
                    </div>
                </div>
                <div class="task-list-details" (click)="onUserSelected(u)">
                    <div class="task-intro">
                        <h4>{{ u.full_name }}</h4>
                        <p>
                            {{ u.role.name }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./User list -->


        <div class="task-body apps-panel-scroll">
            <div class="task-body-content">
                <div class="task-content-top">
                    <div class="task-header">
                        <div class="task-title">
                            <h3>{{ user.full_name }}</h3>
                        </div>
                    </div>
                </div>
                <div class="task-info">
                    <message-view [user]="user"></message-view>
                </div>
                <div [hidden]="!user.id">
                    <message-create [user]="user" (messageCreated)="messageCreated($event)"></message-create>
                </div>
            </div>
        </div>
    </div>
</div>