<div class="container-fluid dashboard">

    <!-- Page breadcrumb -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-7">
                <div class="page-breadcrumb-wrap">
                </div>
            </div>
        </div>
    </div>
    <!-- ./Page breadcrumb -->

    <!-- pages layout -->
    <div class="row">
        <div class="col-md-2 col-md-push-10">
            <div class="row">
                <div class="col-xs-12">
                    <dates-select (onDateChanged)="onDateChanged($event)"></dates-select>
                </div>
            </div>
            <div class="row" *roleCheck="ROLE_ADMIN">
                <div class="col-xs-12">
                    <div class="row">
                        <multiple-region-select [region_ids]="region_ids"
                                                (selectedRegion)="regionSelected($event)"></multiple-region-select>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="region_ids.length > 0">
                <div class="col-xs-12" *roleCheck="ROLE_ZSM">
                    <div class="row">
                        <multiple-area-select [region_ids]="region_ids" [area_ids]="area_ids"
                                              (selectedArea)="areaSelected($event)"></multiple-area-select>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="area_ids.length > 0">
                <div class="col-xs-12">
                    <div class="row">
                        <multiple-headquarter-select [area_ids]="area_ids" [headquarter_ids]="headquarter_ids"
                                                     (selectedHeadquarter)="headquarterSelected($event)">

                        </multiple-headquarter-select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-md-pull-2">
            <dashboard-count [dates]="dates" [region_ids]="region_ids" [area_ids]="area_ids"
                             [headquarter_ids]="headquarter_ids"></dashboard-count>

            <div class="row" *ngIf="environment.envName != 'sk_group'">

                <!-- Highest Call graph -->
                <div class="col-xs-12 col-md-6">
                    <till-month-chart [region_ids]="region_ids" [area_ids]="area_ids"
                                      [headquarter_ids]="headquarter_ids"></till-month-chart>
                </div>
                <!-- ./Highest Call graph -->

                <!-- Highest Order graph -->
                <div class="col-xs-12 col-md-6">
                    <monthly-primary-secondary-target [region_ids]="region_ids" [area_ids]="area_ids"
                                                      [headquarter_ids]="headquarter_ids">

                    </monthly-primary-secondary-target>
                </div>
                <!-- ./Highest Order graph -->
            </div>

            <!-- Visit Order Trend -->
            <div class="row">
                <div class="col-xs-12 col-md-9">
                    <visit-count-graph [dates]="dates"
                                       (totalVisitOrders)="totalVisitOrders($event)"
                                       [region_ids]="region_ids" [area_ids]="area_ids"
                                       [headquarter_ids]="headquarter_ids"></visit-count-graph>
                </div>
                <div class="col-xs-12 col-md-3">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="mini-stats-widget full-block-mini-chart w_bg_green_500">
                                <div class="mini-stats-top">
                                    <span class="mini-stats-value">{{ total_visits }}</span>
                                    <span class="mini-stats-label">Total Visits</span>
                                </div>
                                <div class="mini-stats-bottom w_bg_green_65">
                                    <span>Prod. Calls</span>  <span>{{ productive_calls}} % </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="mini-stats-widget full-block-mini-chart w_bg_deep_purple_500">
                                <div class="mini-stats-top">
                                    <span class="mini-stats-value">{{ total_pob.toFixed(2) | number : fractionSize }}</span>
                                    <span class="mini-stats-label">POB</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Visit Order Trend -->

            <div class="row" *ngIf="environment.envName == 'sk_group'">

                <!-- Monthly Primary graph -->
                <div class="col-xs-12">
                    <monthly-primary-secondary-target [region_ids]="region_ids" [area_ids]="area_ids"
                                                      [headquarter_ids]="headquarter_ids">

                    </monthly-primary-secondary-target>
                </div>
                <!-- ./Monthly Primary graph -->
            </div>
        </div>
    </div>
    <!-- ./pages layout -->

    <div class="row" *ngIf="environment.envName != 'sk_group'">
        <div class="col-xs-6">
            <product-wise-sale [year]="year" [month]="month" [region_ids]="region_ids" [area_ids]="area_ids"
                               [headquarter_ids]="headquarter_ids"></product-wise-sale>
        </div>
    </div>
</div>
