<div class="container-fluid orders">

    <!-- Page Breadcrumb -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-7">
                <div class="page-breadcrumb-wrap">
                    <div class="page-breadcrumb-info">
                        <h2 class="breadcrumb-titles">Orders
                            <small>Order Report</small>
                        </h2>
                        <ul class="list-page-breadcrumb">
                            <li><a href="#">Home</a>
                            </li>

                            <li class="active-page"> Orders</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
            </div>
        </div>
    </div>
    <!-- Page Breadcrumb -->

    <!-- Filters for Order report-->
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <month-picker [month]="month" [year]="year" (onMonthYearChanged)="monthYearChanged($event)"></month-picker>
        </div>
        <div class="col-xs-12 col-md-3" *ngIf="environment.envName == 'sk_group'">
            <button class="btn bt-primary" (click)="switchToAbbott()" style="margin-top: 10px;" *ngIf="!abbott">
                Switch to Abbott
            </button>
            <button class="btn bt-primary" (click)="switchToAbbott()" style="margin-top: 10px;" *ngIf="abbott">
                Back to SK
            </button>
        </div>
    </div>
    <!-- ./Filters for Order report-->

    <!-- Order Table -->
    <!-- Attendance Table -->
    <div class="row" #loading_box>
        <div class="col-xs-12" *roleCheck="ROLE_ZSM">
            <div class="row" *ngFor="let z of managers">
                <div class="col-xs-12">
                    <div class="box-widget widget-module">
                        <div class="widget-head clearfix">
                            <span class="h-icon"><i class="fa fa-table"></i></span>
                            <h4><strong>{{ z.full_name }}</strong></h4>
                        </div>
                        <div>
                            <div class="widget-container report-table">
                                <div class="widget-block">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th style="min-width: 200px;">Users</th>
                                                <th>Headquarter</th>
                                                <th>Daily Target</th>
                                                <th>Total</th>
                                                <th></th>
                                                <th *ngFor="let d of dates">
                                                    {{ d }}
                                                </th>
                                            </tr>
                                            </thead>

                                            <tfoot>
                                            <tr>
                                                <th>Users</th>
                                                <th>Headquarter</th>
                                                <th>Daily Target</th>
                                                <th>Total</th>
                                                <th></th>
                                                <th *ngFor="let d of dates">
                                                    {{ d }}
                                                </th>
                                            </tr>
                                            </tfoot>

                                            <tbody>
                                            <template ngFor let-mg [ngForOf]="z.children">
                                                <tr>
                                                    <td [colSpan]="mg.children[0]?.orders.length + 2"
                                                        class="text-center">
                                                        <strong>{{ mg.full_name }}</strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Total</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>{{ (mg.total_pob_count / 1000).toFixed(1) }}</td>
                                                    <td></td>
                                                    <td *ngFor="let order of mg.orders">
                                                        {{ (order.order_total_count / 1000).toFixed(1) }}
                                                    </td>

                                                </tr>
                                                <tr *ngFor="let user of mg.children">
                                                    <td>{{ user.full_name }}</td>
                                                    <td>{{ user.hq_headquarter?.name }}</td>
                                                    <td>{{ user.daily_target }}
                                                    </td>
                                                    <td>{{ (user.total_pob_count / 1000).toFixed(1) }}</td>
                                                    <td>
                                                        <i status [field]="user.status"></i>
                                                    </td>
                                                    <td *ngFor="let order of user.orders; let i = index" orderCount
                                                        [order]="order" [target]="user.daily_target" class="user_click"
                                                        (click)="selectUser(user, i + 1)"></td>
                                                </tr>
                                            </template>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12" *ngIf="_service.user.isArea">
            <div class="row" *ngFor="let z of managers">
                <div class="col-xs-12">
                    <div class="box-widget widget-module">
                        <div class="widget-head clearfix">
                            <span class="h-icon"><i class="fa fa-table"></i></span>
                            <h4><strong>{{ z.full_name }}</strong></h4>
                        </div>
                        <div>
                            <div class="widget-container report-table">
                                <div class="widget-block">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th style="min-width: 200px;">
                                                    Users
                                                </th>
                                                <th>
                                                    Headquarter
                                                </th>
                                                <th>Daily Target</th>
                                                <th>Total</th>
                                                <th></th>
                                                <th *ngFor="let d of dates">
                                                    {{ d }}
                                                </th>
                                            </tr>
                                            </thead>

                                            <tfoot>
                                            <tr>
                                                <th>
                                                    Users
                                                </th>
                                                <th>
                                                    Headquarter
                                                </th>
                                                <th>Daily Target</th>
                                                <th>Total</th>
                                                <th></th>
                                                <th *ngFor="let d of dates">
                                                    {{ d }}
                                                </th>
                                            </tr>
                                            </tfoot>

                                            <tbody>
                                            <tr *ngFor="let user of z.children">
                                                <td>{{ user.full_name }}</td>
                                                <td>{{ user.hq_headquarter.name }}</td>
                                                <td>{{ user.daily_target }}</td>
                                                <td>{{ (user.total_pob_count / 1000).toFixed(1) }}</td>
                                                <td>
                                                    <i status [field]="user.status"></i>
                                                </td>
                                                <td *ngFor="let order of user.orders; let i = index" orderCount
                                                    [order]="order" [target]="user.daily_target" class="user_click"
                                                    (click)="selectUser(user, i + 1)"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Order Table -->
</div>

<div class="modal fade" tabindex="-1" role="dialog" #user_order_table>
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <!-- Create Tour View -->
                <div class="row" *ngIf="user">
                    <!-- Tour Table -->
                    <div class="col-xs-12">
                        <div>
                            <user-order-list [user]="user" [date]="date" [month]="month"
                                             [year]="year"></user-order-list>
                        </div>
                    </div>
                    <!-- ./Tour Table -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>