<div class="topics-list">
    <h3 style="margin-bottom: 15px">{{ _user.full_name }}</h3>
    <div class="topic-container new-ticket">
        <a class="topic-wrap">
            <span class="topic-thumb">
				<img src="assets/images/avatar/manager.png" alt="user">
			</span>
            <span class="topic-intro">
				<span class="topic-title">Mobile Website QA</span>
				<span class="topic-meta">
				<em>Last comment</em> 3 days ago <em>from</em> allisongrayce <em>in</em> Mobile Apps </span>
			</span>
        </a>
        <a class="topic-wrap">
            <span class="topic-intro">
				<span class="topic-title">Mobile Website QA</span>
				<span class="topic-meta">
				<em>Last comment</em> 3 days ago <em>from</em> allisongrayce <em>in</em> Mobile Apps </span>
				</span>
            <span class="topic-thumb">
				<img src="assets/images/avatar/manager.png" alt="user">
			</span>
        </a>
    </div>

</div>
