<div class="left-aside desktop-view">
  <!-- Logo image -->
  <div class="aside-branding">
    <a href="index.html" class="large-logo">
      <img src="/assets/images/channelitix.png" alt="Matmix Logo">
    </a>
    <span class="aside-pin waves-effect"><i class="fa fa-thumb-tack"></i></span>
    <span class="aside-close waves-effect"><i class="fa fa-times"></i></span>
  </div>
  <!-- ./Logo image -->

  <!-- Navigation items -->
  <div class="left-navigation">
    <ul class="list-accordion">
      <li>
        <a class="waves-effect" routerLink="/customers">
          <span class="nav-icon"><i class="fa fa-database"></i></span>
          <span class="nav-label">Customer Database</span>
        </a>
      </li>
      <li>
        <a class="waves-effect" routerLink="/users">
          <span class="nav-icon"><i class="fa fa-users"></i></span>
          <span class="nav-label">Users</span>
        </a>
      </li>
      <li>
        <a class="waves-effect" routerLink="/attendances">
          <span class="nav-icon"><i class="fa fa-calendar"></i></span>
          <span class="nav-label">Attendance</span>
        </a>
      </li>
      <li>
        <a class="waves-effect" routerLink="/visits">
          <span class="nav-icon"><i class="fa fa-user-md"></i></span>
          <span class="nav-label">Visits</span>
        </a>
      </li>
      <li>
        <a class="waves-effect" routerLink="/orders">
          <span class="nav-icon"><i class="fa fa-shopping-cart"></i></span>
          <span class="nav-label">Orders</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- ./Navigation items -->
</div>
