<div class="box-widget widget-module user_tour">
    <div class="widget-container" #loading_box>
        <div class="widget-block">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Qty</th>
                        <th>Total Amount</th>
                    </tr>
                    </thead>

                    <tfoot>
                    <tr>
                        <th>Product</th>
                        <th>Qty</th>
                        <th>Total Amount</th>
                    </tr>
                    </tfoot>

                    <tbody>
                    <template ngFor let-item [ngForOf]="invoice_details">
                        <tr>
                            <td>
                                {{ item.product?.name }}
                            </td>
                            <td>{{ item.total_qty }}</td>
                            <td>{{ item.total_net_amount}}</td>
                        </tr>
                    </template>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>