<div class="container-fluid sales" #loading_box>

  <!-- Page Breadcrumb -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-md-7">
        <div class="page-breadcrumb-wrap">
          <div class="page-breadcrumb-info">
            <h2 class="breadcrumb-titles">Secondary Statement Report
            </h2>
          </div>
        </div>
      </div>
      <div class="col-md-5">
      </div>
<!--      <div class="col-xs-12 col-md-3">-->
<!--        <a class="btn btn-primary btn-block btn-margin" style="margin-top: 25px;"-->
<!--           (click)="download()">-->
<!--          Export to xlsx-->
<!--        </a>-->
<!--      </div>-->
    </div>
  </div>
  <!-- Page Breadcrumb -->

  <!-- Filters for Order report-->
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <month-picker [month]="month" [year]="year" (onMonthYearChanged)="monthYearChanged($event)"></month-picker>
    </div>
    <div class="col-xs-12 col-md-2" *ngIf="environment.envName == 'geo' && this._service.user.departments.length > 1">
      <department-select [value]="department_id" [title]="'Select Department'" [first_value]="'Select Department'"
                         (onValueChanged)="departmentChanged($event)"></department-select>
    </div>
    <div class="col-xs-12 col-md-3" *roleCheck="ROLE_ADMIN">
      <zone-select [value]="zone_id"
                   (onValueChanged)="zoneChanged($event)"></zone-select>
    </div>
  </div>
  <!-- ./Filters for Order report-->

  <!-- Order Table -->
  <div class="row">
    <div class="row" *ngFor="let region of regions">
      <div class="col-xs-12">
        <div class="box-widget widget-module">
          <div class="widget-head clearfix">
            <span class="h-icon"><i class="fa fa-table"></i></span>
            <h4><strong>{{ region.name }}</strong></h4>
          </div>
          <div>
            <div class="widget-container report-table">
              <div class="widget-block">
                <div class="table-responsive">
                  <table class="table table-bordered visit_table">
                    <thead>
                    <tr>
                      <th>Area</th>
                      <th>Headquarter</th>
                      <th>POB (<i class="fa fa-rupee"></i>)</th>
                      <th>Primary Sales (<i class="fa fa-rupee"></i>)</th>
                      <th>Opening (<i class="fa fa-rupee"></i>)</th>
                      <th>Inventory Adjustment (<i class="fa fa-rupee"></i>)</th>
                      <th>Secondary Sale (<i class="fa fa-rupee"></i>)</th>
                      <th>Closing (<i class="fa fa-rupee"></i>)</th>
                      <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr class="dark_grey" *roleCheck="ROLE_RSM">
                      <th>Total</th>
                      <th></th>
                      <th class="value">{{ region.total_order.toFixed(0) | number : fractionSize }}</th>
                      <th class="value">{{ region.total_net_amount.toFixed(0) | number : fractionSize }}</th>
                      <th class="value">{{ region.opening_value.toFixed(0) | number : fractionSize}}</th>
                      <th class="value">{{ region.adjustment.toFixed(0)| number : fractionSize }}</th>
                      <th class="value">{{ region.secondary_sale.toFixed(0)| number : fractionSize }}</th>
                      <th class="value">{{ region.closing_value.toFixed(0)| number : fractionSize }}</th>
                      <th style="text-align: center!important;">
                        <a [routerLink]="['/sales/secondary/product_wise', month, year, region.id, '', '', department_id]"
                           class="btn btn-xs btn-primary">Product</a>
                        <a [routerLink]="['/sales/secondary/stockist_wise', month, year, region.id, '', '', department_id]"
                           class="btn btn-xs btn-primary">Stockist</a>
                      </th>
                    </tr>
                    <template ngFor let-area [ngForOf]="region.areas">
                      <tr class="grey">
                        <th>{{ area.name }}</th>
                        <th></th>
                        <th class="value">{{ area.total_order.toFixed(0)| number : fractionSize }}</th>
                        <th class="value">{{ area.total_net_amount.toFixed(0)| number : fractionSize }}</th>
                        <th class="value">{{ area.opening_value.toFixed(0)| number : fractionSize }}</th>
                        <th class="value">{{ area.adjustment.toFixed(0)| number : fractionSize }}</th>
                        <th class="value">{{ area.secondary_sale.toFixed(0)| number : fractionSize }}</th>
                        <th class="value">{{ area.closing_value.toFixed(0)| number : fractionSize }}</th>
                        <th style="text-align: center!important;">
                          <a [routerLink]="['/sales/secondary/product_wise', month, year, region.id, area.id, '', department_id]"
                             class="btn btn-xs btn-primary">Product</a>
                          <a [routerLink]="['/sales/secondary/stockist_wise', month, year, region.id, area.id, '', department_id]"
                             class="btn btn-xs btn-primary">Stockist</a>
                        </th>
                      </tr>
                      <tr *ngFor="let hq of area.headquarters">
                        <th></th>
                        <th class="text-left">{{ hq.name }}</th>
                        <td>{{ hq.total_order.toFixed(0)| number : fractionSize }}</td>
                        <td>{{ hq.total_net_amount.toFixed(0)| number : fractionSize }}</td>
                        <td>{{ hq.opening_value.toFixed(0)| number : fractionSize }}</td>
                        <td>{{ hq.adjustment.toFixed(0)| number : fractionSize }}</td>
                        <td>{{ hq.secondary_sale.toFixed(0)| number : fractionSize }}</td>
                        <td>{{ hq.closing_value.toFixed(0)| number : fractionSize }}</td>
                        <td style="text-align: center!important;">
                          <a [routerLink]="['/sales/secondary/product_wise', month, year, region.id, area.id, hq.id, department_id]"
                             class="btn btn-xs btn-primary">Product</a>
                          <a [routerLink]="['/sales/secondary/stockist_wise', month, year, region.id, area.id, hq.id, department_id]"
                             class="btn btn-xs btn-primary">Stockist</a>
                        </td>
                      </tr>
                    </template>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ./Order Table -->
</div>
