<div class="box-widget widget-module user_tour" #loading_box>
    <div class="widget-container">
        <div class="widget-block">
            <div class="table-responsive">
<!--              <a class="btn btn-primary btn-xs pull-right" style="margin-bottom: 5px"-->
<!--                 (click)="download()" *ngIf="!btn_loading">Stockist Sales Excel</a>-->
<!--              <a class="btn btn-primary btn-xs pull-right" style="margin-bottom: 5px"-->
<!--                 *ngIf="btn_loading"><i class="fa fa-spinner fa-spin"></i> Stockist Sales Excel</a>-->
                <table class="table table-bordered" id="invoices_for_sales">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Invoice No</th>
                        <th>Stockist Code</th>
                        <th>Stockist (Grade)</th>
                        <th>Brick</th>
                        <th>Territory</th>
                        <th>Date</th>
                        <th>Amount</th>
                        <th></th>
                    </tr>
                    </thead>

                    <tfoot>
                    <tr>
                        <th></th>
                        <th>Invoice No</th>
                        <th>Stockist Code</th>
                        <th>Stockist (Grade)</th>
                        <th>Brick</th>
                        <th>Territory</th>
                        <th>Date</th>
                        <th>Amount</th>
                        <th></th>
                    </tr>
                    </tfoot>

                    <tbody>
                    <template ngFor let-ps [ngForOf]="primary_sales" let-i="index">
                        <tr *ngIf="ps.customer">
                            <td>{{ i+1 }}</td>
                            <th class="text-center">{{ ps.invoice_no }}</th>
                            <th class="text-center">{{ ps.stockist_code }}</th>
                            <td>{{ ps.customer.firm_name}} ({{ ps.customer.grade.name }})</td>
                            <td>{{ ps.customer.hq_brick?.name}}</td>
                            <td>{{ ps.customer.hq_territory?.name}}</td>
                            <td>{{ ps.doc_date }}</td>
                            <td><i class="fa fa-rupee"></i> {{ ps.net_amt | number : fractionSize }}</td>
                            <td>
                                <button class="btn btn-primary btn-xs" (click)="showInvoice(ps)">View Items</button>
                            </td>
                        </tr>
                    </template>
                    </tbody>
                </table>
            </div>
            <pagination [page]="page" [total]="total"
                        (onPageChanged)="pageChanged($event)"></pagination>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" #invoice_detail>
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <!-- Create Tour View -->
                <div class="row" *ngIf="invoice">
                    <!-- Tour Table -->
                    <div class="col-xs-12">
                        <div>
                            <invoice-detail [invoice]="invoice"></invoice-detail>
                        </div>
                    </div>
                    <!-- ./Tour Table -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
