<div class="container-fluid update_customer" #loading_box>
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-4">
                <div class="page-breadcrumb-wrap">
                    <div class="page-breadcrumb-info">
                        <h2 class="breadcrumb-titles">Update Customer
                            <small>Update Customer Form</small>
                        </h2>
                        <ul class="list-page-breadcrumb">
                            <li><a routerLink="/">Home</a></li>
                            <li class="active-page" routerLink="/customers"> Customers</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Breadcrumb -->

    <!-- Customer Form -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box-widget widget-module">
                <div class="widget-head clearfix">
                    <span class="h-icon"><i class="fa fa-bars"></i></span>
                    <h4>Update Customer Form</h4>
                </div>
                <div class="widget-container" #loading_box>
                    <div class=" widget-block">
                        <form class="cmxform" [formGroup]="form" (ngSubmit)="save($event)" novalidate>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <div class="page-header">
                                        <h2>Personal Details</h2>
                                    </div>

                                    <!-- Firm Name -->
                                    <div class="form-group">
                                        <label class="control-label">Firm Name</label>
                                        <div class="">
                                            <input formControlName="firm_name" class="form-control" type="text">
                                            <small *ngIf="errors?.firm_name" class="text-danger text-center">
                                                {{ errors.firm_name}}
                                            </small>
                                        </div>
                                    </div>
                                    <!-- ./Firm Name -->

                                    <!-- Email -->
                                    <div class="form-group">
                                        <label class="control-label">Email</label>
                                        <div class="">
                                            <input class="form-control" formControlName="email" type="text"
                                                   name="email">
                                            <small *ngIf="errors?.email" class="text-danger text-center">
                                                {{ errors.email}}
                                            </small>
                                        </div>
                                    </div>
                                    <!-- ./Email -->

                                    <!-- Mobile -->
                                    <div class="form-group">
                                        <label class="control-label">Mobile</label>
                                        <div class="">
                                            <input class="form-control" formControlName="mobile" type="text"
                                                   name="mobile">
                                            <small *ngIf="errors?.mobile" class="text-danger text-center">
                                                {{ errors.mobile}}
                                            </small>
                                        </div>
                                    </div>
                                    <!-- ./Mobile -->

                                    <!-- Select Type and Select Grade-->
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6 form-group">
                                            <customer-type-select [value]="customer_type_id" [title]="'Select Type'"
                                                                  [first_value]="'Select Type'"
                                                                  [models]="customer_types"
                                                                  (onValueChanged)="typeChanged($event)"></customer-type-select>
                                            <small *ngIf="errors?.customer_type_id" class="text-danger text-center">
                                                {{ errors.customer_type_id}}
                                            </small>
                                        </div>
                                        <div class="col-xs-12 col-md-6 form-group">
                                            <grade-select [value]="grade_id" [title]="'Select Grade'"
                                                          [first_value]="'Select Grade'"
                                                          [models]="grades"
                                                          (onValueChanged)="gradeChanged($event)"></grade-select>
                                            <small *ngIf="errors?.grade_id" class="text-danger text-center">
                                                {{ errors.grade_id}}
                                            </small>
                                        </div>
                                    </div>
                                    <!-- ./Select Type and Select Grade-->

                                    <div class="row">
                                        <!-- Region select -->
                                        <div class="form-group col-xs-12 col-md-4" *roleCheck="ROLE_ADMIN">
                                            <div>
                                                <region-select [value]="hq_region_id" [country_id]="hq_country_id"
                                                               [title]="'Select Region'"
                                                               [first_value]="'Select Region'"
                                                               (onValueChanged)="regionChanged($event)"></region-select>

                                                <small *ngIf="errors?.hq_brick_id" class="text-danger text-center">
                                                    <span *ngIf="hq_region_id > 0"></span>
                                                    <span *ngIf="hq_region_id == 0 || hq_region_id == null">
                                                        {{ errors.hq_brick_id}}
                                                    </span>
                                                </small>
                                            </div>
                                        </div>
                                        <!-- ./Region select -->

                                        <!-- Area select -->
                                        <div class="form-group col-xs-12 col-md-4" *roleCheck="ROLE_ZSM">
                                            <div *ngIf="hq_region_id > 0">
                                                <area-select [value]="hq_area_id" [region_id]="hq_region_id"
                                                             [title]="'Select Area'"
                                                             [first_value]="'Select Area'"
                                                             (onValueChanged)="areaChanged($event)"></area-select>

                                                <small *ngIf="errors?.hq_brick_id" class="text-danger text-center">
                                                    <span *ngIf="hq_area_id > 0"></span>
                                                    <span *ngIf="hq_area_id == 0 || hq_area_id == null">
                                                        {{ errors.hq_brick_id}}
                                                    </span>
                                                </small>
                                            </div>
                                        </div>
                                        <!-- ./Area select -->

                                        <!-- Head quarter select -->
                                        <div class="form-group col-xs-12 col-md-4" *roleCheck="ROLE_CSM">
                                            <div *ngIf="hq_area_id > 0">
                                                <headquarter-select [value]="hq_headquarter_id" [area_id]="hq_area_id"
                                                                    [title]="'Select Head Quarter'"
                                                                    [first_value]="'Select Head Quarter'"
                                                                    (onValueChanged)="headquarterChanged($event)"></headquarter-select>

                                                <small *ngIf="errors?.hq_brick_id" class="text-danger text-center">
                                                    <span *ngIf="hq_headquarter_id > 0"></span>
                                                    <span *ngIf="hq_headquarter_id == 0 || hq_headquarter_id == null">
                                                        {{ errors.hq_brick_id}}
                                                    </span>
                                                </small>
                                            </div>
                                        </div>
                                        <!-- ./Head quarter select -->

                                        <!-- Territory select -->
                                        <div class="form-group col-xs-12 col-md-4" *ngIf="hq_headquarter_id > 0">
                                            <div>
                                                <territory-select [value]="hq_territory_id"
                                                                  [headquarter_id]="hq_headquarter_id"
                                                                  [title]="'Select Territory'"
                                                                  [first_value]="'Select Territory'"
                                                                  (onValueChanged)="territoryChanged($event)"></territory-select>
                                                <small *ngIf="errors?.hq_brick_id" class="text-danger text-center">
                                                    <span *ngIf="hq_territory_id > 0"></span>
                                                    <span *ngIf="hq_territory_id == 0 || hq_territory_id == null">
                                                        {{ errors.hq_brick_id}}
                                                    </span>
                                                </small>
                                            </div>
                                        </div>
                                        <!-- ./Territory select -->

                                        <!-- Brick select -->
                                        <div class="form-group col-xs-12 col-md-4" *ngIf="hq_territory_id > 0">
                                            <div>
                                                <brick-select [value]="hq_brick_id"
                                                              [territory_id]="hq_territory_id"
                                                              [title]="'Select Brick'"
                                                              [first_value]="'Select Brick'"
                                                              (onValueChanged)="brickChanged($event)"></brick-select>
                                                <small *ngIf="errors?.hq_brick_id" class="text-danger text-center">
                                                    {{ errors.hq_brick_id}}
                                                </small>
                                            </div>
                                        </div>
                                        <!-- ./Brick select -->
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-6" formGroupName="address">
                                    <div class="page-header">
                                        <h2>Address Details</h2>
                                    </div>

                                    <!-- Line -->
                                    <div class="form-group">
                                        <label class="control-label">Line</label>
                                        <div class="">
                                            <input formControlName="line" class="form-control" type="text">
                                            <small *ngIf="errors?.address?.line" class="text-danger text-center">
                                                {{ errors.address.line}}
                                            </small>
                                        </div>
                                    </div>
                                    <!-- ./Line -->

                                    <!-- Landmark -->
                                    <div class="form-group">
                                        <label class="control-label">Landmark</label>
                                        <div class="">
                                            <input formControlName="landmark" class="form-control" type="text">
                                            <small *ngIf="errors?.address?.landmark" class="text-danger text-center">
                                                {{ errors.address.landmark}}
                                            </small>
                                        </div>
                                    </div>
                                    <!-- ./Landmark -->

                                    <!-- Area and Pincode-->
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6 form-group">
                                            <label class="control-label">Area</label>
                                            <div class="">
                                                <input formControlName="area_str" class="form-control" type="text">
                                                <small *ngIf="errors?.address?.area_str" class="text-danger text-center">
                                                    {{ errors.address.area_str}}
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6 form-group">
                                            <label class="control-label">Pincode</label>
                                            <div class="">
                                                <input formControlName="pincode" class="form-control" type="text">
                                                <small *ngIf="errors && errors['address.pincode']" class="text-danger text-center">
                                                    {{ errors['address.pincode']}}
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ./Area and Pincode-->

                                    <!-- Taluka and District-->
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6 form-group">
                                            <label class="control-label">Taluka</label>
                                            <div class="">
                                                <input formControlName="taluka_str" class="form-control" type="text">
                                                <small *ngIf="errors?.address?.taluka_str"
                                                       class="text-danger text-center">
                                                    {{ errors.address.taluka_str}}
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6 form-group">
                                            <label class="control-label">District</label>
                                            <div class="">
                                                <input formControlName="district_str" class="form-control" type="text">
                                                <small *ngIf="errors?.address?.district_str"
                                                       class="text-danger text-center">
                                                    {{ errors.address.district_str}}
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ./Taluka and District-->

                                    <!-- State and Country-->
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6 form-group">
                                            <label class="control-label">State</label>
                                            <div class="">
                                                <input formControlName="state_str" class="form-control" type="text">
                                                <small *ngIf="errors?.address?.state_str"
                                                       class="text-danger text-center">
                                                    {{ errors.address.state_str}}
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6 form-group">
                                            <label class="control-label">Country</label>
                                            <div class="">
                                                <input formControlName="country_str" class="form-control" type="text">
                                                <small *ngIf="errors?.address?.country_str"
                                                       class="text-danger text-center">
                                                    {{ errors.address.country_str}}
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ./State and Country-->

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 form-group">
                                    <div class="form-actions text-center">
                                        <button type="submit" class="btn btn-primary">UPDATE</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Customer Form -->

</div>