<div class="box-widget widget-module no-border visit-component" #loading_box>
    <div class="widget-head clearfix">
        <span class="h-icon"><i class="fa fa-bars"></i></span>
        <h4>Visit for {{ _date }}</h4>
    </div>
    <div class="widget-container report-table" #loading_box>
        <div class="widget-block">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Customers</th>
                        <th class="vertical-align editing">Pen</th>
                        <th class="vertical-align editing">Pencil</th>
                        <th class="vertical-align editing">Pad</th>
                        <th class="vertical-align editing">Book</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>Single & sons</td>
                        <td class="editing"><input class="form-control" type="text"></td>
                        <td class="editing"><input class="form-control" type="text"></td>
                        <td class="editing"><input class="form-control" type="text"></td>
                        <td class="editing"><input class="form-control" type="text"></td>
                    </tr>
                    <tr>
                        <td>Yash Medicos</td>
                        <td class="editing"><input class="form-control" type="text"></td>
                        <td class="editing"><input class="form-control" type="text"></td>
                        <td class="editing"><input class="form-control" type="text"></td>
                        <td class="editing"><input class="form-control" type="text"></td>
                    </tr>
                    <tr>
                        <td>Goyal Pharmaceuticals</td>
                        <td class="editing"><input class="form-control" type="text"></td>
                        <td class="editing"><input class="form-control" type="text"></td>
                        <td class="editing"><input class="form-control" type="text"></td>
                        <td class="editing"><input class="form-control" type="text"></td>
                    </tr>
                    <tr>
                        <td>Gupta Agencies</td>
                        <td class="editing"><input class="form-control" type="text"></td>
                        <td class="editing"><input class="form-control" type="text"></td>
                        <td class="editing"><input class="form-control" type="text"></td>
                        <td class="editing"><input class="form-control" type="text"></td>
                    </tr>
                    <tr>
                        <td>Gupta Medical Agencies</td>
                        <td class="editing"><input class="form-control" type="text"></td>
                        <td class="editing"><input class="form-control" type="text"></td>
                        <td class="editing"><input class="form-control" type="text"></td>
                        <td class="editing"><input class="form-control" type="text"></td>
                    </tr>
                    <tr>
                        <td>Jai Shree Enterprises</td>
                        <td class="editing"><input class="form-control" type="text"></td>
                        <td class="editing"><input class="form-control" type="text"></td>
                        <td class="editing"><input class="form-control" type="text"></td>
                        <td class="editing"><input class="form-control" type="text"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 form-group">
                <div class="form-actions pull-right">
                    <a type="submit" class="btn btn-primary">Next</a>
                </div>
            </div>
        </div>
    </div>
</div>