<div class="topics-list">
  <div class="topic-container new-ticket">
    <div class="box-widget widget-module" style="margin-bottom: 0;">
      <div class="widget-head clearfix">
        <span class="h-icon"><i class="fa fa-table"></i></span>
        <h4>
          Product Wise Sale
        </h4>
        <div class="col-xs-12 col-md-3 form-group-sm">
          <div style="margin: 12px;">
            <month-picker [month]="_month" [year]="_year"
                          [title]="''"
                          (onMonthYearChanged)="monthYearChanged($event)"></month-picker>
          </div>
        </div>
      </div>
      <div class="widget-container details-table" #loading_box>
        <div class="widget-block">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>Product</th>
                <th>Target (<i class="fa fa-rupee"></i>)</th>
                <th>Actual Sale(<i class="fa fa-rupee"></i> )</th>
                <th>POB (<i class="fa fa-rupee"></i> )</th>
                <th>% Performance</th>
                <th>Target(YTD) (<i class="fa fa-rupee"></i>)</th>
                <th>Actual Sale(YTD)(<i class="fa fa-rupee"></i> )</th>
              </tr>
              </thead>
              <tbody>
              <template ngFor let-item [ngForOf]="products">
                <tr>
                  <td>
                    {{ item.brands.name }}
                  </td>
                  <td class="text-right">{{ item.target.toFixed(0) | number : fractionSize }}</td>
                  <td class="text-right">{{ item.performance.toFixed(0) | number : fractionSize }}</td>
                  <td class="text-right">{{ item.total_pob.toFixed(0) | number : fractionSize }}</td>
                  <td class="text-right">{{ (item.target > 0 ? (item.performance / item.target) * 100 : 0).toFixed(2)
                    }}
                  </td>
                  <td class="text-right">{{ item.total_target.toFixed(0) | number : fractionSize }}</td>
                  <td class="text-right">{{ item.total_primary_sale.toFixed(0) | number : fractionSize }}</td>
                </tr>
              </template>
              <tr>
                <th>Total</th>
                <th class="text-right">{{ total_target.toFixed(0) | number }}</th>
                <th class="text-right">{{ total_actual.toFixed(0) | number }}</th>
                <th class="text-right">{{ total_pob.toFixed(0) | number }}</th>
                <th class="text-right">{{ (total_target > 0 ? (total_actual / total_target) * 100 : 0).toFixed(2) }}
                </th>
                <th class="text-right">{{ till_month_total_target.toFixed(0) | number }}</th>
                <th class="text-right">{{ till_month_total_sale?.toFixed(0) | number }}</th>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
