<div class="topics-list">
  <div class="topic-container new-ticket">
    <div class="box-widget widget-module" style="margin-bottom: 0;">
      <div class="widget-head clearfix">
        <span class="h-icon"><i class="fa fa-table"></i></span>
        <h4>
          Product Wise Sale
        </h4>
      </div>
      <div class="widget-container details-table" #loading_box>
        <div class="widget-block">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>Product</th>
                <th>Target (<i class="fa fa-rupee"></i>)</th>
                <th>{{ currentmonth }} Sale(<i class="fa fa-rupee"></i> )</th>
                <th>{{ lastmonth }} Sale(<i class="fa fa-rupee"></i> )</th>
                <th>{{ lasttolastmonth }} Sale(<i class="fa fa-rupee"></i> )</th>
                <th>Last year same month actual sale(<i class="fa fa-rupee"></i> )</th>
                <th>POB (<i class="fa fa-rupee"></i> )</th>
                <th>% Performance</th>
                <th>Target(YTD) (<i class="fa fa-rupee"></i>)</th>
                <th>Actual Sale(YTD)(<i class="fa fa-rupee"></i> )</th>
                <th>% Performance (YTD)</th>
              </tr>
              </thead>
              <tbody>
              <template ngFor let-b [ngForOf]="brandwisesummary">
                <tr>
                  <td>{{ b.name }}</td>
                  <td class="text-right">{{ b.target.toFixed(0) | number : fractionSize }}</td>
                  <td class="text-right">{{ b.net_amt.toFixed(0) | number : fractionSize }}</td>
                  <td class="text-right">{{ b.lastmonthsale.toFixed(0) | number : fractionSize }}</td>
                  <td class="text-right">{{ b.lasttolastmonthsale.toFixed(0) | number : fractionSize }}</td>
                  <td class="text-right">{{ b.last_year_same_month.toFixed(0) | number : fractionSize }}</td>
                  <td class="text-right">{{ b.pob_amount.toFixed(0) | number : fractionSize }}</td>
                  <td class="text-right">{{ (b.target > 0 ? (b.net_amt / b.target) * 100 : 0).toFixed(2)
                    }}
                  </td>
                  <td class="text-right">{{ b.ytd_target.toFixed(0) | number : fractionSize }}</td>
                  <td class="text-right">{{ b.ytd_sale.toFixed(0) | number : fractionSize }}</td>
                  <td class="text-right">{{ (b.ytd_target > 0 ? (b.ytd_sale / b.ytd_target) * 100
                    : 0).toFixed(2)
                    }}
                  </td>
                </tr>
              </template>
              <tr style="background-color: #00c853" *ngIf="total">
                <th>Total</th>
                <th class="text-right">{{ total.target.toFixed(0) | number }}</th>
                <th class="text-right">{{ total.net_amt.toFixed(0) | number }}</th>
                <td class="text-right">{{ total.lastmonthsale.toFixed(0) | number }}</td>
                <td class="text-right">{{ total.lasttolastmonthsale.toFixed(0) | number}}</td>
                <th class="text-right">{{ total.last_year_same_month.toFixed(0) | number }}</th>
                <th class="text-right">{{ total.pob_amount.toFixed(0) | number }}</th>
                <th class="text-right">{{ (total.target > 0 ? (total.net_amt / total.target) * 100 : 0).toFixed(2) }}</th>
                <th class="text-right">{{ total.ytd_target.toFixed(0) | number }}</th>
                <th class="text-right">{{ total.ytd_sale.toFixed(0) | number }}</th>
                <th class="text-right">{{ (total.ytd_target > 0 ? (total.ytd_sale / total.ytd_target) * 100 : 0).toFixed(2) }}</th>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


