<div class="container-fluid sales">

    <!-- Page Breadcrumb -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-7">
                <div class="page-breadcrumb-wrap">
                    <div class="page-breadcrumb-info">
                        <h2 class="breadcrumb-titles">STP Details
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <a class="btn btn-primary btn-block btn-margin pull-right"
                   href="/assets/stp_excels/kanpur.xlsx" target="_blank">
                    Export to xlsx
                </a>
            </div>
        </div>
    </div>
    <!-- Page Breadcrumb -->

    <!-- Order Table -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box-widget widget-module">
                <div class="widget-head clearfix">
                    <span class="h-icon"><i class="fa fa-table"></i></span>
                    <h4>Kanpur Headquarter</h4>
                </div>
                <div class="widget-container sales-table" #loading_box>
                    <div class="widget-block">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tr style="padding:2px;font:12px Helvetica,Arial,sans-serif;
                                            border-collapse:collapse;width:100%;border-spacing:0px;font:14px Helvetica,Arial,sans-serif;
                                             background-color:#13547a;font-weight:bold;color: white;">
                                    <td style="min-width:50px;border:solid #7090a1;">CSE HQ</td>
                                    <td style="min-width:50px;border:solid #7090a1;">Place</td>
                                    <td style="min-width:50px;border:solid #7090a1;">HQ/ Ex/
                                        Out
                                    </td>
                                    <td style="min-width:50px;border:solid #7090a1;">No of
                                        stockist
                                    </td>
                                    <td style="min-width:50px;border:solid #7090a1;">Number of
                                        Semis
                                    </td>
                                    <td style="min-width:50px;border:solid #7090a1;">No of retailers</td>
                                    <td style="min-width:50px;border:solid #7090a1;">Interior Town
                                        covered
                                    </td>
                                    <td style="min-width:50px;border:solid #7090a1;">Name of Covering
                                        stockiest
                                    </td>
                                    <td style="min-width:50px;border:solid #7090a1;">No of Field
                                        working days
                                    </td>
                                    <td style="min-width:50px;border:solid #7090a1;">Synergy Market</td>
                                    <td style="min-width:50px;border:solid #7090a1;">Esgipyrine Potential (in boxes)</td>
                                </tr>
                                <tr>
                                    <td style=min-width:50px>Kanpur</td>
                                    <td style=min-width:50px>KANPUR</td>
                                    <td style=min-width:50px>EX</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>3</td>
                                    <td style=min-width:50px>20</td>
                                    <td style=min-width:50px>KANNAUJ LOCAL</td>
                                    <td style=min-width:50px>STANDARD DRUG HOUSE</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>Yes</td>
                                    <td style=min-width:50px>{{ (438.90).toFixed(0) }}</td>
                                </tr>
                                <tr>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>KANNAUJ</td>
                                    <td style=min-width:50px>OUT</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>18</td>
                                    <td style=min-width:50px>HAJI SARIF</td>
                                    <td style=min-width:50px>STANDARD DRUG HOUSE</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>Yes</td>
                                    <td style=min-width:50px>{{ (125.40).toFixed(0) }}</td>
                                </tr>
                                <tr>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>KANNAUJ</td>
                                    <td style=min-width:50px>OUT</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>16</td>
                                    <td style=min-width:50px>JALALPUR</td>
                                    <td style=min-width:50px>STANDARD DRUG HOUSE</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>Yes</td>
                                    <td style=min-width:50px>{{ (125.40).toFixed(0) }}</td>
                                </tr>
                                <tr>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>KANPUR</td>
                                    <td style=min-width:50px>EX</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>24</td>
                                    <td style=min-width:50px>TIRWA</td>
                                    <td style=min-width:50px>STANDARD DRUG HOUSE</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>Yes</td>
                                    <td style=min-width:50px>{{ (205.93).toFixed(0) }}</td>
                                </tr>
                                <tr style="background-color:#f4cccc">
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>KANPUR</td>
                                    <td style=min-width:50px>OUT</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>2</td>
                                    <td style=min-width:50px>13</td>
                                    <td style=min-width:50px>FARUKHABADLOCAL</td>
                                    <td style=min-width:50px>GAURI PHARMA</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>No</td>
                                    <td style=min-width:50px>924</td>
                                </tr>
                                <tr>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>FARUKHABAD</td>
                                    <td style=min-width:50px>OUT</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>16</td>
                                    <td style=min-width:50px>MOHAMDABAD</td>
                                    <td style=min-width:50px>GAURI PHARMA</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>Yes</td>
                                    <td style=min-width:50px>154</td>
                                </tr>
                                <tr>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>FARUKHABAD</td>
                                    <td style=min-width:50px>OUT</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>20</td>
                                    <td style=min-width:50px>ALLAGANJNIJJIGANJ</td>
                                    <td style=min-width:50px>GAURI PHARMA</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>Yes</td>
                                    <td style=min-width:50px>154</td>
                                </tr>
                                <tr>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>FARUKHABAD</td>
                                    <td style=min-width:50px>OUT</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>19</td>
                                    <td style=min-width:50px>ROPAPUR/PALI</td>
                                    <td style=min-width:50px>GAURI PHARMA</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>Yes</td>
                                    <td style=min-width:50px>154</td>
                                </tr>
                                <tr>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>FARUKHABAD</td>
                                    <td style=min-width:50px>EX</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>20</td>
                                    <td style=min-width:50px>KAMALGANJ/GURSAHAYGANJ</td>
                                    <td style=min-width:50px>GAURI PHARMA</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>Yes</td>
                                    <td style=min-width:50px>154</td>
                                </tr>
                                <tr style="background-color:#f4cccc">
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>KANPUR</td>
                                    <td style=min-width:50px>OUT</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>2</td>
                                    <td style=min-width:50px>17</td>
                                    <td style=min-width:50px>KAYAMGANJ</td>
                                    <td style=min-width:50px>SAURABH MEDICAL STORE</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>No</td>
                                    <td style=min-width:50px>{{ (292.50).toFixed(0) }}</td>
                                </tr>
                                <tr>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>KAYAMGANJ</td>
                                    <td style=min-width:50px>OUT</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>19</td>
                                    <td style=min-width:50px>NABABGANJ</td>
                                    <td style=min-width:50px>SAURABH MEDICAL STORE</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>Yes</td>
                                    <td style=min-width:50px>{{ (58.50).toFixed(0) }}</td>
                                </tr>
                                <tr>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>KAYAMGANJ</td>
                                    <td style=min-width:50px>OUT</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>18</td>
                                    <td style=min-width:50px>SAMSABAD</td>
                                    <td style=min-width:50px>SAURABH MEDICAL STORE</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>Yes</td>
                                    <td style=min-width:50px>117</td>
                                </tr>
                                <tr>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>KAYAMGANJ</td>
                                    <td style=min-width:50px>EX</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>28</td>
                                    <td style=min-width:50px>KAMPIL</td>
                                    <td style=min-width:50px>SAURABH MEDICAL STORE</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>Yes</td>
                                    <td style=min-width:50px>117</td>
                                </tr>
                                <tr>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>CHHIBARAMAU</td>
                                    <td style=min-width:50px>OUT</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>3</td>
                                    <td style=min-width:50px>30</td>
                                    <td style=min-width:50px>CHHIBARAMAU LOCAL</td>
                                    <td style=min-width:50px>AMAN MEDICAL STORE</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>Yes</td>
                                    <td style=min-width:50px>366</td>
                                </tr>
                                <tr>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>CHHIBARAMAU</td>
                                    <td style=min-width:50px>OUT</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>18</td>
                                    <td style=min-width:50px>SAURIKH</td>
                                    <td style=min-width:50px>AMAN MEDICAL STORE</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>Yes</td>
                                    <td style=min-width:50px>122</td>
                                </tr>
                                <tr>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>CHHIBARAMAU</td>
                                    <td style=min-width:50px>OUT</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>20</td>
                                    <td style=min-width:50px>TALGRAM</td>
                                    <td style=min-width:50px>AMAN MEDICAL STORE</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>Yes</td>
                                    <td style=min-width:50px>122</td>
                                </tr>
                                <tr>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>CHHIBARAMAU</td>
                                    <td style=min-width:50px>OUT</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>22</td>
                                    <td style=min-width:50px>BEBAR</td>
                                    <td style=min-width:50px>AMAN MEDICAL STORE</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>Yes</td>
                                    <td style=min-width:50px>122</td>
                                </tr>
                                <tr>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>CHHIBARAMAU</td>
                                    <td style=min-width:50px>OUT</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>19</td>
                                    <td style=min-width:50px>BISUNGARH</td>
                                    <td style=min-width:50px>AMAN MEDICAL STORE</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>Yes</td>
                                    <td style=min-width:50px>122</td>
                                </tr>
                                <tr>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>CHHIBARAMAU</td>
                                    <td style=min-width:50px>OUT</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>18</td>
                                    <td style=min-width:50px>HASERAN/NADEMAU/KHADNI</td>
                                    <td style=min-width:50px>AMAN MEDICAL STORE</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>Yes</td>
                                    <td style=min-width:50px>122</td>
                                </tr>
                                <tr>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>CHHIBARAMAU</td>
                                    <td style=min-width:50px>OUT</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>17</td>
                                    <td style=min-width:50px>PREMPUR/NAVIGANJ</td>
                                    <td style=min-width:50px>AMAN MEDICAL STORE</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>Yes</td>
                                    <td style=min-width:50px>122</td>
                                </tr>
                                <tr>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>CHHIBARAMAU</td>
                                    <td style=min-width:50px>EX</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>16</td>
                                    <td style=min-width:50px>SIKANDARPUR/SARAY DAULAT</td>
                                    <td style=min-width:50px>AMAN MEDICAL STORE</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>Yes</td>
                                    <td style=min-width:50px>122</td>
                                </tr>
                                <tr>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>UNNAO</td>
                                    <td style=min-width:50px>EX</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>3</td>
                                    <td style=min-width:50px>18</td>
                                    <td style=min-width:50px>BANGARMAU/GANJMURADABAD</td>
                                    <td style=min-width:50px>NAVNEET PHARMA</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>Yes</td>
                                    <td style=min-width:50px>{{ (220.69).toFixed(0) }}</td>
                                </tr>
                                <tr>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>UNNAO</td>
                                    <td style=min-width:50px>EX</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>20</td>
                                    <td style=min-width:50px>SAFIPUR/AFIJABAD</td>
                                    <td style=min-width:50px>NAVNEET PHARMA</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>Yes</td>
                                    <td style=min-width:50px>{{ (341.33).toFixed(0) }}</td>
                                </tr>
                                <tr>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>UNNAO</td>
                                    <td style=min-width:50px>EX</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>16</td>
                                    <td style=min-width:50px>BEEGHAPUR/PATAN</td>
                                    <td style=min-width:50px>NAVNEET PHARMA</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>Yes</td>
                                    <td style=min-width:50px>{{ (220.69).toFixed(0) }}</td>
                                </tr>
                                <tr>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>UNNAO</td>
                                    <td style=min-width:50px>EX</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>18</td>
                                    <td style=min-width:50px>BHAGWANT NAGAR/ DHANIKHEDA</td>
                                    <td style=min-width:50px>NAVNEET PHARMA</td>
                                    <td style=min-width:50px>1</td>
                                    <td style=min-width:50px>Yes</td>
                                    <td style=min-width:50px>{{ (220.69).toFixed(0) }}</td>
                                </tr>

                                <tr style="background-color: #ddd9c3">
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>TOTAL</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px>5</td>
                                    <td style=min-width:50px>13</td>
                                    <td style=min-width:50px>480</td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px></td>
                                    <td style=min-width:50px></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Order Table -->
</div>