<div class="modal fade" tabindex="-1" role="dialog" #deactivating_modal>
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Deactivate User {{ user.full_name }}</h4>
      </div>
      <div class="modal-body" #loading_box>
        <form [formGroup]="form" (ngSubmit)="save($event)" novalidate>
          <div class="row">
            <!-- leaving Date -->
            <div class="form-group col-xs-12">
              <date-picker [date]="leaving_date" [title]="'Leaving Date'"
                           (onDateChanged)="dateChanged($event)"></date-picker>
              <small *ngIf="errors?.leaving_date" class="text-danger text-center">
                {{ errors.leaving_date}}
              </small>
            </div>
            <!-- leaving Date -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
