<div class="box-widget widget-module no-border order-component" #loading_box>
    <div class="widget-head clearfix">
        <span class="h-icon"><i class="fa fa-bars"></i></span>
        <h4>Visit for {{ _date }}</h4>
    </div>
    <div class="widget-container report-table" #loading_box>
        <div class="widget-block">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Customers</th>
                        <th class="vertical"><div class="vertical">Cadiphylate Elixir</div></th>
                        <th class="vertical"><div class="vertical">Ciprobid 250 Mg Tablets</div></th>
                        <th class="vertical"><div class="vertical">Ciprobid 500 Tablets</div></th>
                        <th class="vertical"><div class="vertical">Ciprobid Infusion</div></th>
                        <th class="vertical"><div class="vertical">Cytolog Tablet</div></th>
                        <th class="vertical"><div class="vertical">Decaneurabol 50Mg Injection</div></th>
                        <th class="vertical"><div class="vertical">Decaneurabol Injection</div></th>
                        <th class="vertical"><div class="vertical">Dexona Tablets</div></th>
                        <th class="vertical"><div class="vertical">Dexona Injection</div></th>
                        <th class="vertical"><div class="vertical">Dexona Injection</div></th>
                        <th class="vertical"><div class="vertical">Ivoral Forte Tablet </div></th>
                        <th class="vertical"><div class="vertical">Ivoral Tablet </div></th>
                        <th class="vertical"><div class="vertical">Mifegest Tablet </div></th>
                        <th class="vertical"><div class="vertical">Mifegest Kit </div></th>
                        <th class="vertical"><div class="vertical">Neurabol Injection </div></th>
                        <th class="vertical"><div class="vertical">Neurabol Capsules</div></th>
                        <th class="vertical"><div class="vertical">Spasmindon-N Tablet</div></th>
                        <th class="vertical"><div class="vertical">Spasmindon Tablets</div></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>Single & sons</td>
                        <td class="editing"><input class="form-control" type="text"></td>
                        <td class="editing"><input class="form-control" type="text"></td>
                        <td class="editing"><input class="form-control" type="text"></td>
                        <td class="editing"><input class="form-control" type="text"></td>
                        <td class="editing"><input class="form-control" type="text"></td>
                        <td class="editing"><input class="form-control" type="text"></td>
                        <td class="editing"><input class="form-control" type="text"></td>
                        <td class="editing"><input class="form-control" type="text"></td>
                        <td class="editing"><input class="form-control" type="text"></td>
                        <td class="editing"><input class="form-control" type="text"></td>
                        <td class="editing"><input class="form-control" type="text"></td>
                        <td class="editing"><input class="form-control" type="text"></td>
                        <td class="editing"><input class="form-control" type="text"></td>
                        <td class="editing"><input class="form-control" type="text"></td>
                        <td class="editing"><input class="form-control" type="text"></td>
                        <td class="editing"><input class="form-control" type="text"></td>
                        <td class="editing"><input class="form-control" type="text"></td>
                        <td class="editing"><input class="form-control" type="text"></td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 form-group">
                <div class="form-actions pull-right">
                    <a type="submit" class="btn btn-primary">Next</a>
                </div>
            </div>
        </div>
    </div>
</div>