<div class="container-fluid bricks">
  <!-- Page Breadcrumb -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-md-4">
        <div class="page-breadcrumb-wrap">
          <div class="page-breadcrumb-info">
            <h2 class="breadcrumb-titles">
              Brick Business Tracker Report
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Breadcrumb -->

  <!-- Filters for report-->
  <div class="row" style="padding-bottom: 10px;">
    <div class="col-xs-12 col-md-2" *roleCheck="ROLE_ADMIN">
      <month-picker [month]="month" [year]="year" (onMonthYearChanged)="monthYearChanged($event)"></month-picker>
    </div>
    <div class="col-xs-12 col-md-2" *roleCheck="ROLE_ADMIN">
      <region-select [value]="region_id" [title]="'Select Region'" [first_value]="'Select Region'"
                     (onValueChanged)="regionChanged($event)"></region-select>
    </div>
    <div class="col-xs-12 col-md-2" *roleCheck="ROLE_ZSM">
      <div *ngIf="region_id > 0">
        <area-select [value]="area_id" [region_id]="region_id" [title]="'Select Area'"
                     [first_value]="'Select Area'" (_areas)="areas($event)"
                     (onValueChanged)="areaChanged($event)"></area-select>
      </div>
    </div>
    <div class="col-xs-12 col-md-3" *roleCheck="ROLE_CSM">
      <div *ngIf="area_id > 0">
        <headquarter-select [value]="headquarter_id" [area_id]="area_id" (headquarters)="headquarters($event)"
                            [title]="'Select Head Quarter'" [first_value]="'Select Head Quarter'"
                            (onValueChanged)="headquarterChanged($event)"></headquarter-select>
      </div>
    </div>
  </div>
  <!-- ./Filters for report-->

  <!-- Report Table -->
  <div class="row" #loading_box>
    <div class="col-xs-12">
      <div *ngIf="headquarter_id > 0">
        <div class="box-widget widget-module" *ngIf="territories.length > 0">
          <div class="widget-head clearfix">
            <span class="h-icon"><i class="fa fa-table"></i></span>
            <h4><strong>Brick Business Tracer Report</strong></h4>
          </div>
          <div>
            <div class="widget-container report-table">
              <div class="widget-block">
                <div class="table-responsive">
                  <table class="table table-bordered visit_table">
                    <thead>
                    <tr style="background-color: #3498db;color: white">
                      <th rowspan="2">Name Of Brick</th>
                      <th colspan="5">V1</th>
                      <th colspan="5">V2</th>
                      <th rowspan="2">Total POB('000s)</th>
                      <th colspan="5">Cumulative(Yearly)</th>
                      <th rowspan="2">Avg POB(<i class="fa fa-rupee"></i>)</th>
                    </tr>
                    <tr style="background-color: #3498db;color: white">
                      <th>Retailer</th>
                      <th>Semi</th>
                      <th>Hub</th>
                      <th>Physician</th>
                      <th>POB('000s)</th>
                      <th>Retailer</th>
                      <th>Semi</th>
                      <th>Hub</th>
                      <th>Physician</th>
                      <th>POB('000s)</th>
                      <th>Retailer</th>
                      <th>Semi</th>
                      <th>Hub</th>
                      <th>Physician</th>
                      <th>POB('000s)</th>
                    </tr>
                    </thead>


                    <tbody>
                    <template ngFor let-ter [ngForOf]="territories">
                      <tr>
                        <th colSpan="18" class="text-center grey">{{ ter.name }}</th>
                      </tr>
                      <template ngFor let-brick [ngForOf]="ter.hq_bricks">
                        <tr *ngIf="brick.status == 'active'">
                          <th>
                            {{brick.name}}
                          </th>
                          <td class="grey">
                            <span *ngIf="brick.v1_visit_count_retailer > 0">
                                {{brick.v1_visit_count_retailer}}
                            </span>
                          </td>
                          <td class="grey">
                            <span *ngIf="brick.v1_visit_count_semi > 0">
                              {{brick.v1_visit_count_semi}}
                            </span>
                          </td>
                          <td class="grey">
                            <span *ngIf="brick.v1_visit_count_hub > 0">
                              {{brick.v1_visit_count_hub}}
                            </span>
                          </td>
                          <td class="grey">
                            <span *ngIf="brick.v1_visit_count_physician > 0">
                              {{brick.v1_visit_count_physician}}
                            </span>
                          </td>
                          <td class="grey">
                            <span *ngIf="brick.v1_pob > 0">
                              {{(brick.v1_pob/ 1000).toFixed(1)}}
                            </span>
                          </td>
                          <td>
                            <span *ngIf="brick.v2_visit_count_retailer > 0">
                              {{brick.v2_visit_count_retailer}}
                            </span>
                          </td>
                          <td>
                            <span *ngIf="brick.v2_visit_count_semi > 0">
                              {{brick.v2_visit_count_semi}}
                            </span>
                          </td>
                          <td>
                            <span *ngIf="brick.v2_visit_count_hub > 0">
                              {{brick.v2_visit_count_hub}}
                            </span>
                          </td>
                          <td>
                            <span *ngIf="brick.v2_visit_count_physician > 0">
                              {{brick.v2_visit_count_physician}}
                            </span>
                          </td>
                          <td>
                            <span *ngIf="brick.v2_pob > 0">
                              {{(brick.v2_pob/ 1000).toFixed(1)}}
                            </span>
                          </td>
                          <td class="grey">
                            <span *ngIf="(brick.v1_pob + brick.v2_pob) > 0">
                              {{ ((brick.v1_pob + brick.v2_pob)/1000).toFixed(1) }}
                            </span>
                          </td>
                          <td>
                            <span *ngIf="brick.cumulative_visit_count_retailer > 0">
                              {{brick.cumulative_visit_count_retailer}}
                            </span>
                          </td>
                          <td>
                            <span *ngIf="brick.cumulative_visit_count_semi > 0">
                              {{brick.cumulative_visit_count_semi}}
                            </span>
                          </td>
                          <td>
                            <span *ngIf="brick.cumulative_visit_count_hub > 0">
                              {{brick.cumulative_visit_count_hub}}
                            </span>
                          </td>
                          <td>
                            <span *ngIf="brick.cumulative_visit_count_physician > 0">
                              {{brick.cumulative_visit_count_physician}}
                            </span>
                          </td>
                          <td>
                            <span *ngIf="brick.cumulative_pob > 0">
                              {{ (brick.cumulative_pob / 1000).toFixed(1) }}
                            </span>
                          </td>
                          <td class="grey">
                            <span *ngIf="brick.cumulative_pob > 0">
                              {{ (brick.cumulative_pob / (this.month + 1)).toFixed(1) }}
                            </span>
                          </td>
                        </tr>
                      </template>
                    </template>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="territories.length ==0" style="height: 350px"></div>
      </div>
      <div *ngIf="!headquarter_id ||  headquarter_id==0" style="height: 350px"></div>
    </div>
  </div>
  <!-- ./Report Table -->
</div>
