<div class="container-fluid user-input" #loading_box>

  <!-- Page Breadcrumb -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-md-4">
        <div class="page-breadcrumb-wrap">
          <div class="page-breadcrumb-info">
            <h2 class="breadcrumb-titles">User Input
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="row" style="background-color: white">
        <div class="col-md-12">
          <button class="btn btn-xs btn-primary" (click)="addInput()" style="margin-top: 5px;margin-bottom: 5px;">
            Add Input
          </button>
          <table class="table">
            <tbody>
            <template ngFor let-addInput [ngForOf]="user_input_acks">
              <tr>
                <td>
                  <visit-input-select [value]="input_id"
                                      [first_value]="'Select Input'"
                                      [models]="inputs"
                                      (onValueChanged)="onUserInputChanged($event, addInput)">
                  </visit-input-select>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" [(ngModel)]="addInput.qty" class="form-control"
                           placeholder="Enter Quantity">
                  </div>
                </td>
              </tr>
            </template>
            </tbody>
          </table>
          <button class="btn btn-primary pull-right" (click)="submitInput()" style="margin: 5px;">
            Add
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
