<div class="container-fluid stp" xmlns="http://www.w3.org/1999/html">

    <!-- Page Breadcrumb -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-7">
                <div class="page-breadcrumb-wrap">
                    <div class="page-breadcrumb-info">
                        <h2 class="breadcrumb-titles">STP Report
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
            </div>
        </div>
    </div>
    <!-- Page Breadcrumb -->

    <!-- STP Table -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box-widget widget-module">
                <div class="widget-head clearfix">
                    <span class="h-icon"><i class="fa fa-table"></i></span>
                    <h4>Stp Report</h4>
                </div>
                <div class="widget-container stp-table" #loading_box>
                    <div class="widget-block">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th rowspan="2">Zone</th>
                                    <template ngFor let-ct [ngForOf]="customer_types">
                                        <th [attr.colspan]="ct.grades.length">
                                        <span *ngIf="ct.is_visiable == 1" >{{ ct.name }}
                                        </span>
                                        </th>
                                    </template>
                                    <th rowspan="2">Total</th>
                                    <th rowspan="2">Expected Business</th>
                                    <th rowspan="2">Actions</th>
                                </tr>
                                <tr>
                                    <template ngFor let-ct [ngForOf]="customer_types">
                                        <th *ngFor="let grade of ct.grades">
                                          <span *ngIf="ct.is_visiable == 1" >
                                          {{ grade.name }}
                                          </span>
                                        </th>
                                    </template>
                                </tr>
                                </thead>

                                <tbody>
                                <tr *ngFor="let rg of zones">
                                    <td>{{ rg.name }}</td>
                                    <template ngFor let-ct [ngForOf]="rg.customer_types">
                                        <td *ngFor="let grade of ct.grades">
                                            <span *ngIf="grade.customer_count > 0 && ct.is_visiable == 1">
                                                {{ grade.customer_count }}
                                            </span>
                                        </td>
                                    </template>
                                    <td>{{ rg.total_customer }}</td>
                                    <td></td>
                                    <td>
                                        <a class="btn btn-primary btn-xs" [routerLink]="['/stps', _country_id, 'zones', rg.id]">View By Region</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./STP Table -->
</div>
