<tr class="dark_grey" #loading_box>
  <th>CSE</th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
</tr>
<tr>
  <td>No Of Field Working Days</td>
  <td>25</td>
  <td><a (click)="openAbove95PercentageModal('NoOfFieldWorkingDays')">{{ onHQGreaterThan95PercentageWithNorm25 }}</a>
  </td>
  <td><a (click)="openBetween85To95PercentageModal('NoOfFieldWorkingDays')">{{ onHQInBetween85To95PercentageWithNorm25
    }}</a></td>
  <td><a (click)="openBelow85PercentageModal('NoOfFieldWorkingDays')">{{ onHQLessThan85PercentageWithNorm25 }}</a></td>
</tr>
<tr>
  <td>Daily Call Average/Month</td>
  <td>25</td>
  <td><a (click)="openAbove95PercentageModal('DailyCallAverage')">{{ onHQCallAverageGreaterThan95PercentageWithNorm25
    }}</a></td>
  <td><a (click)="openBetween85To95PercentageModal('DailyCallAverage')">{{
    onHQCallAverageBetween85To95PercentageWithNorm25 }}</a></td>
  <td><a (click)="openBelow85PercentageModal('DailyCallAverage')">{{ onHQCallAverageLessThan85PercentageWithNorm25
    }}</a></td>
</tr>
<tr>
  <td>No Of Bricks with 2 or more visits</td>
  <td>10</td>
  <td><a (click)="openAbove95PercentageModal('NoOfBricksVisitedTwice')">{{onHQVisitedTwiceVisitCountGreaterThan95PercentageWithNorm25}}</a>
  </td>
  <td><a (click)="openBetween85To95PercentageModal('NoOfBricksVisitedTwice')">{{onHQVisitedTwiceVisitCountBetween85To95PercentageWithNorm25}}</a>
  </td>
  <td><a (click)="openBelow85PercentageModal('NoOfBricksVisitedTwice')">{{onHQVisitedTwiceVisitCountLessThan85PercentageWithNorm25}}</a>
  </td>
</tr>
<br>
<tr>
  <td>Customer Coverage</td>
  <td>95%</td>
  <td><a (click)="openAbove95PercentageModal('CustomerCoverage')">{{
    customerCoverageWithGreaterThan95Percentage(null,0.90) }}</a></td>
  <td><a (click)="openBetween85To95PercentageModal('CustomerCoverage')">{{
    customerCoverageWith85To95Percentage(null,0.80,0.90) }}</a></td>
  <td><a (click)="openBelow85PercentageModal('CustomerCoverage')">{{ customerCoverageWithLessThan85Percentage(null,0.80)
    }}</a></td>
</tr>
<tr>
  <td>Stockist Coverage</td>
  <td>95%</td>
  <td><a (click)="openAbove95PercentageModal('StockistCoverage')">{{ customerCoverageWithGreaterThan95Percentage(1,0.90)
    }}</a></td>
  <td><a (click)="openBetween85To95PercentageModal('StockistCoverage')">{{
    customerCoverageWith85To95Percentage(1,0.80,0.90) }}</a></td>
  <td><a (click)="openBelow85PercentageModal('StockistCoverage')">{{ customerCoverageWithLessThan85Percentage(1,0.80)
    }}</a></td>
</tr>
<tr>
  <td>Semi Coverage</td>
  <td>95%</td>
  <td><a (click)="openAbove95PercentageModal('SemiCoverage')">{{ customerCoverageWithGreaterThan95Percentage(2,0.90)
    }}</a></td>
  <td><a (click)="openBetween85To95PercentageModal('SemiCoverage')">{{ customerCoverageWith85To95Percentage(2,0.80,0.90)
    }}</a></td>
  <td><a (click)="openBelow85PercentageModal('SemiCoverage')">{{ customerCoverageWithLessThan85Percentage(2,0.80) }}</a>
  </td>
</tr>
<tr>
  <td>Retailer Coverage</td>
  <td>95%</td>
  <td><a (click)="openAbove95PercentageModal('RetailerCoverage')">{{ customerCoverageWithGreaterThan95Percentage(3,0.90)
    }}</a></td>
  <td><a (click)="openBetween85To95PercentageModal('RetailerCoverage')">{{
    customerCoverageWith85To95Percentage(3,0.80,0.90) }}</a></td>
  <td><a (click)="openBelow85PercentageModal('RetailerCoverage')">{{ customerCoverageWithLessThan85Percentage(3,0.80)
    }}</a></td>
</tr>
<tr>
  <td>HCP Coverage</td>
  <td>95%</td>
  <td><a (click)="openAbove95PercentageModal('HCPCoverage')">{{ customerCoverageWithGreaterThan95Percentage(5,0.90)
    }}</a></td>
  <td><a (click)="openBetween85To95PercentageModal('HCPCoverage')">{{ customerCoverageWith85To95Percentage(5,0.80,0.90)
    }}</a></td>
  <td><a (click)="openBelow85PercentageModal('HCPCoverage')">{{ customerCoverageWithLessThan85Percentage(5,0.80) }}</a>
  </td>
</tr>
<tr>
  <td>Hub Coverage</td>
  <td>95%</td>
  <td><a (click)="openAbove95PercentageModal('HUBCoverage')">{{ customerCoverageWithGreaterThan95Percentage(4,0.90)
    }}</a></td>
  <td><a (click)="openBetween85To95PercentageModal('HUBCoverage')">{{ customerCoverageWith85To95Percentage(4,0.80,0.90)
    }}</a></td>
  <td><a (click)="openBelow85PercentageModal('HUBCoverage')">{{ customerCoverageWithLessThan85Percentage(4,0.80) }}</a>
  </td>
</tr>
<br>
<tr>
  <td>HCP met/Day</td>
  <td>3</td>
  <td><a (click)="openAbove95PercentageModal('HCPMet')">{{ customerMetWithGreaterThan95Percentage(5,0.285) }}</a></td>
  <td><a (click)="openBetween85To95PercentageModal('HCPMet')">{{ customerMetWith85To95Percentage(5,0.255,0.285) }}</a>
  </td>
  <td><a (click)="openBelow85PercentageModal('HCPMet')">{{ customerMetWithLessThan85Percentage(5,0.255) }}</a></td>
</tr>
<tr>
  <td>Semi met/Day</td>
  <td>3</td>
  <td><a (click)="openAbove95PercentageModal('SemiMet')">{{ customerMetWithGreaterThan95Percentage(2,0.285) }}</a></td>
  <td><a (click)="openBetween85To95PercentageModal('SemiMet')">{{ customerMetWith85To95Percentage(2,0.255,0.285) }}</a>
  </td>
  <td><a (click)="openBelow85PercentageModal('SemiMet')">{{ customerMetWithLessThan85Percentage(2,0.255) }}</a></td>
</tr>
<tr>
  <td>Retailer met/Day</td>
  <td>3</td>
  <td><a (click)="openAbove95PercentageModal('RetailerMet')">{{ customerMetWithGreaterThan95Percentage(3,0.285) }}</a>
  </td>
  <td><a (click)="openBetween85To95PercentageModal('RetailerMet')">{{ customerMetWith85To95Percentage(3,0.255,0.285)
    }}</a></td>
  <td><a (click)="openBelow85PercentageModal('RetailerMet')">{{ customerMetWithLessThan85Percentage(3,0.255) }}</a></td>
</tr>
<br>
<tr>
  <td>No of Bricks with Semi</td>
  <td>12</td>
  <td>
    <a *ngIf="semiGreaterThan95PercentageWithNorm12 < 100" (click)="openAbove95PercentageModal('NoOfBrickWithSemi')">
      {{ semiGreaterThan95PercentageWithNorm12 }}
    </a>
    <span *ngIf="semiGreaterThan95PercentageWithNorm12 > 100">
      {{ semiGreaterThan95PercentageWithNorm12 }}
    </span>
  </td>
  <td>
    <a *ngIf="semiInBetween85To95PercentageWithNorm12 < 100" (click)="openBetween85To95PercentageModal('NoOfBrickWithSemi')">
      {{ semiInBetween85To95PercentageWithNorm12 }}
    </a>
    <span *ngIf="semiInBetween85To95PercentageWithNorm12 > 100">
      {{ semiInBetween85To95PercentageWithNorm12 }}
    </span>
  </td>
  <td>
    <a *ngIf="semiLessThan85PercentageWithNorm12 < 100" (click)="openBelow85PercentageModal('NoOfBrickWithSemi')">
      {{ semiLessThan85PercentageWithNorm12 }}
    </a>
    <span *ngIf="semiLessThan85PercentageWithNorm12 > 100">
      {{ semiLessThan85PercentageWithNorm12 }}
    </span>
  </td>
</tr>
<tr>
  <td>No of Bricks with HCP</td>
  <td>10</td>
  <td>
    <a *ngIf="hcpGreaterThan95PercentageWithNorm10 < 100" (click)="openAbove95PercentageModal('NoOfBrickWithHCP')">
      {{ hcpGreaterThan95PercentageWithNorm10 }}
    </a>
    <span *ngIf="hcpGreaterThan95PercentageWithNorm10 > 100">
      {{ hcpGreaterThan95PercentageWithNorm10 }}
    </span>
  </td>
  <td>
    <a *ngIf="hcpInBetween85To95PercentageWithNorm10 < 100" (click)="openBetween85To95PercentageModal('NoOfBrickWithHCP')">
      {{ hcpInBetween85To95PercentageWithNorm10 }}
    </a>
    <span *ngIf="hcpInBetween85To95PercentageWithNorm10 > 100">
      {{ hcpInBetween85To95PercentageWithNorm10 }}
    </span>
  </td>
  <td>
    <a *ngIf="hcpLessThan85PercentageWithNorm10 < 100" (click)="openBelow85PercentageModal('NoOfBrickWithHCP')">
      {{ hcpLessThan85PercentageWithNorm10 }}
    </a>
    <span *ngIf="hcpLessThan85PercentageWithNorm10 > 100">
      {{ hcpLessThan85PercentageWithNorm10 }}
    </span>
  </td>
</tr>
<br>
<tr>
  <td>POB per Day</td>
  <td>10000</td>
  <td><a (click)="openAbove95PercentageModal('POBPerDay')">{{ pobPerDayGreaterThan95Percentage }}</a></td>
  <td><a (click)="openBetween85To95PercentageModal('POBPerDay')">{{ pobPerDayBetween85To95Percentage }}</a></td>
  <td><a (click)="openBelow85PercentageModal('POBPerDay')">{{ pobPerDayLessThan85Percentage }}</a></td>
</tr>
<tr>
  <td>Minimum Productive Calls/Day</td>
  <td>5</td>
  <td><a (click)="openAbove95PercentageModal('MinimumProductiveCalls/Day')">{{
    minimumProductiveCallsWithGreaterThan95Percentage }}</a></td>
  <td><a (click)="openBetween85To95PercentageModal('MinimumProductiveCalls/Day')">{{
    minimumProductiveCallsWithBetween85To95Percentage }}</a></td>
  <td><a (click)="openBelow85PercentageModal('MinimumProductiveCalls/Day')">{{
    minimumProductiveCallsWithLessThan85Percentage }}</a></td>
</tr>
<tr>
  <td>%POB to Primary Sales</td>
  <td>40%</td>
  <td><a (click)="openAbove95PercentageModal('%ToPrimarySales')">{{
    percentagePOBToPrimarySaleWithGreaterThan95Percentage }}</a></td>
  <td><a (click)="openBetween85To95PercentageModal('%ToPrimarySales')">{{
    percentagePOBToPrimarySaleWithBetween85To95Percentage }}</a></td>
  <td><a (click)="openBelow85PercentageModal('%ToPrimarySales')">{{ percentagePOBToPrimarySaleWithLessThan85Percentage
    }}</a></td>
</tr>
