<div class="topics-list" #loading_box>
    <div class="topic-container new-ticket">
        <div class="row">
            <div class="col-xs-12">
                <div class="box-widget widget-module">
                    <div class="widget-head clearfix">
                        <span class="h-icon"><i class="fa fa-table"></i></span>
                        <h4>Graph </h4>

                    </div>
                    <div class="col-xs-12 col-md-8">
                        <div class="line-chart-container">
                            <nvd3 [options]="options" [data]="chart_data"></nvd3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
