<div class="container-fluid dashboard">

    <!-- Page breadcrumb -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-7">
                <div class="page-breadcrumb-wrap">
                </div>
            </div>
        </div>
    </div>
    <!-- ./Page breadcrumb -->

    <!-- pages layout -->
    <div class="row">
        <div class="col-md-2 col-md-push-10">
            <div class="row">
                <div class="col-xs-12">
                    <dates-select></dates-select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <multiple-user-select></multiple-user-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <multiple-territory-select></multiple-territory-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <multiple-headquarter-select></multiple-headquarter-select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-md-pull-2">
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="mini-stats-widget full-block-mini-chart">
                        <div class="mini-stats-top">
                            <span class="mini-stats-value">60</span>
                            <span class="mini-stats-label">Active Users</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="mini-stats-widget full-block-mini-chart">
                        <div class="mini-stats-top">
                            <span class="mini-stats-value">6,000</span>
                            <span class="mini-stats-label">Total Customers</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="mini-stats-widget full-block-mini-chart">
                        <div class="mini-stats-top">
                            <span class="mini-stats-value">6,000</span>
                            <span class="mini-stats-label">Working Days</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="mini-stats-widget full-block-mini-chart">
                        <div class="mini-stats-top">
                            <span class="mini-stats-value">6,000</span>
                            <span class="mini-stats-label">Call Average</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Visit Order Trend -->
            <div class="row">
                <div class="col-xs-12 col-md-9">
                    <visit_order_trend></visit_order_trend>
                </div>
                <div class="col-xs-12 col-md-3">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="mini-stats-widget full-block-mini-chart">
                                <div class="mini-stats-top">
                                    <span class="mini-stats-value">6,000</span>
                                    <span class="mini-stats-label">Total Visits</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="mini-stats-widget full-block-mini-chart">
                                <div class="mini-stats-top">
                                    <span class="mini-stats-value">6,000</span>
                                    <span class="mini-stats-label">POB</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Visit Order Trend -->

            <div class="row">

                <!-- Highest Call graph -->
                <div class="col-xs-12 col-md-6">
                    <highest_call_graph></highest_call_graph>
                </div>
                <!-- ./Highest Call graph -->

                <!-- Highest Order graph -->
                <div class="col-xs-12 col-md-6">
                    <highest_order_graph></highest_order_graph>
                </div>
                <!-- ./Highest Order graph -->
            </div>
        </div>
    </div>
    <!-- ./pages layout -->
</div>
