<div class="container-fluid stp">

    <!-- Page Breadcrumb -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-7">
                <div class="page-breadcrumb-wrap">
                    <div class="page-breadcrumb-info">
                        <h2 class="breadcrumb-titles">
                            STP Report
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
            </div>
        </div>
    </div>
    <!-- Page Breadcrumb -->

    <!-- STP Table -->
    <div class="row" *roleCheck="ROLE_CSM">
        <div class="col-xs-12">
            <a class="btn btn-default" [routerLink]="['/stps', _country_id, 'regions', _region_id, 'areas', _area_id]">
                <i class="fa fa-arrow-left"></i> Back
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box-widget widget-module">
                <div class="widget-head clearfix">
                    <span class="h-icon"><i class="fa fa-table"></i></span>
                    <h4>Stp Report for <strong>{{ territories[0]?.hq_headquarter.name}}</strong></h4>
                </div>
                <div class="widget-container territory-stp-table" #loading_box>
                    <div class="widget-block" style="padding: 0px">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr style="background-color: #3498db;color: white">
                                    <th rowspan="2">Territory</th>
                                    <th rowspan="2">Brick</th>
                                    <th rowspan="2">Distance From HQ/Territory</th>
                                    <template ngFor let-ct [ngForOf]="customer_types">
                                        <th [attr.colspan]="ct.grades.length">{{ ct.name }}</th>
                                    </template>
                                    <th rowspan="2">Total</th>
                                    <th rowspan="2">No of work days</th>
                                    <th rowspan="2">Expected Business</th>
                                </tr>
                                <tr style="background-color: #3498db;color: white">
                                    <template ngFor let-ct [ngForOf]="customer_types">
                                        <th *ngFor="let grade of ct.grades">{{ grade.name }}</th>
                                    </template>
                                </tr>
                                </thead>

                                <tbody>
                                <tr class="dark_grey">
                                    <th>Total</th>
                                    <td></td>
                                    <td></td>
                                    <template ngFor let-ct [ngForOf]="total.customer_types">
                                        <td *ngFor="let grade of ct.grades">
                                                    <span *ngIf="grade.customer_count > 0">
                                                        {{ grade.customer_count }}
                                                    </span>
                                        </td>
                                    </template>
                                    <td>{{ all_total }}</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <template ngFor let-tr [ngForOf]="generateArray(new_territories)">
                                    <tr class="grey">
                                        <th>{{ tr.name }}</th>
                                        <td></td>
                                        <td></td>
                                        <template ngFor let-ct [ngForOf]="tr.customer_types">
                                            <td *ngFor="let grade of ct.grades">
                                                    <span *ngIf="grade.customer_count > 0">
                                                        {{ grade.customer_count }}
                                                    </span>
                                            </td>
                                        </template>
                                        <td>{{ tr.total }}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <template ngFor let-br [ngForOf]="generateArray(tr.bricks)">
                                        <tr>
                                            <td></td>
                                            <th>{{ br.name }}</th>
                                            <td>{{ br.distance_from_hq }}</td>
                                            <template ngFor let-ct [ngForOf]="br.customer_types">
                                                <td *ngFor="let grade of ct.grades">
                                                    <span *ngIf="grade.customer_count > 0">
                                                        {{ grade.customer_count }}
                                                    </span>
                                                </td>
                                            </template>
                                            <td>{{ br.total }}</td>
                                            <td>{{ br.no_of_work_days }}</td>
                                            <td></td>
                                        </tr>
                                    </template>
                                </template>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./STP Table -->
</div>
