<div class="container-fluid attendances">

    <!-- Page Breadcrumb -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-7">
                <div class="page-breadcrumb-wrap">
                    <div class="page-breadcrumb-info">
                        <h2 class="breadcrumb-titles">Daily Work Reporting
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
            </div>
        </div>
    </div>
    <!-- Page Breadcrumb -->

    <!-- Attendance Monthly body -->
    <div class="row">

        <!-- Calendar view -->
        <div class="col-xs-12 col-md-6" #loading_box>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <month-picker [month]="month" [year]="year"
                                  (onMonthYearChanged)="monthYearChanged($event)"></month-picker>
                </div>
            </div>

            <attendance-calendar-select [month]="month" [year]="year" [attendances]="attendances"
                                        [holidays]="holidays" (onAttendanceSelected)="onAttendanceSelected($event)">

            </attendance-calendar-select>
        </div>
        <!-- Calendar view -->

        <!-- Create Attendance View -->
        <div class="col-xs-12 col-md-6" *ngIf="attendance && !today">
            <customer-selection [attendance_date]="attendance.date"></customer-selection>
            <div *ngIf="attendance.id">
                <update-attendance [attendance]="attendance"
                                   (attendanceCreated)="attendanceCreated($event)"></update-attendance>
            </div>
            <div *ngIf="!attendance.id">
                <create-attendance [attendance]="attendance"
                                   (attendanceCreated)="attendanceCreated($event)"></create-attendance>
            </div>
        </div>
        <div class="col-xs-12 col-md-6" *ngIf="attendance && today">
            <div class="row">
                <div class="col-xs-12">
                    <span class="alert alert-danger">
                        Cannot report for future date
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6" *ngIf="!attendance">
            <div class="row">
                <div class="col-xs-12">
                    <span class="alert alert-info">
                    Click on any date to mark for reporting
                    </span>
                </div>
            </div>
        </div>
        <!-- ./Create Attendance View -->
    </div>
    <!-- ./Attendance Monthly body -->
</div>

<div class="modal fade" tabindex="-1" role="dialog" #attendance_reporting>
    <div class="modal-dialog modal-lg" role="document" *ngIf="attendance">
        <div class="modal-content">
            <div class="modal-body" style="padding: 0;">
                <div class="row">
                    <!-- Report section -->
                    <div class="col-xs-12">
                        <div>
                            <report-component [attendance]="attendance"></report-component>
                        </div>
                    </div>
                    <!-- ./Report section -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>