<td>{{customer.firm_name}}</td>
<td>{{customer.plans[5].avg_primary_previous_year}}</td>
<td>{{customer.plans[5].previous_month_secondary}}</td>
<td>{{customer.plans[5].opening_stock}}</td>
<td>{{customer.plans[5].primary_plan}}</td>
<td>{{customer.plans[5].secondary_plan}}</td>
<td>{{customer.plans[2].avg_primary_previous_year}}</td>
<td>{{customer.plans[2].previous_month_secondary}}</td>
<td>{{customer.plans[2].opening_stock}}</td>
<td>{{customer.plans[2].primary_plan}}</td>
<td>{{customer.plans[2].secondary_plan}}</td>
<td>{{customer.plans[7].avg_primary_previous_year}}</td>
<td>{{customer.plans[7].previous_month_secondary}}</td>
<td>{{customer.plans[7].opening_stock}}</td>
<td>{{customer.plans[7].primary_plan}}</td>
<td>{{customer.plans[7].secondary_plan}}</td>
<td>{{customer.plans[0].avg_primary_previous_year}}</td>
<td>{{customer.plans[0].previous_month_secondary}}</td>
<td>{{customer.plans[0].opening_stock}}</td>
<td>{{customer.plans[0].primary_plan}}</td>
<td>{{customer.plans[0].secondary_plan}}</td>
<td>{{customer.total_plan.avg_primary_previous_year}}</td>
<td>{{customer.total_plan.previous_month_secondary}}</td>
<td>{{customer.total_plan.opening_stock}}</td>
<td>{{customer.total_plan.primary_plan}}</td>
<td>{{customer.total_plan.secondary_plan}}</td>