<div class="page-container list-menu-view">

    <!--left bar start here -->
    <nav-comp></nav-comp>
    <!-- ./left bar end here -->

    <div class="page-content">

        <!-- top bar start here -->
        <header-comp></header-comp>
        <!-- ./top bar end here -->

        <!-- pages content start here -->
        <div class="main-container">
            <router-outlet></router-outlet>
        </div>
        <!-- pages content start here -->

        <!--footer start here -->
        <footer class="footer-container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="footer-left">
                            <span>&copy; 2017 <a href="">Goapptiv</a></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="footer-right">
              <span class="footer-meta">Crafted by&nbsp;<a
                      href="http://goapptiv.com">GoApptiv</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer end here -->

    </div>
</div>
