.summary {
  .details-table {
    .widget-block {
      padding: 0;
    }
  }
}

.topics-list {
  padding: 0;
}

.table-bordered {
  thead th {
    padding: 2px;
    font-weight: 600;
    font-size: 10px;
    text-align: center;
  }
  tfoot th {
    padding: 2px;
    font-weight: 600;
    font-size: 10px;
    text-align: center;
  }
  tbody {
    th {
      padding: 2px;
      font-weight: 500;
      font-size: 10px;
    }
    td {
      padding: 2px;
      font-size: 10px;
      text-align: center;
    }

  }
}