<th style="min-width: 147px;">{{ _customer.firm_name }}</th>
<td>{{ _customer.plans[0].avg_primary_previous_year.toFixed(0) }}</td>
<td>{{ _customer.plans[0].previous_month_secondary.toFixed(0) }}</td>
<td>{{ _customer.plans[0].opening_stock.toFixed(0) }}</td>
<td>{{ _customer.plans[0].pob.toFixed(0) }}</td>
<td [ngClass]="{'editing': editing, 'empty': _customer.plans[0].primary_sale <= 0}">
  <span *ngIf="editing">
      <input class="form-control" [(ngModel)]="_customer.plans[0].primary_sale" type="number"
             value="0" (change)="resetSave()"/>
  </span>
  <span *ngIf="!editing">
      {{ _customer.plans[0].primary_sale.toFixed(0) }}
  </span>
</td>
<td [ngClass]="{'editing': editing, 'empty': _customer.plans[0].secondary_sale <= 0}">
  <span *ngIf="editing">
      <input class="form-control" [(ngModel)]="_customer.plans[0].secondary_sale" type="number"
             value="0" (change)="resetSave()"/>
  </span>
  <span *ngIf="!editing">
      {{ _customer.plans[0].secondary_sale.toFixed(0) }}
  </span>
</td>
<td>{{ _customer.plans[10].avg_primary_previous_year.toFixed(0) }}</td>
<td>{{ _customer.plans[10].previous_month_secondary.toFixed(0) }}</td>
<td>{{ _customer.plans[10].opening_stock.toFixed(0) }}</td>
<td>{{ _customer.plans[10].pob.toFixed(0) }}</td>
<td [ngClass]="{'editing': editing, 'empty': _customer.plans[10].primary_sale <= 0}">
  <span *ngIf="editing">
      <input class="form-control" [(ngModel)]="_customer.plans[10].primary_sale" type="number"
             value="0" (change)="resetSave()"/>
  </span>
  <span *ngIf="!editing">
      {{ _customer.plans[10].primary_sale.toFixed(0) }}
  </span>
</td>
<td [ngClass]="{'editing': editing, 'empty': _customer.plans[10].secondary_sale <= 0}">
  <span *ngIf="editing">
      <input class="form-control" [(ngModel)]="_customer.plans[10].secondary_sale" type="number"
             value="0" (change)="resetSave()"/>
  </span>
  <span *ngIf="!editing">
      {{ _customer.plans[10].secondary_sale.toFixed(0) }}
  </span>
</td>

<td>{{ total_avg_primary_previous_year.toFixed(0) }}</td>
<td>{{ total_previous_month_secondary.toFixed(0) }}</td>
<td>{{ total_opening_stock.toFixed(0) }}</td>
<td>{{ total_pob_amount.toFixed(0) }}</td>
<td>{{ total_primary_plan.toFixed(0) }}</td>
<td>{{ total_secondary_plan.toFixed(0) }}</td>
<td>{{ next_month_opening_inv.toFixed(0) }}</td>
