<div class="container-fluid css_v2" #loading_box>
  <!-- Page Breadcrumb -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-md-12">
        <div class="page-breadcrumb-wrap">
          <div class="page-breadcrumb-info">
            <h2 class="breadcrumb-titles">User Management
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a class="btn btn-xs btn-danger pull-right" routerLink="/v2/users/create">+ Add New</a>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Breadcrumb -->

  <!-- filters -->
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12 col-md-2 form-group" *roleCheck="ROLE_ADMIN">
          <zone-select [value]="zone_id" [title]="'Select Zone'"
                         (onValueChanged)="zoneChanged($event)"></zone-select>
        </div>
        <div class="col-xs-12 col-md-2 form-group" *roleCheck="ROLE_ZSM">
          <region-select [value]="region_id" [zone_id]="zone_id" [title]="'Select Region'"
                         (onValueChanged)="regionChanged($event)"></region-select>
        </div>
        <div *ngIf="region_id > 0">
          <div class="col-xs-12 col-md-2 form-group" *roleCheck="ROLE_ZSM">
            <area-select [value]="area_id" [region_id]="region_id" [title]="'Select Area'"
                         (onValueChanged)="areaChanged($event)"></area-select>
          </div>
        </div>
        <div class="col-xs-12 col-md-5">
          <div class="row">
            <div class="col-xs-12 col-md-5">
              <div class="form-group">
                <label>Select Role</label>
                <role-button [role_id]="role_id"
                             (onRoleChanged)="roleChanged($event)"></role-button>
              </div>
            </div>
            <div class="col-md-12 col-md-4">
              <div class="form-group">
                <label>Select Status</label>
                <div class="status_buttons">
                  <button class="btn btn-default btn-xs" (click)="statusChanged('active')"
                          [ngClass]="{'btn-primary':status == 'active'}">
                    Active
                  </button>
                  <button class="btn btn-default btn-xs" (click)="statusChanged('in_active')"
                          [ngClass]="{'btn-primary':status == 'in_active'}">
                    In Active
                  </button>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-2">
              <div class="row">
                <div class="col-md-12 col-md-2">
                  <div class="form-group">
                    <label>Search</label>
                    <input type="text" name="search" (keyup)="onKey($event)">
                  </div></div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end filters -->

  <!-- User List Table -->
  <div class="row">
    <div class="col-xs-12">
      <div class="box-widget widget-module table-widget">
        <div class="widget-container">
          <div class="widget-block table-block">
            <div class="table-responsive">
              <table class="table table-bordered table-striped no-border-table">
                <thead>
                <tr>
                  <th></th>
                  <th>Full Name</th>
                  <th>Code</th>
                  <th>Role</th>
                  <th>Username</th>
                  <th>Mobile</th>
                  <th>Region</th>
                  <th>Area</th>
                  <th>Headquarter</th>
                  <th>Joining Date</th>
                  <th>Leaving Date</th>
                  <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let user of users">
                  <td>
                    <div class="task-thumb">
                      <img alt="user" class="image-circle" src="assets/images/avatar/manager1.png">
                    </div>
                  </td>
                  <td>{{ user.full_name }}</td>
                  <td>{{ user.emp_code }}</td>
                  <td>{{ getRole(user.role.id) }}</td>
                  <td>{{ user.username }}</td>
                  <td>{{ user.mobile }}</td>
                  <td>{{ user.hq_region?.name }}</td>
                  <td>{{ user.hq_area?.name}}</td>
                  <td>{{ user.hq_headquarter?.name}}</td>
                  <td>{{ user.joining_date | date:'d, MMM y' }}</td>
                  <td>{{ user.status == 'active' ? "NA" : user.leaving_date | date:'d, MMM y' }}</td>
                  <td class="actions">
                    <a *ngIf="user.status == 'active'" title="Update" (click)="updateUser(user.id)">
                      <i class="fa fa-pencil-square-o pointer"></i>
                    </a>
                    <a class="text-danger pointer" (click)="deactivateUser(user)" *ngIf="user.status == 'active'">
                      <i class="fa fa-trash-o" title="Deactivate User"></i>
                    </a>
                    <a class="text-primary pointer" (click)="passwordReset(user)"
                       *ngIf="user.status == 'active'">
                      <i class="fa fa-lock" title="Reset Password"></i>
                    </a>
                    <a *roleCheck="ROLE_RSM" class="btn btn-danger btn-xs" style="cursor: pointer;"
                       title="Delete Report" (click)="deleteReport(user)">Delete Report</a>
                    <template [ngIf]="environment.projectName == 'IKON'">
                      <a class="btn btn-primary btn-xs" style="cursor: pointer;"
                        title="User Trainings" (click)="trainingSelect(user)">User Trainings
                      </a>
                    </template>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="widget-block">
            <pagination [page]="page" [total]="total" [length]=10
                        (onPageChanged)="pageChanged($event)"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end User List Table -->

  <div class="row">
    <div class="col-xs-12">
      <deactivate-user [user]="deactivating_user"
                       (userDeactivated)="onUserDeactivation($event)"></deactivate-user>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <password-reset [user]="reset_password" (passwordReset)="onPasswordReset($event)"></password-reset>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <delete-report [user]="deleting_report"
                       (reportDeleted)="onReportDeletion($event)"></delete-report>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <training-report [user]="training_report"
                       (trainingSelected)="onTrainingSelect($event)"></training-report>
    </div>
  </div>
</div>
