<button class="btn btn-primary btn-xs" *ngIf="role_id == 5" (click)="roleUser(5)">
    ZSM
</button>
<button class="btn btn-xs" *ngIf="role_id != 5" (click)="roleUser(5)">
    ZSM
</button>
<button class="btn btn-primary btn-xs" *ngIf="role_id == 4" (click)="roleUser(4)">
    CSM
</button>
<button class="btn btn-xs" *ngIf="role_id != 4" (click)="roleUser(4)">
    CSM
</button>
<button class="btn btn-primary btn-xs" *ngIf="role_id == 3" (click)="roleUser(3)">
    CSE
</button>
<button class="btn btn-xs" *ngIf="role_id != 3" (click)="roleUser(3)">
    CSE
</button>