<div class="container-fluid users">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-4">
                <div class="page-breadcrumb-wrap">
                    <div class="page-breadcrumb-info">
                        <h2 class="breadcrumb-titles">Users
                            <small>List of all Users</small>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row" style="padding-top: 20px;">
                    <div class="col-xs-12 col-md-4" *roleCheck="ROLE_CSM">
                        <role-select [value]="role_id" (onValueChanged)="roleChanged($event)"></role-select>
                    </div>
                    <div class="col-xs-12 col-md-4"
                         *ngIf="manager_role_id > 0 && manager_role_id < _service.user.role_id">
                        <user-select [role_id]="manager_role_id" [value]="manager_id" [title]="'Select Manager'"
                                     (onValueChanged)="managerChanged($event)"></user-select>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div style="padding-top: 30px;">
                    <a class="btn btn-primary" routerLink="/users/create">Create User</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Breadcrumb -->

    <!-- Tabs -->
    <div class="row">
        <div class="col-xs-12">
            <div class="full-tab-container">
                <ul class="main-tab nav nav-tabs">
                    <li class="active"><a href="#region" data-toggle="tab">Region</a>
                    </li>
                    <li><a href="#area" data-toggle="tab">Area</a>
                    </li>
                    <li><a href="#headquarter" data-toggle="tab">Headquarter</a>
                    </li>
                </ul>
                <div class="main-tab-content tab-content">
                    <div class="tab-pane active" id="region">
                        <!-- Region -->
                        <div>
                            Region
                        </div>
                        <!-- ./Region -->
                    </div>
                    <div class="tab-pane" id="area">
                        <!-- Area -->
                        <div>
                            Area
                        </div>
                        <!-- ./Area -->
                    </div>
                    <div class="tab-pane" id="headquarter">

                        <!-- Headquarter -->
                        <div>
                            Headquarter
                        </div>
                        <!-- ./Headquarter -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Tabs -->
</div>
