<div class="box-widget widget-module no-border add_tour" #loading_box>

    <div class="widget-container" *ngIf="isSunday">
        <div class="widget-block">
            <div class="row">
                <div class="col-xs-12">
                    <small class="text-danger">Are you sure you want to add Tour on a Sunday ?</small>
                    <button class="btn btn-xs btn-primary" (click)="toggleSunday()">yes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Brick form -->
    <div class="widget-container" *ngIf="!isSunday">
        <div class="widget-head clearfix">
            <span class="h-icon"><i class="fa fa-bars"></i></span>
            <h4>Add Tour Form</h4>
        </div>
        <div class="widget-block">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <tour-type-select [value]="type"
                                  (onValueChanged)="tourTypeChanged($event)"></tour-type-select>
                    <small *ngIf="errors?.type" class="text-danger text-center">
                        {{ errors.type}}
                    </small>
                </div>
                <div class="col-xs-12 col-md-6" *ngIf="type == 'Field Work' && !showTerritory">
                    <user-select [value]="working_with_id"
                                 [title]="'Working With'"
                                 [manager_id]="_manager_id"
                                 [first_value]="'Working Alone'"
                                 [role_id]="3"
                                 (onValueChanged)="userChanged($event)"></user-select>
                    <small *ngIf="errors?.working_with_id" class="text-danger text-center">
                        {{ errors.working_with_id}}
                    </small>
                </div>
                <div class="col-xs-12 col-md-4" *ngIf="showTerritory && type == 'Field Work'">
                    <territory-select [value]="territory_id"
                                      [first_value]="'Select Territory'"
                                      [headquarter_id]="headquarter_id"
                                      (onValueChanged)="territoryChanged($event)"></territory-select>
                    <small *ngIf="errors?.hq_territory_id" class="text-danger text-center">
                        {{ errors.hq_territory_id}}
                    </small>
                </div>
                <div class="col-xs-12 col-md-4" [ngClass]="{'hide': territory_id <=0}" *ngIf="type == 'Field Work'">
                    <brick-select [value]="brick_id" [territory_id]="territory_id"
                                  [first_value]="'Select Brick'"
                                  (onValueChanged)="brickChanged($event)"></brick-select>
                    <small *ngIf="errors?.hq_brick_id" class="text-danger text-center">
                        {{ errors.hq_brick_id}}
                    </small>
                </div>
                <div class="col-xs-12 col-md-2" style="padding-left: 0;" *ngIf="type">
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <button class="btn btn-primary btn-block" (click)="save()">ADD</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- ./Brick form -->
</div>