<div class="container-fluid bricks">
  <!-- Page Breadcrumb -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-md-4">
        <div class="page-breadcrumb-wrap">
          <div class="page-breadcrumb-info">
            <h2 class="breadcrumb-titles">
              Customer Missing Report
            </h2>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-3" *ngIf="headquarter_id > 0 && _service.user.download_access == 1">
        <a class="btn btn-primary btn-block btn-margin" style="margin-top: 25px;"
           (click)="download()">
          Download Missed Customers(xlsx)
        </a>
      </div>
    </div>
  </div>
  <!-- Page Breadcrumb -->

  <!-- Filters for report-->
  <div class="row" style="padding-bottom: 10px;">
    <div class="col-xs-12 col-md-2">
      <month-picker [month]="month" [year]="year" (onMonthYearChanged)="monthYearChanged($event)"></month-picker>
    </div>
    <div class="col-xs-12 col-md-2" *roleCheck="ROLE_ADMIN">
      <zone-select [value]="zone_id" [title]="'Select Zone'" [first_value]="'Select Zone'"
                   (onValueChanged)="zoneChanged($event)"></zone-select>
    </div>
    <div class="col-xs-12 col-md-2" *roleCheck="ROLE_ZSM">
      <region-select [value]="region_id" [zone_id]="zone_id" [title]="'Select Region'" [first_value]="'Select Region'"
                     (onValueChanged)="regionChanged($event)"></region-select>
    </div>
    <div class="col-xs-12 col-md-2" *roleCheck="ROLE_RSM">
      <div *ngIf="region_id > 0">
        <area-select [value]="area_id" [region_id]="region_id" [title]="'Select Area'"
                     [first_value]="'Select Area'"
                     (onValueChanged)="areaChanged($event)"></area-select>
      </div>
    </div>
    <div class="col-xs-12 col-md-3" *roleCheck="ROLE_CSM">
      <div *ngIf="area_id > 0">
        <headquarter-select [value]="headquarter_id" [area_id]="area_id" (headquarters)="headquarters($event)"
                            [title]="'Select Head Quarter'" [first_value]="'Select Head Quarter'"
                            (onValueChanged)="headquarterChanged($event)"></headquarter-select>
      </div>
    </div>
    <div class="col-xs-12 col-md-3" *ngIf="_service.user.role_id != 3">
      <a class="btn btn-primary btn-block btn-margin" style="margin-top: 25px;width: 25%;"
         *ngIf="headquarter_id >0"
         (click)="fetch()">
        Go
      </a>
      <a class="btn btn-primary btn-block btn-margin disabled" style="margin-top: 25px;width: 25%;"
         *ngIf="headquarter_id == ''  ||  headquarter_id==0">
        Go
      </a>
    </div>
  </div>
  <!-- ./Filters for report-->

  <!-- Report Table -->
  <div class="row">
    <div class="col-xs-12" #loading_box>
      <div *ngIf="headquarter_id > 0">
        <div class="box-widget widget-module" *ngIf="territories.length > 0">
          <div class="widget-head clearfix">
            <span class="h-icon"><i class="fa fa-table"></i></span>
            <h4><strong>Customer Missing Report</strong></h4>
          </div>
          <div>
            <div class="widget-container report-table">
              <div class="widget-block">
                <div class="table-responsive">
                  <table class="table table-bordered visit_table">
                    <template [ngIf]="environment.envName == 'geo' && environment.projectName != 'IKON'">
                    <thead>
                    <tr style="background-color: #3498db;color: white">
                      <th style="font-weight: bold">Brick</th>
                      <th style="font-weight: bold">Total Missed Customer</th>
                      <th style="font-weight: bold">Stockist</th>
                      <th style="font-weight: bold">Semi</th>
                      <th style="font-weight: bold">Retailer</th>
                      <th style="font-weight: bold">Hub Chemist</th>
                      <th style="font-weight: bold">Healthcare Provider</th>
                    </tr>
                    </thead>
                    </template>

                    <template [ngIf]="environment.envName == 'geo' && environment.projectName == 'IKON'">
                    <thead>
                    <tr style="background-color: #3498db;color: white">
                      <th style="font-weight: bold">Brick</th>
                      <th style="font-weight: bold">Total Missed Customer</th>
                      <th style="font-weight: bold">Healthcare Provider</th>
                      <th style="font-weight: bold">Control Chemist</th>
                      <th style="font-weight: bold">Other Retailer</th>
                      <th style="font-weight: bold">Stockist</th>
                      <th style="font-weight: bold">Semi</th>
                    </tr>
                    </thead>
                    </template>

                    <tbody>
                    <tr style="background-color: #3498db;color: white">
                      <td style="text-align: left">
                        Total
                      </td>
                      <td>{{customer_others + customer_semi +
                        customer_retailer + customer_hub_chemist +
                        customer_physician}} /
                        {{total_customer_others + total_customer_semi +
                        total_customer_retailer + total_customer_hub_chemist +
                        total_customer_physician }}
                      </td>
                      <template [ngIf]="environment.envName == 'geo' && environment.projectName != 'IKON'">
                      <td>{{customer_others}} / {{total_customer_others}}</td>
                      <td>{{customer_semi}} / {{total_customer_semi}}</td>
                      <td>{{customer_retailer}} / {{total_customer_retailer}}</td>
                      <td>{{customer_hub_chemist}} / {{total_customer_hub_chemist}}</td>
                      <td>{{customer_physician}} / {{total_customer_physician}}</td>
                      </template>

                      <template [ngIf]="environment.envName == 'geo' && environment.projectName == 'IKON'">
                      <td>{{customer_physician}} / {{total_customer_physician}}</td>
                      <td>{{customer_hub_chemist}} / {{total_customer_hub_chemist}}</td>
                      <td>{{customer_retailer}} / {{total_customer_retailer}}</td>
                      <td>{{customer_others}} / {{total_customer_others}}</td>
                      <td>{{customer_semi}} / {{total_customer_semi}}</td>
                      </template>
                    </tr>
                    <template ngFor let-ter [ngForOf]="territories">
                      <tr class="dark_grey">
                        <th colspan="7" style="text-align: center ;font-weight: bold">{{ter.name}}</th>
                      </tr>
                      <tr *ngFor="let brick of ter.hq_bricks">
                        <td style="text-align: left">
                          {{brick.name}}
                        </td>
                        <td>{{brick.customer_others + brick.customer_semi +
                          brick.customer_retailer + brick.customer_hub_chemist +
                          brick.customer_physician}} /
                          {{brick.total_customer_others + brick.total_customer_semi +
                          brick.total_customer_retailer + brick.total_customer_hub_chemist +
                          brick.total_customer_physician }}
                        </td>
                        <template [ngIf]="environment.envName == 'geo' && environment.projectName != 'IKON'">
                        <td>{{brick.customer_others}} / {{brick.total_customer_others}}</td>
                        <td>{{brick.customer_semi}} / {{brick.total_customer_semi}}</td>
                        <td>{{brick.customer_retailer}} / {{brick.total_customer_retailer}}</td>
                        <td>{{brick.customer_hub_chemist}} / {{brick.total_customer_hub_chemist}}</td>
                        <td>{{brick.customer_physician}} / {{brick.total_customer_physician}}</td>
                        </template>
                        <template [ngIf]="environment.envName == 'geo' && environment.projectName == 'IKON'">
                        <td>{{brick.customer_physician}} / {{brick.total_customer_physician}}</td>
                        <td>{{brick.customer_hub_chemist}} / {{brick.total_customer_hub_chemist}}</td>
                        <td>{{brick.customer_retailer}} / {{brick.total_customer_retailer}}</td>
                        <td>{{brick.customer_others}} / {{brick.total_customer_others}}</td>
                        <td>{{brick.customer_semi}} / {{brick.total_customer_semi}}</td>
                        </template>
                      </tr>
                    </template>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!headquarter_id  ||  headquarter_id==0" style="height: 350px"></div>
    </div>
  </div>
  <!-- ./Report Table -->
</div>
