<div class="left-aside desktop-view">
    <!-- Logo image -->
    <div class="aside-branding">
        <a href="index.html" class="large-logo">
            <img src="/assets/images/channelitix.png" alt="Matmix Logo">
        </a>
        <span class="aside-pin waves-effect"><i class="fa fa-thumb-tack"></i></span>
        <span class="aside-close waves-effect"><i class="fa fa-times"></i></span>
    </div>
    <!-- ./Logo image -->

    <!-- Navigation items -->
    <div class="left-navigation">
        <ul class="list-accordion">
            <li>
                <a class="waves-effect" routerLink="/users">
                    <span class="nav-icon"><i class="fa fa-users"></i></span>
                    <span class="nav-label">Users</span>
                </a>
            </li>
            <li>
                <a class="waves-effect">
                    <span class="nav-icon"><i class="fa fa-home"></i></span>
                    <span class="nav-label">Reports</span>
                </a>
                <ul>
                    <li>
                        <a routerLink="/reports/attendance">Attendance</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- ./Navigation items -->
</div>
