<div class="forum-container">
  <div class="forum-list-container">
    <div class="container-fluid customers">
      <div class="forum-header">
        <div class="forum-stats">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <a class="sats-widget open-tickets" href="#">
										<span class="stats-icon">
										<i class="fa fa-ticket"></i>
										</span>
                <span class="stats-info">
										<span class="topics-couner">40</span>
										<span class="topic-type">Open Tickets</span>
										</span>
              </a>
            </div>
            <div class="col-md-4 col-sm-4">
              <a class="sats-widget closed-tickets" href="#">
										<span class="stats-icon">
										<i class="ico-check3"></i>
										</span>
                <span class="stats-info">
										<span class="topics-couner">300</span>
										<span class="topic-type">Closed Tickets</span>
										</span>
              </a>
            </div>
            <div class="col-md-4 col-sm-4">
              <a class="sats-widget new-tickets" href="#">
										<span class="stats-icon">
										<i class="fa fa-file-text"></i>
										</span>
                <span class="stats-info">
										<span class="topics-couner">30</span>
										<span class="topic-type">New Tickets</span>
										</span>
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2 class="forum-title">Customer Database</h2>
            <p class="forum-sub-title">
              List of all the Customers
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
