<div class="left-aside desktop-view">
  <!-- Logo image -->
  <div class="aside-branding">
    <a href="index.html" class="iconic-logo">
      <img src="/assets/images/logo-iconic.png" alt="Matmix Logo"/>
    </a>
    <a href="index.html" class="large-logo">
      <img src="/assets/images/logo-large.png" alt="Matmix Logo">
    </a>
    <span class="aside-pin waves-effect"><i class="fa fa-thumb-tack"></i></span>
    <span class="aside-close waves-effect"><i class="fa fa-times"></i></span>
  </div>
  <!-- ./Logo image -->

  <!-- Navigation items -->
  <div class="left-navigation">
    <ul class="list-accordion">
      <li>
        <a class="waves-effect">
          <span class="nav-icon"><i class="fa fa-home"></i></span>
          <span class="nav-label">Address</span>
        </a>
        <ul>
          <li>
            <a routerLink="/addresses/countries">Countries</a>
          </li>
          <li>
            <a routerLink="/addresses/states">States</a>
          </li>
          <li>
            <a routerLink="/addresses/districts">Districts</a>
          </li>
          <li>
            <a routerLink="/addresses/talukas">Talukas</a>
          </li>
          <li>
            <a routerLink="/addresses/areas">Areas</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="waves-effect">
          <span class="nav-icon"><i class="fa fa-home"></i></span>
          <span class="nav-label">Customer</span>
        </a>
        <ul>
          <li>
            <a routerLink="/customers">Customers</a>
          </li>
          <li>
            <a routerLink="/customers/customer_types">Customer Types</a>
          </li>
          <li>
            <a routerLink="/customers/grades">Grades</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- ./Navigation items -->
</div>
