<div class="box-widget widget-module daily_tour">
    <div class="widget-head clearfix">
        <span class="h-icon"><i class="fa fa-table"></i></span>
        <h4>Order on <span [innerHTML]="title"></span></h4>
    </div>
    <div class="widget-container" #loading_box>
        <div class="widget-block">
            <div class="row">
                <div class="col-md-3">
                    <a class="btn btn-primary btn-block btn-margin" *ngIf="!btn_loading"
                       (click)="excel_download()">
                        Export to xlsx
                    </a>
                    <div class="btn btn-primary btn-block btn-margin" *ngIf="btn_loading">
                        <i class="fa fa-spinner fa-spin"></i>Export to xlsx
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Customer</th>
                        <th>Type</th>
                        <th>Brick Name</th>
                        <th>Total Amount</th>
                        <th>Delivered By</th>
                        <th *ngIf="environment.envName == 'sk_group'">Synergy Delivered By</th>
                        <th>Actions</th>
                    </tr>
                    </thead>

                    <tbody>
                    <template ngFor let-o [ngForOf]="orders">
                        <tr *ngIf="o.order_items.length > 0">
                            <td>{{ o.id }}</td>
                            <td>{{ o.customer.firm_name }}</td>
                            <td>{{ o.customer.customer_type.name }}</td>
                            <td>{{ o.customer.hq_brick.name }}</td>
                            <td><i class="fa fa-rupee"></i> {{ o.calculated_total.toFixed(2) }}</td>
                            <td>{{ o.delivered_by_user?.firm_name }}</td>
                            <td *ngIf="environment.envName == 'sk_group'">{{ o.delivered_by_synergy_user?.firm_name }}
                            </td>
                            <td>
                                <button class="btn btn-primary btn-xs" (click)="selectOrder(o.id)"
                                        *ngIf="o.id != selectedOrderId">
                                    View Details
                                </button>
                            </td>
                        </tr>
                        <template [ngIf]="o.id == selectedOrderId">
                            <tr>
                                <td></td>
                                <td colspan="4" style="padding: 10px;">
                                    <table class="table table-bordered sub-table">
                                        <tr>
                                            <th>Product</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                        </tr>
                                        <tr *ngFor="let item of o.order_items">
                                            <template
                                                    [ngIf]="item.product.synergy == 1 && _service.user.username == 'abbottadmin' ">
                                                <td>{{ item.product.name }}</td>
                                                <td>{{ item.quantity }}</td>
                                                <td><i class="fa fa-rupee"></i> {{ (item.unit_price *
                                                    item.quantity).toFixed(2) }}
                                                </td>
                                            </template>
                                          <template [ngIf]="_service.user.username != 'abbottadmin' && environment.projectName != 'IKON'">
                                            <td>{{ item.product.name }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td><i class="fa fa-rupee"></i> {{ (item.unit_price *
                                              item.quantity).toFixed(2) }}
                                            </td>
                                          </template>
                                            <template [ngIf]="_service.user.username != 'abbottadmin' && _department_id == 0 && environment.projectName == 'IKON'">
                                               <td>{{ item.product.name }}</td>
                                               <td>{{ item.quantity }}</td>
                                               <td><i class="fa fa-rupee"></i> {{ (item.unit_price *
                                                 item.quantity).toFixed(2) }}
                                               </td>
                                            </template>
                                            <template [ngIf]="_service.user.username != 'abbottadmin' && _department_id == 1 && environment.projectName == 'IKON'">
                                                <td>{{ item.product.name }}</td>
                                                <td>{{ item.quantity }}</td>
                                                <td><i class="fa fa-rupee"></i> {{ (item.unit_price * item.quantity).toFixed(2) }}
                                                </td>
                                            </template>
                                            <template [ngIf]="_service.user.username != 'abbottadmin' && _department_id == 2 && environment.projectName == 'IKON' ">
                                                <td>{{ item.product.name }}</td>
                                                <td>{{ item.quantity }}</td>
                                                <td><i class="fa fa-rupee"></i> {{ (item.unit_price * item.quantity).toFixed(2) }}
                                            </td>
                                          </template>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </template>
                    </template>
                    <tr *ngIf="orders.length <= 0">
                        <td colspan="6">No Orders</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
