<div class="box-widget widget-module user_tour">
    <div class="widget-head clearfix">
        <span class="h-icon"><i class="fa fa-table"></i></span>
        <h4>Invoice Details for {{ invoice.customer.firm_name}}</h4>
    </div>
    <div class="widget-container" #loading_box>
        <div class="widget-block">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Batch No</th>
                        <th>LR No</th>
                        <th>LR Date</th>
                        <th>Product</th>
                        <th>Uom</th>
                        <th>Qty</th>
                        <th>Amount</th>
                    </tr>
                    </thead>

                    <tfoot>
                    <tr>
                        <th></th>
                        <th>Batch No</th>
                        <th>LR No</th>
                        <th>LR Date</th>
                        <th>Product</th>
                        <th>Uom</th>
                        <th>Qty</th>
                        <th>Amount</th>
                    </tr>
                    </tfoot>

                    <tbody>
                    <template ngFor let-item [ngForOf]="invoice.invoice_details" let-i="index">
                        <tr *ngIf="item.product">
                            <td>{{ i + 1 }}</td>
                            <td>{{ item.batch_no }}</td>
                            <td>{{ item.lr_no }}</td>
                            <td>{{ item.lr_date }}</td>
                            <td>
                                {{ item.product?.name }}
                            </td>
                            <td>{{ item.uom }}</td>
                            <td>{{ item.qty }}</td>
                            <td><i class="fa fa-rupee"></i>  {{ item.net_amt }}</td>
                        </tr>
                    </template>
                    <tr *ngIf="invoice.invoice_details.length == 0" ><td colspan="4">No Items</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
