.css_v2 {
  font-family: 'Roboto', sans-serif;

  .table {
    &.small {

    }
  }

  /* widget css */
  .table-widget {
    .table-block {
      &.widget-block {
        padding: 0;
      }
      thead th {
        background-color: #3498db;
        color: #fff;
        font-weight: 500;
        font-size: 12px;
      }
      tbody {
        th {
          font-weight: 500;
          font-size: 12px;
        }
        td {
          font-size: 12px;

          &.actions {
            a {
              padding: 5px;
            }
          }
        }
      }
    }
  }

  /* end widget css */

  /* page breadcrumb */
  .page-breadcrumb {
    .right-section {
      .right-btn {
        margin-top: 30px;
      }
    }
  }

  /* end of page breadcrumb */

  .box-widget {
    .widget-head {
      .right-section {
        text-align: right;
        padding: 20px;
      }
    }
  }

  /* buttons css */
  .role_buttons {
    padding: 25px 10px 0 10px;
  }

  .status_buttons {
    padding: 50px 10px 0 10px;
  }

  /* end buttons css */
}

.pagination {
  margin-top: 0;
}

.pointer {
  cursor: pointer;
}