<div class="container-fluid users">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <div class="page-breadcrumb-wrap">
                    <div class="page-breadcrumb-info">
                        <h2 class="breadcrumb-titles">
                            Reset Password
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Breadcrumb -->

    <!-- Reset Password Form -->
    <div class="row" style="height: 400px;">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div class="box-widget widget-module">
                <div class="widget-container" #loading_box>
                    <div class=" widget-block">
                        <form class="cmxform" [formGroup]="form" (ngSubmit)="save($event)" novalidate>
                            <div class="row">

                                <div class="col-xs-12">
                                    <!-- Password -->
                                    <div class="form-group">
                                        <label class="control-label">Password (required)</label>
                                        <div class="">
                                            <input class="form-control" formControlName="new_password" type="password"
                                                   name="new_password">
                                            <small *ngIf="errors?.new_password" class="text-danger text-center">
                                                {{ errors.new_password}}
                                            </small>
                                        </div>
                                    </div>
                                    <!-- ./Password -->

                                    <!-- Confirm Password -->
                                    <div class="form-group">
                                        <label class="control-label">Confirm Password (required)</label>
                                        <div class="">
                                            <input class="form-control" formControlName="confirm_new_password"
                                                   type="password" name="confirm_new_password">
                                            <small *ngIf="errors?.confirm_new_password" class="text-danger text-center">
                                                {{ errors.confirm_new_password}}
                                            </small>
                                        </div>
                                    </div>
                                    <!-- ./Confirm Password -->
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 form-group">
                                    <div class="form-actions text-center">
                                        <button type="submit" class="btn btn-primary">Reset Password</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Reset Password Form -->
</div>
