<div class="row">
    <div class="col-md-3 col-xs-6">
        <div class="mini-stats-widget full-block-mini-chart">
            <div class="mini-stats-top">
                <span class="mini-stats-value">{{ counts.total_users }}</span>
                <span class="mini-stats-label">Active Users</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-6">
        <div class="mini-stats-widget full-block-mini-chart">
            <div class="mini-stats-top">
                <span class="mini-stats-value">{{ counts.total_customers }}</span>
                <span class="mini-stats-label">Total Customers</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-6">
        <div class="mini-stats-widget full-block-mini-chart">
            <div class="mini-stats-top">
                <span class="mini-stats-value">{{ counts.total_working_days }}</span>
                <span class="mini-stats-label">Working Days</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-6">
        <div class="mini-stats-widget full-block-mini-chart">
            <div class="mini-stats-top">
                <span class="mini-stats-value">6,000</span>
                <span class="mini-stats-label">Call Average</span>
            </div>
        </div>
    </div>
</div>