<div class="container-fluid sales" #loading_box>

    <!-- Page Breadcrumb -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-7">
                <div class="page-breadcrumb-wrap">
                    <div class="page-breadcrumb-info">
                        <h2 class="breadcrumb-titles">
                            Primary Sales Invoices
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
            </div>
        </div>
    </div>
    <!-- Page Breadcrumb -->

    <!-- Filters for Order report-->
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <month-picker [month]="month" [year]="year" (onMonthYearChanged)="monthYearChanged($event)"></month-picker>
        </div>
        <div class="col-md-9">
          <div class="col-xs-12 col-md-3" *ngIf="environment.envName == 'geo' && this._service.user.departments.length > 1">
            <department-select [value]="department_id" [title]="'Select Department'" [first_value]="'Select Department'"
                               (onValueChanged)="departmentChanged($event)"></department-select>
          </div>
          <div class="col-xs-12 col-md-2" *roleCheck="ROLE_ADMIN">
            <zone-select [value]="zone_id" [title]="'Select Zone'" [first_value]="'Select Zone'"
                         (onValueChanged)="zoneChanged($event)"></zone-select>
          </div>
          <div class="col-xs-12 col-md-2" *roleCheck="ROLE_ZSM">
            <region-select [value]="region_id" [zone_id]="zone_id" [title]="'Select Region'" [first_value]="'Select Region'"
                           (onValueChanged)="regionChanged($event)"></region-select>
          </div>
            <div class="col-xs-12 col-md-3" *roleCheck="ROLE_RSM">
                <div *ngIf="region_id > 0">
                    <area-select [value]="area_id" [region_id]="region_id" [title]="'Select Area'"
                                 (onValueChanged)="areaChanged($event)"></area-select>
                </div>
            </div>
            <div class="col-xs-12 col-md-3" *roleCheck="ROLE_CSM">
                <div *ngIf="area_id > 0">
                    <headquarter-select [value]="headquarter_id" [area_id]="area_id"
                                        [title]="'Select Head Quarter'"
                                        (onValueChanged)="headquarterChanged($event)"></headquarter-select>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Filters for Order report-->

    <div class="row" style="padding-bottom: 10px;">
        <div class="col-xs-11 col-md-4">
            <primary-report-select [value]="primary_report_id" [title]="'Select Primary Sales Report'" [first_value]="'Select Primary Sales Report'" (onValueChanged)="primaryReportChanged($event)"></primary-report-select>
        </div>
        <div class="col-xs-1 col-md-1">
            <label>&nbsp;</label><br>
            <a class="btn btn-primary btn-sm"
                *ngIf="primary_report_id > 0" 
                (click)="report_download()">
                <i class="fa fa-download"></i>
            </a>
            <a class="btn btn-primary btn-sm disabled"
                *ngIf="!primary_report_id || primary_report_id==0">
                <i class="fa fa-download"></i>
            </a>
        </div>
    </div>

    <!-- Tabs -->
    <div class="row">
        <div class="col-xs-12">
            <div class="full-tab-container">
                <ul class="main-tab nav nav-tabs">
                    <li class="active"><a href="#product_wise" data-toggle="tab">Product Wise</a>
                    </li>
                    <li><a href="#stockist_wise" data-toggle="tab">Stockist Wise</a>
                    </li>
                    <li><a href="#invoice" data-toggle="tab">Invoice</a>
                    </li>
                </ul>
                <div class="main-tab-content tab-content">
                    <div class="tab-pane active" id="product_wise">
                        <!-- product_wise Table -->
                        <div>
                            <product-wise [year]="year" [month]="month"
                                          [zone_id]="zone_id"
                                          [region_id]="region_id"
                                          [area_id]="area_id" [headquarter_id]="headquarter_id" [department_id]="department_id"></product-wise>
                        </div>
                        <!-- ./product_wise Table -->
                    </div>
                    <div class="tab-pane" id="stockist_wise">
                        <!-- stockist_wise Table -->
                        <div>
                            <stockist-wise [month]="month" [year]="year"
                                           [zone_id]="zone_id"
                                           [region_id]="region_id"
                                           [area_id]="area_id" [headquarter_id]="headquarter_id" [department_id]="department_id"></stockist-wise>
                        </div>

                        <!-- ./stockist_wise Table -->
                    </div>
                    <div class="tab-pane" id="invoice">

                        <!-- Invoice Table -->
                        <div>
                            <invoices [month]="month" [year]="year"
                                      [zone_id]="zone_id"
                                      [region_id]="region_id"
                                      [area_id]="area_id" [headquarter_id]="headquarter_id" [department_id]="department_id"></invoices>
                        </div>
                        <!-- ./Invoice Table -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Tabs -->
</div>
