<div class="container-fluid sales">

    <!-- Page Breadcrumb -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-7">
                <div class="page-breadcrumb-wrap">
                    <div class="page-breadcrumb-info">
                        <h2 class="breadcrumb-titles">
                            Primary Sales Invoices
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
            </div>
        </div>
    </div>
    <!-- Page Breadcrumb -->

    <!-- Filters for Order report-->
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <month-picker [month]="month" [year]="year" (onMonthYearChanged)="monthYearChanged($event)"></month-picker>
        </div>
    </div>
    <!-- ./Filters for Order report-->

    <!-- Tabs -->
    <div class="row">
        <div class="col-xs-12">
            <div class="full-tab-container">
                <ul class="main-tab nav nav-tabs">
                    <li class="active"><a href="#product_wise" data-toggle="tab">Product Wise</a>
                    </li>
                    <li><a href="#stockist_wise" data-toggle="tab">Stockist Wise</a>
                    </li>
                    <li><a href="#invoice" data-toggle="tab">Invoice</a>
                    </li>
                </ul>
                <div class="main-tab-content tab-content">
                    <div class="tab-pane active" id="product_wise">
                        <!-- product_wise Table -->
                        <div>
                            <product-wise [month]="month" [year]="year" [invoice]="invoice"></product-wise>
                        </div>
                        <!-- ./product_wise Table -->
                    </div>
                    <div class="tab-pane" id="stockist_wise">
                        <!-- stockist_wise Table -->
                        <div>
                            <stockist-wise [month]="month" [year]="year" [invoice]="invoice"></stockist-wise>
                        </div>

                        <!-- ./stockist_wise Table -->
                    </div>
                    <div class="tab-pane" id="invoice">

                        <!-- Invoice Table -->
                        <div>
                            <invoices [month]="month" [year]="year" [invoice]="invoice"></invoices>
                        </div>
                        <!-- ./Invoice Table -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Tabs -->
</div>
