<div class="container-fluid bricks">
  <!-- Page Breadcrumb -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-md-4">
        <div class="page-breadcrumb-wrap">
          <div class="page-breadcrumb-info">
            <h2 class="breadcrumb-titles">Areas
              <small>List all Areas</small>
            </h2>
            <ul class="list-page-breadcrumb">
              <li><a href="#">Home</a></li>
              <li class="active-page"> Areas</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2 pull-right">
        <div style="padding-top: 30px;">
          <a class="btn btn-primary" (click)="excel_download()">Download all Bricks</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Breadcrumb -->
  <div class="row" *roleCheck="ROLE_ADMIN">
    <div class="col-xs-12">
      <a class="btn btn-default" [routerLink]="['/territories/zones', _zone_id,'regions']">
        <i class="fa fa-arrow-left"></i> Back
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="box-widget widget-module">
        <div class="widget-head clearfix">
          <span class="h-icon"><i class="fa fa-table"></i></span>
          <h4>Areas Table</h4>
        </div>
        <div class="widget-container brick-table" #loading_box>
          <div class="widget-block">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Total HQ</th>
                  <th>Total Territory</th>
                  <th>Total Bricks</th>
                  <th>Actions</th>
                </tr>
                </thead>

                <tfoot>
                <tr>
                  <th>Name</th>
                  <th>Total HQ</th>
                  <th>Total Territory</th>
                  <th>Total Bricks</th>
                  <th>Actions</th>
                </tr>
                </tfoot>

                <tbody>
                <tr *ngFor="let b of areas">
                  <td>{{ b.name}}</td>
                  <td>{{ b.headquarters_count }}</td>
                  <td>{{ b.territories_count }}</td>
                  <td>{{ b.bricks_count }}</td>
                  <td>
                    <a
                      [routerLink]="['/territories/zones', _zone_id,'regions',_region_id, 'areas',b.id, 'headquarters']"
                      class="btn btn-xs btn-primary">
                      view by headquarter
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ./Bricks Table -->
</div>
