<div class="container-fluid orders" #loading_box>

  <!-- Page Breadcrumb -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-md-7">
        <div class="page-breadcrumb-wrap">
          <div class="page-breadcrumb-info">
            <h2 class="breadcrumb-titles">Orders
              <small>Order Report For Manager</small>
            </h2>
            <ul class="list-page-breadcrumb">
              <li><a href="#">Home</a></li>
              <li class="active-page"> Orders</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-5">
      </div>
    </div>
  </div>
  <!-- Page Breadcrumb -->

  <!-- Filters for Order report-->
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <month-picker [month]="month" [year]="year" (onMonthYearChanged)="monthYearChanged($event)"></month-picker>
    </div>
    <div class="col-xs-12 col-md-2"
         *ngIf="environment.envName == 'sk_group' && _service.user.username != 'abbottadmin'">
      <button class="btn btn-primary" (click)="switchToAbbott()" style="margin-top: 25px;" *ngIf="!abbott">
        Switch to Abbott
      </button>
      <button class="btn btn-primary" (click)="switchToAbbott()" style="margin-top: 25px;" *ngIf="abbott">
        Back to SK
      </button>
    </div>
    <div class="col-xs-12 col-md-2">
      <button class="btn btn-primary" (click)="viewByQuantity()" style="margin-top: 25px;" *ngIf="!view_quantity">
        View By Quantity
      </button>
      <button class="btn btn-primary" (click)="viewByQuantity()" style="margin-top: 25px;" *ngIf="view_quantity">
        View By Rs
      </button>
    </div>
    <div class="col-xs-12 col-md-3">
      <product-select [value]="product_id" [title]="'Select Product'" [abbott]="abbott"
                      (onValueChanged)="productChanged($event)"></product-select>
    </div>
  </div>
  <!-- ./Filters for Order report-->

  <!-- Order Table -->
  <!-- Attendance Table -->
  <div class="row">
    <div class="col-xs-12" *roleCheck="ROLE_ZSM">
      <div class="row" *ngFor="let z of managers">
        <div class="col-xs-12">
          <div class="box-widget widget-module">
            <div class="widget-head clearfix">
              <span class="h-icon"><i class="fa fa-table"></i></span>
              <h4><strong>{{ z.full_name }}</strong></h4>
            </div>
            <div>
              <div class="widget-container report-table">
                <div class="widget-block">
                  <div class="table-responsive">
                    <table class="table table-bordered visit_table">
                      <thead>
                      <tr style="background-color: #3498db;color: white">
                        <th style="min-width: 120px;">Users</th>
                        <th>Area</th>
                        <th></th>
                        <th *ngFor="let d of dates">
                          {{ d }}
                        </th>
                        <th *ngIf="!view_quantity">Total POB</th>
                        <th *ngIf="view_quantity">Total Quantity</th>
                      </tr>
                      </thead>

                      <tfoot>
                      <tr style="background-color: #3498db;color: white">
                        <th>Users</th>
                        <th>Area</th>
                        <th></th>
                        <th *ngFor="let d of dates">
                          {{ d }}
                        </th>
                        <th *ngIf="!view_quantity">Total POB</th>
                        <th *ngIf="view_quantity">Total Quantity</th>
                      </tr>
                      </tfoot>

                      <tbody>
                      <tr *ngIf="_service.user.isAdmin">
                        <th>{{ z.full_name }}</th>
                        <th>{{ z.hq_region?.name }}</th>
                        <td>
                          <i status [field]="z.status"></i>
                        </td>
                        <template [ngIf]="environment.envName != 'geo'">
                          <td *ngFor="let order of z.orders; let i = index" mgOrderCount
                              [order]="order" [target]="z.daily_target" class="user_click"
                              [view_quantity]="view_quantity"
                              (click)="selectUser(z, i + 1, order)"></td>
                        </template>
                        <template [ngIf]="environment.envName == 'geo'">
                          <template [ngIf]="z.username != 'delhiregion'">
                            <td *ngFor="let order of z.orders; let i = index" mgOrderCount
                                [order]="order" [target]="z.daily_target" class="user_click"
                                [view_quantity]="view_quantity"
                                (click)="selectUser(z, i + 1, order)">
                            </td>
                          </template>
                          <template [ngIf]="z.username == 'delhiregion'">
                            <td *ngFor="let order of z.orders; let i = index" mgOrderCount
                                [order]="order" [target]="z.daily_target_40" class="user_click"
                                [view_quantity]="view_quantity"
                                (click)="selectUser(z, i + 1, order)"></td>
                          </template>
                        </template>
                        <td *ngIf="!view_quantity">{{ (z.total_pob_count / 1000).toFixed(1) }}</td>
                        <td *ngIf="view_quantity">{{ (z.total_pob_quantity_count) }}</td>
                      </tr>
                      <tr class="dark_grey">
                        <th>Total</th>
                        <td></td>
                        <td></td>
                        <template ngFor let-order [ngForOf]="z.orders">
                          <td *ngIf="!view_quantity">
                            {{ (order.zsm_order_total_count / 1000).toFixed(1) }}
                          </td>
                          <td *ngIf="view_quantity">
                            {{ (order.zsm_order_total_quantity) }}
                          </td>
                        </template>
                        <td *ngIf="!view_quantity">{{ (z.zsm_total_pob_count / 1000).toFixed(1) }}</td>
                        <td *ngIf="view_quantity">{{ (z.zsm_total_pob_quantity_count) }}</td>

                      </tr>
                      <template ngFor let-mg [ngForOf]="z.children">
                        <tr>
                          <th>{{ mg.full_name }}</th>
                          <th>{{ mg.hq_area?.name }}</th>
                          <td>
                            <i status [field]="mg.status"></i>
                          </td>
                          <template [ngIf]="environment.envName != 'geo'">
                            <td *ngFor="let order of mg.orders; let i = index" mgOrderCount
                                [order]="order" [target]="mg.daily_target" class="user_click"
                                [view_quantity]="view_quantity"
                                (click)="selectUser(mg, i + 1, order)"></td>
                          </template>
                          <template [ngIf]="environment.envName == 'geo'">
                            <template [ngIf]="z.username != 'delhiregion'">
                              <td *ngFor="let order of mg.orders; let i = index" mgOrderCount
                                  [order]="order" [target]="mg.daily_target" class="user_click"
                                  [view_quantity]="view_quantity"
                                  (click)="selectUser(mg, i + 1, order)">
                              </td>
                            </template>
                            <template [ngIf]="z.username == 'delhiregion'">
                              <td *ngFor="let order of mg.orders; let i = index" mgOrderCount
                                  [order]="order" [target]="mg.daily_target_40" class="user_click"
                                  [view_quantity]="view_quantity"
                                  (click)="selectUser(mg, i + 1, order)"></td>
                            </template>
                          </template>
                          <td *ngIf="!view_quantity">{{ (mg.total_pob_count / 1000).toFixed(1) }}</td>
                          <td *ngIf="view_quantity">{{ (mg.total_pob_quantity_count) }}</td>
                        </tr>
                      </template>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ./Order Table -->
</div>

<div class="modal fade" tabindex="-1" role="dialog" #user_order_table>
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <!-- Create Tour View -->
        <div class="row" *ngIf="user">
          <!-- Tour Table -->
          <div class="col-xs-12">
            <div>
              <user-order-list [user]="user" [date]="date" [month]="month"
                               [year]="year"></user-order-list>
            </div>
          </div>
          <!-- ./Tour Table -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>