<div class="container-fluid bricks" #loading_box>
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-4">
                <div class="page-breadcrumb-wrap">
                    <div class="page-breadcrumb-info">
                        <h2 class="breadcrumb-titles">Headquarter wise Customer Distribution
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Breadcrumb -->

    <!-- Attendance Table -->
    <div class="row" *ngFor="let z of regions">
        <div class="col-xs-12">
            <div class="box-widget widget-module">
                <div class="widget-head clearfix">
                    <span class="h-icon"><i class="fa fa-table"></i></span>
                    <h4><strong>{{ z.name }}</strong></h4>
                </div>
                <div>
                    <div class="widget-container report-table">
                        <div class="widget-block">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Headquarters</th>
                                        <th colspan="6">Total</th>
                                        <th rowspan="2">Total Bricks</th>
                                        <th colspan="2" rowspan="2">Retailer</th>
                                        <th colspan="2" rowspan="2">Semi</th>
                                        <th colspan="2" rowspan="2">Hub Chemist</th>
                                        <th colspan="2" rowspan="2">Physician</th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Customer</th>
                                        <th>Stockists</th>
                                        <th>Retailers</th>
                                        <th>Semi</th>
                                        <th>Hub Chemist</th>
                                        <th>Physician</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <template ngFor let-area [ngForOf]="z.areas">
                                        <tr>
                                            <th [colSpan]="area.headquarters[0]?.customer_types.length + 11"
                                                class="text-center">
                                                <strong>{{ area.name }}</strong>
                                            </th>
                                        </tr>
                                        <tr *ngFor="let hq of area.headquarters">
                                            <th>{{ hq.name }}</th>
                                            <td>{{ hq.customer_types[0].customer_count
                                                + hq.customer_types[1].customer_count
                                                + hq.customer_types[2].customer_count
                                                + hq.customer_types[3].customer_count
                                                + hq.customer_types[4].customer_count
                                                }}
                                            </td>
                                            <td>{{ hq.customer_types[0].customer_count }}</td>
                                            <td>{{ hq.customer_types[2].customer_count }}</td>
                                            <td>{{ hq.customer_types[1].customer_count }}</td>
                                            <td>{{ hq.customer_types[3].customer_count }}</td>
                                            <td>{{ hq.customer_types[4].customer_count }}</td>
                                            <td>{{ hq.total_bricks }}</td>
                                            <td>{{ hq.retailer_count }}</td>
                                            <td [ngClass]="{'above_80': ((hq.retailer_count / hq.total_bricks) * 100) > 80}">
                                                {{ ((hq.retailer_count / hq.total_bricks) * 100).toFixed(0) }} %
                                            </td>
                                            <td>{{ hq.semi_count }}</td>
                                            <td [ngClass]="{'above_70': ((hq.semi_count / hq.total_bricks) * 100) > 70}">
                                                {{ ((hq.semi_count / hq.total_bricks) * 100).toFixed(0) }} %
                                            </td>
                                            <td>{{ hq.hub_count }}</td>
                                            <td [ngClass]="{'above_50': ((hq.hub_count / hq.total_bricks) * 100) > 50}">
                                                {{ ((hq.hub_count / hq.total_bricks) * 100).toFixed(0) }} %
                                            </td>
                                            <td>{{ hq.phy_count }}</td>
                                            <td>{{ ((hq.phy_count / hq.total_bricks) * 100).toFixed(0) }} %</td>
                                        </tr>
                                    </template>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
